<% content_for :meta_title, "Cinemas em Porto Alegre - RS" %>
<% content_for :back_button, true %>
<% content_for :top_app_bar_title, truncate('Cinemas em Porto Alegre', length: 30) %>

<%= notice %>

<%= render(ModalComponent.new) %>

<div class="px-5 mx-auto mb-6 max-w-screen-lg text-center md:mt-5 md:px-0">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8286231373119724"
					crossorigin="anonymous"></script>
	<!-- ad cinemas#show -->
	<ins class="adsbygoogle"
			 style="display:inline-block;width:728px;height:90px"
			 data-ad-client="ca-pub-8286231373119724"
			 data-ad-slot="5999052743"></ins>
	<script>
      (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>

<% cache [@cinemas&.cache_version, mobile_device? ? 'mobile' : 'desktop'] do %>
	<section class="px-5 mx-auto mt-6 mb-16 max-w-screen-lg min-h-screen md:mt-12 md:px-0">
		<h1 class="mb-6 c-h1">Cinemas em Porto Alegre</h1>

		<div class="grid grid-cols-1 gap-5 justify-self-stretch">
			<% @cinemas.sort_by { |c| c.display_name }.each do |cinema| %>
				<div class="relative p-3 pb-14 rounded-lg border md:pt-5 md:pl-5 md:pr-5 md:pb-5">
					<div class="flex justify-between mb-3 space-x-3">
						<h2 id="<%= cinema&.slug %>" class="c-h2 text-brand-600 hover:text-brand-500">
							<%= link_to cinema.display_name, cinema_path(cinema) %>
						</h2>
					</div>
					<div class="col-span-3 pr-5 mb-5 text-sm">
						<div class="leading-snug text-gray-700 text-xxs md:text-sm">
							<%= cinema.address %>
							<% if cinema.neighborhood&.present? %>
								‧
								<span class="font-semibold">Bairro próximo:</span> <%= cinema.neighborhood %>
							<% end %>
							<% if cinema.reference_place&.present? %>
								‧
								<span class="font-semibold">Local:</span> <%= cinema.reference_place %>
							<% end %>
							<% if cinema.lower_price&.present? %>
								‧
								<span class="font-semibold">Menor preço da inteira:</span> <%= number_to_currency cinema.lower_price, locale: 'pt-BR' %>
							<% end %>
							<% if cinema.google_maps&.present? %>
								‧
								<a href="<%= cinema.google_maps %>" rel="nofollow" target="_blank" class="font-semibold">Abrir
									no Google Maps</a>
							<% end %>
							<% if cinema.website&.present? %>
								‧
								<a href="<%= cinema.website %>" rel="nofollow" target="_blank" class="font-semibold text-brand-600">
									Ver site oficial
								</a>
							<% end %>
						</div>
					</div>
					<div data-controller="slider" data-slider-distance-value="400" class="relative px-5 -mx-5">
						<div class="hidden absolute top-0 left-0 z-20 items-center w-2 h-full select-none md:flex">
							<div data-slider-target="left" data-action="click->slider#left mouseenter->hovercard#hide" class="hidden my-auto -ml-5 bg-white rounded-full border shadow-lg transition-colors duration-200 cursor-pointer hover:bg-brand-200 hover:border-brand-200 text-brand-700">
								<svg xmlns="http://www.w3.org/2000/svg" class="p-2 w-10 h-10 fill-current" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
								</svg>
							</div>
						</div>
						<div class="hidden absolute top-0 right-0 z-20 items-center w-3 h-full select-none md:flex">
							<div data-slider-target="right" data-action="click->slider#right mouseenter->hovercard#hide" class="my-auto -ml-2 bg-white rounded-full border shadow-lg transition-colors duration-200 cursor-pointer hover:bg-brand-200 hover:border-brand-200 text-brand-700">
								<svg xmlns="http://www.w3.org/2000/svg" class="p-2 w-10 h-10 fill-current" viewBox="0 0 20 20" fill="currentColor">
									<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
								</svg>
							</div>
						</div>
						<div data-slider-target="scroller" class="-m-3 space-x-3 md:-mx-5 scrollx">
							<div class="grid grid-flow-col gap-2 py-2 px-3 md:px-5 w-content">
								<% cinema.movies.sort_by { |m| m.created_at }.reverse.each_with_index do |movie, index| %>
									<%= link_to movie_path(movie, cinema: cinema), class: 'flex flex-col w-24 md:w-18 transition-transform transform group md:hover:scale-105', data: { 'turbo-preserve-scroll': true } do %>
										<div class="relative z-10 bg-gray-100">
											<% if is_new_movie?(movie) %>
												<div title="Criado nos últimos 5 dias" class="absolute bg-white border border-brand-100 bottom-1 font-semibold left-1 md:bottom-2 md:left-2 md:shadow px-1 py-0.5 rounded text-brand-600 text-white text-xxs">NOVO</div>
											<% end %>
											<%= image_tag shrine_image_url(movie, :medium), {
												loading: :lazy,
												title:   movie.title,
												alt:     "Filme #{movie.title}",
												class:   'border shadow-sm group-hover:shadow w-24 h-36 md:w-18 md:h-36 bg-gray-100 object-center rounded-lg',
												onerror: "this.style.opacity='0'"
											} rescue nil %>
										</div>
										<%= tag.div limit_name_size(movie.title, 24), class: 'leading-tight mt-2 inline-block text-xs font-medium text-gray-900' %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<%= link_to cinema_path(cinema), class: 'md:hidden absolute bottom-0 left-0 py-2 w-full text-sm font-semibold text-center bg-brand-100 text-brand-600 inline-block' do %>
						Ver filmes em <%= cinema.display_name %>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
<% end %>
