<%

	raise ArgumentError unless data

	data = {
			type:    nil,
			filters: []
	}.deep_merge!(data)

%>

<% if data[:filters].present? %>
	<div class="me-chip-set__wrapper">
		<div data-controller="filter"
				 data-target="filter.chipset"
				 data-filter-type="<%= data[:type] %>"
				 class="me-chip-set mdc-chip-set mdc-chip-set--choice">
			<% Array(data[:filters]).each do |filter| %>
				<% if data[:type] == 'days' %>
					<div class="me-chip mdc-chip"
							 data-action="click->filter#select"
							 data-filter-value="<%= filter['string'] %>"
							 data-target="filter.chip"
							 data-turbolinks-scroll="false">
						<div class="mdc-chip__text">
							<%= filter['decorator'] %>
						</div>
					</div>
				<% else %>
					<div class="me-chip mdc-chip"
							 data-action="click->filter#select"
							 data-filter-value="<%= filter %>"
							 data-target="filter.chip"
							 data-turbolinks-scroll="false">
						<div class="mdc-chip__text">
							<%= filter %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
