<div data-controller="chip"
     data-chip-default-value="<%= initial_filters.to_json %>"
     data-chip-type="filter"
     data-target="chip.chipset filter.<%= type %>"
     class="me-chip-set <%= (['kinds'].include?(type)) ? 'me-chip-set--small' : nil %> mdc-chip-set mdc-chip-set--<%= variant ||= 'filter' %>">
    <i class="material-icons">
      <%= icon_type %>
    </i>
  <% Array(filters_that_exist_in_events).each do |filter| %>
    <% if type == 'ocurrences' %>
      <div data-target="chip.chip" data-action="click->chip#select" data-chip-value="<%= filter['string'] %>"
           class="me-chip mdc-chip <%= params_filters and filter_exist_in_ocurrences?(params_filters, filter['string']) ? 'mdc-chip--selected' : nil %>"
           data-turbolinks-scroll="false">
        <div class="mdc-chip__checkmark">
          <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
            <path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
        </div>
        <div class="mdc-chip__text">
          <%= filter['decorator'].try(:capitalize) %>
        </div>
      </div>
    <% else %>
      <div data-target="chip.chip" data-action="click->chip#select" data-chip-value="<%= filter %>"
           class="me-chip mdc-chip <%= params_filters.try(:to_s) and params_filters.include?(filter) ? 'mdc-chip--selected' : nil %>"
           data-turbolinks-scroll="false">
        <div class="mdc-chip__checkmark">
          <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
            <path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
        </div>
        <div class="mdc-chip__text">
          <%= filter.capitalize %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>