<div id="<%= dom_id event %>" class="flex justify-between p-5 border-b border-gray-100">
	<div class="pr-2">
		<div class="mb-1 text-sm  text-gray-600">
			<%= format_hour event.start_time %>h · <%= event.categories_primary_name.titleize %>
		</div>
		<div class="mb-1 leading-snug text-gray-600">
			<%= link_to event.name, event_path(event), class: 'md:hover:underline' %>
		</div>
		<div class="text-sm  text-gray-600">
			<%= link_to limit_place_name_size(event.place_details_name, 24), place_path(event.place), class: 'md:hover:underline' %>
		</div>
		<div class="flex my-1 -ml-2">
			<%= render partial: 'components/taste_button',
								 locals:  {
										 user:            user,
										 resource:        event,
										 taste_type:      :save,
										 taste_sentiment: :positive,
										 parent_id:       dom_id(event)
								 } %>
			<%= render partial: 'components/taste_button',
								 locals:  {
										 user:            user,
										 resource:        event,
										 taste_type:      :dislike,
										 taste_sentiment: :negative,
										 parent_id:       dom_id(event)
								 } %>
		</div>
	</div>
	<div>
		<div data-controller="ripple" class="relative w-32 mt-6 overflow-hidden rounded-lg ripple ripple-white">
			<div class="bg-gray-50 aspect-ratio-16/9"></div>
			<%= link_to event_path(event) do %>
				<%= image_tag shrine_image_url(event, :feed), {
						loading: :lazy,
						class:   'absolute cursor-pointer h-full left-0 object-center object-cover top-0 w-full overflow-hidden',
						onerror: "this.style.opacity='0'"
				} rescue nil %>
			<% end %>
		</div>
	</div>
</div>
