<h2 class="mdc-typography--headline1"><%= title %></h2>
<div class="me-feed__divider"></div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <% events.each do |event| %>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
      <div class="me-card mdc-card mdc-card--outlined event-<%= event.id %>" data-controller="event" data-target="event.event" data-action="mouseover->event#showEventDetails" data-event-favorited="<%= current_user.favorited?(event, scope: ['favorite']) if current_user %>" data-event-identifier="<%= event.id %>">
        <a href="<%= event.url %>">
          <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('<%= event.cover_url %>')">
            <div class="me-card__overlay"></div>
          </div>

          <div class="mdc-card__title" data-target="event.name">
            <%= event.name[0..50] %>
          </div>

          <div class="me-card__place" data-target="event.place" style="display: none">
            <%= event.place.try(:name) if event.place %>
          </div>

          <div class="me-card__date" data-target="event.date" style="display: none">
            <%= event.day_of_week %>
          </div>
        </a>

        <div class="me-card__like-button" data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton" id="add-to-favorites" class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if favorited(event) %>" style="display: none" aria-label="Add to favorites" aria-hidden="true" aria-pressed="false">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
              <i class="material-icons mdc-icon-button__icon">star_border</i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
