<h2 class="mdc-typography--<%= type == :large ? 'headline1' : 'headline2' %>">
  <%= title %>
</h2>

<div class="me-feed__divider"></div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <% events.each do |event| %>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone">
      <div class="me-card mdc-card mdc-card--outlined event-<%= event.id %>" data-controller="event" data-target="event.event" data-action="mouseover->event#showEventDetails" data-event-favorited="<%= current_user.taste_events_saved? event.id if current_user %>" data-event-identifier="<%= event.id %>">
        <a href="<%= event.url %>">
          <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('<%= event.cover_url %>')">
            <div class="me-card__overlay"></div>
          </div>

          <div class="mdc-card__title" data-target="event.name">
            <%= event.name %> • <span class="me-card__category"><%= event.categories_primary_name.capitalize %></span>
          </div>

          <div class="me-card__place" data-target="event.place" style="display: none">
            <%= event.place.try(:name) if event.place %>
          </div>

          <div class="me-card__date" data-target="event.date" style="display: none">
            <%= event.day_of_week %>
          </div>

        </a>

        <div class="me-card__like-button" data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton" id="add-to-favorites" class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_user.taste_events_saved?(event.id) %>" style="display: none" aria-label="Add to favorites" aria-hidden="true" aria-pressed="false">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
              <i class="material-icons mdc-icon-button__icon">star_border</i>
            </button>
          </div>
        </div>

        <% if current_user.admin? %>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-icons">
            <div class="mdc-menu-surface--anchor">
              <button data-target="event.moreButton" data-action="click->event#openMenu" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="More options">more_vert</button>
              <div data-target="event.menu" class="mdc-menu mdc-menu-surface">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__text"><%= link_to  "Persona correta", retrain_path(event_id: event.id, feature: 'personas', correct: true), remote: true %></span>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__text"><%= link_to  "Persona outlier", retrain_path(event_id: event.id, feature: 'personas', outlier: true), remote: true %></span>
                  </li>
                  <% ["aventureiro", "cult", "geek", "hipster", "praieiro", "turista", "underground", "zeen"].each do |persona| %>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  persona.capitalize, retrain_path(event_id: event.id, feature: 'personas', persona: persona), remote: true %></span>
                    </li>
                  <% end %>
                  <li class="mdc-list-divider" role="separator"></li>
                  
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__text"><%= link_to  "Categoria correta", retrain_path(event_id: event.id, feature: 'categories', correct: true), remote: true %></span>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <span class="mdc-list-item__text"><%= link_to  "Categoria outlier", retrain_path(event_id: event.id, feature: 'categories', outlier: true), remote: true %></span>
                  </li>
                  <% ["festa", "curso", "teatro", "show", "cinema", "exposição", "feira", "aventura", "meetup", "hackaton"].each do |category| %>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  category.capitalize, retrain_path(event_id: event.id, feature: 'categories', category: category), remote: true %></span>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <% end %>
  </div>
</div>
