
<div id="<%= identifier %>" class="me-feed__section"> 
  <h2 class="mdc-typography--<%= type == :large ? 'headline1' : 'headline2' %>">
    <%= title %>
    
    <% if filters %>
      <div data-controller="filter" data-target="filter.filterContainer" class="me-filter">
        <% if filters[:personas] %>
          <div data-controller="chip" data-chip-type="personas" data-target="chip.chipContainer filter.personas" class="me-chip-set mdc-chip-set mdc-chip-set--filter">
            <% Event.active.collect(&:personas_primary_name).uniq.each do |persona| %>
              <div data-target="chip.chip" data-action="click->chip#select" class="me-chip mdc-chip <%= params[:personas] and params[:personas].include?(persona) ? 'mdc-chip--selected' : nil %>">
                <div class="mdc-chip__checkmark" >
                  <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                    <path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                </div>
                <div class="mdc-chip__text">
                  <%= persona.capitalize %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if filters[:categories] %>
          nas categorias 
          <div data-controller="chip" data-chip-type="categories" data-target="chip.chipContainer filter.categories" class="me-chip-set mdc-chip-set mdc-chip-set--filter">
            <% Event.with_personas(params[:personas]).collect(&:categories_primary_name).uniq.each do |category| %>
              <div data-target="chip.chip" data-action="click->chip#select" class="me-chip mdc-chip <%= params[:categories] and params[:categories].include?(category) ? 'mdc-chip--selected' : nil %>" data-turbolinks-scroll="false">
                <div class="mdc-chip__checkmark" >
                  <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                    <path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                </div>
                <div class="mdc-chip__text">
                  <%= category.capitalize %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
  
        <% if filters[:occurences] %>
          acontecendo
          <div data-controller="chip" data-chip-type="ocurrences" data-target="chip.chipContainer filter.ocurrences" class="me-chip-set mdc-chip-set mdc-chip-set--filter">
            <% ['hoje', 'amanhã'].each do |ocurrence| %>
              <div data-target="chip.chip" data-action="click->chip#select" class="me-chip mdc-chip <%= params[:ocurrences] and params[:ocurrences].include?(ocurrence) ? 'mdc-chip--selected' : nil %>" data-turbolinks-scroll="false">
                <div class="mdc-chip__checkmark" >
                  <svg class="mdc-chip__checkmark-svg" viewBox="-2 -3 30 30">
                    <path class="mdc-chip__checkmark-path" fill="none" stroke="black" d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                  </svg>
                </div>
                <div class="mdc-chip__text">
                  <%= ocurrence.capitalize %>
                </div>
              </div>
            <% end %>
          </div>.
        <% end %>
      </div>
    <% end %>  
  </h2>


  <div class="me-feed__divider"></div>

  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <% events.each do |event| %>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-12-phone">
        <div class="me-card mdc-card mdc-card--outlined event-<%= event.id %>" data-controller="event" data-target="event.event" data-action="mouseover->event#showEventDetails" data-event-favorited="<%= current_or_guest_user.taste_events_saved? event.id if current_user %>" data-event-identifier="<%= event.id %>">
            <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('<%= rails_blob_url(event.cover) if event.cover.attached? %>')">
              <a href="<%= event.url %>">
                <div data-target="event.overlay" class="me-card__overlay"></div>
              </a>

              <div class="me-card__like-button" data-action="click->event#like">
                <div data-target="event.like">
                  <button data-target="event.likeButton" id="add-to-favorites" class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_or_guest_user.taste_events_saved?(event.id) %>" style="<%= 'display: none' unless current_user && current_user.taste_events_saved?(event.id) %>" aria-label="Add to favorites" aria-hidden="true" aria-pressed="false">
                    <i class="material-icons-sharp mdc-icon-button__icon mdc-icon-button__icon--on">mood</i>
                    <i class="material-icons-sharp mdc-icon-button__icon">sentiment_satisfied</i>
                  </button>
                </div>
              </div>
            </div>

            <span class="me-card__category" data-target="event.category">
              <%= event.categories_primary_name.capitalize %>
            </span>
            
            <div class="mdc-card__title" data-target="event.name">
              <a href="<%= event.url %>">
                <%= limit_name_size event.name %>
              </a>
            </div>

            <div class="me-card__place" data-target="event.place">
              <%= limit_place_name_size event.place_name %>
            </div>

            <div class="me-card__date" data-target="event.date">
              <%= event.day_of_week %>
            </div>


          <% if current_or_guest_user.admin? %>
          <div class="mdc-card__actions">
            <div class="mdc-card__action-icons">
              <div class="mdc-menu-surface--anchor">
                <button data-target="event.moreButton" data-action="click->event#openMenu" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" title="More options">more_vert</button>
                <div data-target="event.menu" class="mdc-menu mdc-menu-surface">
                  <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1">
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  "Persona correta", retrain_path(event_id: event.id, feature: 'personas', correct: true), remote: true %></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  "Persona outlier", retrain_path(event_id: event.id, feature: 'personas', outlier: true), remote: true %></span>
                    </li>
                    <% ["aventureiro", "cult", "geek", "hipster", "praieiro", "turista", "underground", "zeen"].each do |persona| %>
                      <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text"><%= link_to  persona.capitalize, retrain_path(event_id: event.id, feature: 'personas', persona: persona), remote: true %></span>
                      </li>
                    <% end %>
                    <li class="mdc-list-divider" role="separator"></li>
                    
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  "Categoria correta", retrain_path(event_id: event.id, feature: 'categories', correct: true), remote: true %></span>
                    </li>
                    <li class="mdc-list-item" role="menuitem">
                      <span class="mdc-list-item__text"><%= link_to  "Categoria outlier", retrain_path(event_id: event.id, feature: 'categories', outlier: true), remote: true %></span>
                    </li>
                    <% ["festa", "curso", "teatro", "show", "cinema", "exposição", "feira", "aventura", "meetup", "hackaton", "palestra", "celebração", "workshop", "oficina", "aula de dança", "literatura", "festival", "acadêmico", "gastronômico", "brecho", "profissional"].each do |category| %>
                      <li class="mdc-list-item" role="menuitem">
                        <span class="mdc-list-item__text"><%= link_to  category.capitalize, retrain_path(event_id: event.id, feature: 'categories', category: category), remote: true %></span>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
