<%

	section_identifier = local_assigns.fetch(:identifier, 'default')

	html = {
			taste_add:    {
					visible: true
			},
			taste_remove: {
					visible: true
			}
	}.deep_merge!(local_assigns.fetch(:html, {}))

	opts = {

	}.deep_merge!(local_assigns.fetch(:opts, {}))

%>

<div class="<%= html.dig(:container, :css) || class_names('bg-white flex flex-col group h-content relative rounded-lg shadow tap-highlight-none w-64') %>"
		 data-<%= section_identifier %>-flip-key="<%= "#{section_identifier}-#{dom_id event}" %>"
		 data-controller="event"
		 data-event-dominant-color="<%= get_image_dominant_color event %>"
		 data-event-identifier="<%= event.id %>"
		 data-event-similar-loading="false"
		 data-target="event.event"
		 id="<%= dom_id event %>"
		 style="order: <%= event_counter + 1 %>">
	<div data-controller="ripple" class="relative overflow-hidden ripple ripple-white">
		<div class="bg-white rounded-t-lg aspect-ratio-16/9"></div>
		<%= image_tag shrine_image_url(event, :feed), {
				loading: :lazy,
				class:   'absolute h-32 h-full left-0 object-center object-cover top-0 w-full rounded-t-lg overflow-hidden',
				onerror: "this.style.opacity='0'"
		} if event.image[:feed] %>
	</div>
	<div class="pt-1 px-3 pb-2 quinta text-gray-600 <%= event.day_of_week['decorator'].parameterize %>"
			 data-target="event.date">
		<div class="font-medium group-hover:text-green-500 inline-block mt-1 text-base text-gray-800"><%= event.details_name %></div>
		<span class="<%= html.dig(:time_until, :css) || 'font-light inline-block leading-snug mt-1 text-gray-600 text-xs' %>">
				<%= limit_description_size event.details_description %>
			</span>
		<div class="flex justify-center mt-2 -mb-6 space-x-2">
			<%= render partial: 'components/taste_button',
								 locals:  {
										 user:            user,
										 resource:        event,
										 taste_type:      :save,
										 taste_sentiment: :positive,
										 parent_id:       "cell-#{section_identifier}-#{dom_id event}",
										 html:            {
												 container: {
														 css: 'bg-green-50 border-2 border-green-300 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:scale-105 hover:text-green-400 items-center justify-center p-3 rounded-full select-none shadow tap-highlight-none text-green-500 text-sm transform transition-transform'
												 },
												 icon:      {
														 css: 'fill-current h-5 hover:scale-150 text-green-500'
												 }
										 },
										 opts:            {
												 training: true,
												 partial:  'feeds/train_event'
										 }
								 } if html.dig(:taste_add, :visible) %>

			<%= render partial: 'components/taste_button',
								 locals:  {
										 user:            user,
										 resource:        event,
										 taste_type:      :dislike,
										 taste_sentiment: :negative,
										 parent_id:       "cell-#{section_identifier}-#{dom_id event}",
										 html:            {
												 container: {
														 css: 'bg-red-50 border-2 border-red-200 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:scale-105 hover:text-red-400 items-center justify-center p-3 rounded-full select-none shadow tap-highlight-none text-red-500 text-sm transform transition-transform'
												 },
												 icon:      {
														 css: 'fill-current h-5 hover:scale-150 text-red-500'
												 }
										 },
										 opts:            {
												 training: true,
												 partial:  'feeds/train_event'
										 }
								 } if html.dig(:taste_remove, :visible) %>
		</div>
	</div>
</div>

