<%#= render partial: "feeds/float_menu" unless mobile_device? %>

<section data-controller="page" data-target="page.page" class="mx-auto mt-32 space-y-16 is-animated lg:w-9/12 md:mt-40 sm:container">
	<%# if current_user && current_user.notifications_topics_all_requested == false %>
	<!-- <div class="me-section">
      <div class="me-section__inner">
        <div class="me-notification" data-controller="notification" data-notification-active="<%= current_user&.notifications_topics_all_active %>">
          <div class="me-switch mdc-switch" data-target="notification.switch">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__thumb-underlay">
              <div class="mdc-switch__thumb">
                <input data-target="notification.input" data-action="change->notification#change" type="checkbox" <%= 'checked' if current_user&.notifications_topics_all_active %> id="another-basic-switch" class="mdc-switch__native-control" role="switch">
              </div>
            </div>
          </div>
          <label for="another-basic-switch" data-target="notification.label">Notificações
            <span>Receba até 1 notificação por dia para avisar sobre seus eventos agendados e novos eventos que podem te interessar.</span>
          </label>
        </div>
      </div>
    </div> -->
	<%# end %>

	<% cache([current_user, 'swipable-events', @swipable_items.pluck(:id)]) do %>
		<% if current_user && @swipable_items.size > 0 && (current_user&.swipable.dig('events', 'last_view_at').blank? || current_user&.swipable.dig('events', 'last_view_at').try { |last_view_at| last_view_at < (DateTime.now - 8.hours) }) %>
			<%= render partial: 'components/swipable/swipable' %>
		<% end %>
	<% end %>

	<% if @recent_events.size > 0 %>
		<div data-controller="ripple" class="relative flex px-2 py-3 mx-5 -mb-10 overflow-hidden text-xs text-gray-600 border rounded-lg shadow-sm md:border-0 md:mx-0 md:shadow-none ripple ripple-black">
			<%= link_to (@recent_events.size > 1 ? "Foram adicionados #{@recent_events.size} eventos nas últimas 24 horas!" : "Foi adicionado um evento nas últimas 24 horas!"), recent_events_path %>
		</div>
	<% end %>


	<% if current_user %>
		<%= render partial: 'components/events/saves',
							 layout:  'components/stimulus_container',
							 locals:  {
									 user:            current_user,
									 identifier:      'events-saved',
									 saved_resources: @saved_events,
									 html:            {
											 layout:    {
													 id:   'events-saved',
													 data: {
															 controller:               'flip',
															 'flip-started-listener':  'taste->started',
															 'flip-finished-listener': 'cable-ready:after-morph',
															 'flip-identifier':        'data-events-saved-flip-key'
													 }
											 },
											 container: {
													 css: class_names('hidden': @saved_events.blank?)
											 }
									 },
									 cached:          Rails.env.production?,
									 cache_key:       [current_user, 'events_saved', @saved_events.pluck(:id), @saved_events.maximum(:updated_at)]
							 } %>
	<% end %>

	<%= render partial: "components/collection/events/collection",
						 layout:  'components/stimulus_container',
						 locals:  {
								 identifier:        'this-week',
								 user:              current_user,
								 items:             @events_this_week.limit(session[:stimulus][:limit]),
								 total_count:       @events_this_week.size,
								 title:             {
										 principal: "Acontecendo esta semana",
										 tertiary:  (current_user ? "Com base no seu perfil" : nil)
								 },
								 show_similar_to:   session[:stimulus][:show_similar_to],
								 continue_to:       '/porto-alegre/eventos/semana',
								 disposition:       :horizontal,
								 display_if_empty:  true,
								 display_load_more: true,
								 if_greater_than:   2,
								 html:              {
										 layout: {
												 data: {
														 controller:               'flip',
														 'flip-started-listener':  'taste->started',
														 'flip-finished-listener': 'cable-ready:after-add-css-class',
														 'flip-identifier':        'data-this-week-flip-key'
												 }
										 }
								 },
								 opts:              {
										 save_button: {
												 remove_on_action:            true,
												 update_collection_on_action: true
										 }
								 },
								 cached:            Rails.env.production?,
								 cache_key:         [current_user, 'this-week', session[:stimulus].to_param, @events_this_week&.pluck(:id), @events_this_week&.try(:maximum, :updated_at)]
						 } %>

	<%= render partial: "components/collection/events/collection",
						 layout:  'components/stimulus_container',
						 locals:  {
								 identifier:                 'user-suggestions',
								 user:                       current_user,
								 items:                      @events_in_user_suggestions.limit(session[:stimulus][:limit]),
								 total_count:                @events_in_user_suggestions.size,
								 title:                      {
										 principal: "Escolhidos a dedo para #{current_user&.first_name || 'você'}",
										 tertiary:  (current_user ? "Com base nos eventos salvos" : nil)
								 },
								 empty_message:              "Crie uma conta para receber sugestões únicas",
								 show_similar_to:            session[:stimulus][:show_similar_to],
								 continue_to:                "/#{current_user&.slug}/sugestoes",
								 display_if_empty:           true,
								 display_load_more:          true,
								 infinite_scroll_horizontal: true,
								 disposition:                :horizontal,
								 html:                       {
										 layout: {
												 data: {
														 controller:               'flip',
														 'flip-started-listener':  'taste->started',
														 'flip-finished-listener': 'cable-ready:after-add-css-class',
														 'flip-identifier':        'data-user-suggestions-flip-key'
												 }
										 }
								 },
								 opts:                       {
										 save_button: {
												 remove_on_action:            true,
												 update_collection_on_action: true
										 }
								 },
								 cached:                     Rails.env.production?,
								 cache_key:                  [current_user, 'user-suggestions', session[:stimulus].to_param, @events_in_user_suggestions&.pluck(:id), @events_in_user_suggestions&.try(:maximum, :updated_at)]
						 } %>

	<% custom_title = capture do %>
		<% if current_user %>
			<div class="grid grid-flow-col gap-3 pl-5 my-1 grid-after-margin md:pl-0 w-content">
				<% current_user&.following_topics.filter { |topic| topic.events.active.size > 0 }.sort_by { |topic| topic.events.active.size }.reverse!.each do |topic| %>
					<a data-controller="ripple" onclick="window.AnimateModule.animatePageHide()" href="<%= link_to_topic topic %>" class="relative inline-block px-4 py-3 overflow-hidden text-sm font-semibold text-gray-700 border rounded-md shadow-sm cursor-pointer hover:bg-gray-400 ripple ripple-black">
						<%= topic.details_name.titleize %>
						<% if topic.events.active.size > 0 %>
							<span class="inline-flex items-center justify-center w-5 h-5 text-xs font-bold bg-gray-100 rounded-full"><%= topic.events.active.size %></span>
						<% end %>
					</a>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<%= render partial: "components/collection/events/collection",
						 layout:  'components/stimulus_container',
						 locals:  {
								 identifier:        'follow',
								 user:              current_user,
								 items:             @events_from_following_topics.limit(session[:stimulus][:limit]),
								 total_count:       @events_from_following_topics.size,
								 title:             {
										 principal: "Tópicos que você segue",
								 },
								 empty_message:     "Crie uma conta para seguir tópicos e lugares",
								 continue_to:       "/#{current_user&.slug}/seguindo",
								 show_similar_to:   session[:stimulus][:show_similar_to],
								 display_if_empty:  true,
								 display_load_more: true,
								 disposition:       :horizontal,
								 custom_title:      custom_title,
								 html:              {
										 layout: {
												 data: {
														 controller:               'flip',
														 'flip-started-listener':  'taste->started',
														 'flip-finished-listener': 'cable-ready:after-add-css-class',
														 'flip-identifier':        'data-follow-flip-key'
												 }
										 }
								 },
								 opts:              {
										 save_button: {
												 remove_on_action:            true,
												 update_collection_on_action: true
										 }
								 },
								 cached:            Rails.env.production?,
								 cache_key:         [current_user, 'follow', session[:stimulus].to_param, @events_from_following_topics&.pluck(:id), @events_from_following_topics&.try(:maximum, :updated_at)]
						 } %>

	<% custom_title = capture do %>
		<% if current_user %>
			<div class="grid grid-flow-col gap-3 pl-5 text-sm text-gray-800 grid-after-margin md:pl-0 w-content">
				<% User.following_users(current_user).each do |user| %>
					<%= link_to user_path(user), {class: ''} do %>
						<div onclick="window.AnimateModule.animatePageHide()" class="flex flex-col items-center">
							<%= image_tag user.picture, {class: "mb-1 bg-cover bg-gray-400 h-12 md:h-16 md:w-16 rounded-full w-12", alt: user.name, onerror: "this.style.opacity='0'"} if user.picture %>
							<%= tag.div class: "mb-1 bg-cover bg-gray-400 h-12 md:h-16 md:w-16 rounded-full w-12" unless user.picture %>
							<%= user.first_name %>
						</div>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<%= render partial: "components/collection/events/collection",
						 layout:  'components/stimulus_container',
						 locals:  {
								 identifier:        'following-users',
								 user:              current_user,
								 items:             @events_from_followed_users.limit(session[:stimulus][:limit]),
								 total_count:       @events_from_followed_users.size,
								 title:             {
										 principal: "Pessoas que você segue",
								 },
								 empty_message:     "Crie uma conta para seguir pessoas",
								 show_similar_to:   session[:stimulus][:show_similar_to],
								 display_if_empty:  true,
								 display_load_more: true,
								 disposition:       :horizontal,
								 custom_title:      custom_title,
								 html:              {
										 layout: {
												 data: {
														 controller:               'flip',
														 'flip-started-listener':  'taste->started',
														 'flip-finished-listener': 'cable-ready:after-add-css-class',
														 'flip-identifier':        'data-following-users-flip-key'
												 }
										 }
								 },
								 opts:              {
										 save_button: {
												 remove_on_action:            true,
												 update_collection_on_action: true
										 }
								 },
								 cached:            Rails.env.production?,
								 cache_key:         [current_user, 'following-users', session[:stimulus].to_param, @events_from_followed_users&.pluck(:id), @events_from_followed_users&.try(:maximum, :updated_at)]
						 } %>

	<% custom_title = capture do %>
		<% if current_user %>
			<div class="grid grid-flow-col gap-3 py-1 pt-1 pl-5 grid-after-margin md:pl-0 w-content">
				<% ['Cidade Baixa', 'Centro Histórico', 'Bom Fim', 'Moinhos de Vento'].each do |neighborhood| %>
					<%= link_to neighborhood_events_path(neighborhood.parameterize), data: {controller: 'ripple'}, onclick: "window.AnimateModule.animatePageHide()", class: "relative inline-block px-4 py-3 overflow-hidden text-sm font-semibold text-gray-700 border rounded-md shadow-sm cursor-pointer hover:bg-gray-400 ripple ripple-black" do %>
						<%= neighborhood.titleize %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	<% end %>
	<%= render partial: "components/collection/events/collection",
						 layout:  'components/stimulus_container',
						 locals:  {
								 identifier:        'my-neighborhood',
								 user:              current_user,
								 items:             @events_in_my_neighborhood.limit(session[:stimulus][:limit]),
								 total_count:       @events_in_my_neighborhood.size,
								 title:             {
										 principal: "Nos bairros da sua cidade"
								 },
								 empty_message:     "Crie uma conta para ver os eventos do seu bairro",
								 show_similar_to:   session[:stimulus][:show_similar_to],
								 display_if_empty:  true,
								 display_load_more: true,
								 disposition:       :horizontal,
								 custom_title:      custom_title,
								 html:              {
										 layout: {
												 data: {
														 controller:               'flip',
														 'flip-started-listener':  'taste->started',
														 'flip-finished-listener': 'cable-ready:after-add-css-class',
														 'flip-identifier':        'data-my-neighborhood-flip-key'
												 }
										 }
								 },
								 opts:              {
										 save_button: {
												 remove_on_action:            true,
												 update_collection_on_action: true
										 }
								 },
								 cached:            Rails.env.production?,
								 cache_key:         [current_user, 'my-neighborhood', session[:stimulus].to_param, @events_in_my_neighborhood&.pluck(:id), @events_in_my_neighborhood&.try(:maximum, :updated_at)]
						 } %>



	<% if mobile_device? && current_user %>
		<div data-controller="button ripple" data-target="button.button" class="relative px-6 py-4 mx-auto overflow-hidden text-lg font-semibold text-center text-white rounded-full shadow-md bg-chateau-green-500 ripple ripple-white w-content" onclick="location.assign('/porto-alegre/eventos')">
			Explorar todos os eventos
		</div>
	<% end %>

</section>
