<% content_for :canonical_url, 'https://alegreme.com/' %>
<% content_for :meta_title, "Eventos na categoria #{@category&.details_display_name}" if params[:category] %>

<%= render ModalComponent.new %>

<% unless current_user || params[:day] || params[:category] %>
	<div id="hero__presentation" data-turbo-permanent="" class="overflow-hidden relative gap-3 items-center mb-6 h-96 bg-gray-100 select-none md:h-64 md:items-start md:mb-12 md:mx-0" style="min-height: 200px;background: linear-gradient(0deg, #f9f9f9, transparent); ">
		<div class="relative z-20 mx-auto max-w-screen-lg h-full">
			<%= image_tag 'https://alegreme.sfo2.cdn.digitaloceanspaces.com/stable-images/banner.png', class: 'md:-top-24 h-48 md:absolute md:right-0 md:w-4/12 object-cover top-0 w-full z-10' %>
			<div class="flex hidden relative z-20 flex-col justify-end items-center px-5 pb-5 md:px-0 md:justify-center md:items-baseline md:w-7/12">
				<h1 class="hidden md:inline-block c-h2">
					Eventos e cinema em Porto Alegre
				</h1>
				<h1 class="text-center md:hidden c-h2">
					Eventos e cinema em Porto Alegre
				</h1>
				<span class="px-6 md:px-0 md:w-8/12 text-center md:text-left block leading-snug md:inline-block md:leading-normal md:text-base mt-1.5 text-xs">
    			Shows, festas, cinema, feiras de rua... quase tudo que acontece em Porto Alegre está aqui 🤙
				</span>
			</div>
			<div class="flex flex-col items-center space-y-3 md:items-start">
				<h1 class="hidden md:inline-block mt-8 c-h2">
					Eventos e cinema em Porto Alegre
				</h1>
				<h1 class="text-center md:hidden c-h2">
					Eventos e cinema em Porto Alegre
				</h1>
				<div class="flex justify-center mx-12 -space-x-3 md:mx-0">
					<% cache @users.cache_version do %>
						<% @users.each do |user| %>
							<%= image_tag(user.picture, { class: "w-8 h-8 rounded-full border-white border-2 bg-gray-200", style: 'filter: grayscale(0.8)', alt: user.name, onerror: "this.src='https://ui-avatars.com/api/?size=24&background=random&name=#{user.name}'" }) rescue nil %>
						<% end %>
					<% end %>
				</div>
				<span class="px-6 md:px-0 md:w-8/12 text-center md:text-left block leading-snug md:inline-block md:leading-normal md:text-base mt-1.5 text-xs">
					Junte-se a mais de 10.000 pessoas e aproveite
					shows, festas, cinema, feiras de rua... Crie sua conta, é grátis 🤙
				</span>
				<a href="<%= new_user_registration_path %>" class="inline-flex items-center py-2 px-4 text-sm font-medium text-white rounded-md border border-transparent shadow-sm md:inline-block bg-brand-600 focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 hover:bg-brand-500">Criar
					conta</a>
			</div>
		</div>
	</div>
<% end %>

<div id="main-content" class="gap-24 mx-auto max-w-screen-lg md:grid md:grid-cols-8">
	<section id="main-sidebar" class="col-span-8 pt-8 space-y-16 min-h-screen md:pt-12 md:col-span-5">
		<% if notice %>
			<div class="flex items-center p-3 space-x-2 max-w-screen-lg text-sm font-semibold rounded-lg border bg-brand-100 border-brand-200 text-brand-600">
				<div class="flex flex-shrink-0 justify-center items-center w-12 h-12 rounded-full bg-brand-100 sm:h-10 sm:w-10">
					<!-- Heroicon name: exclamation -->
					<svg class="w-6 h-6 text-brand-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
					</svg>
				</div>
				<div>
					<%= notice %>
				</div>
			</div>
		<% end %>
		<% unless params[:day] || params[:category] || params[:categories_group] || params[:theme] %>
			<% cache "#{current_user&.cache_key_with_version}/#{current_user&.liked_or_disliked_event_ids&.size}/hero--swipable" do %>
				<%= render Hero::SwipableComponent.new(user: current_user) %>
			<% end %>
		<% end %>
		<% unless params[:theme] || params[:category] || params[:categories_group] %>
			<% cache @upcoming_events&.cache_version do %>
				<%= render partial: 'feeds/horizontal_filter_categories', categories: @categories %>
			<% end %>
		<% end %>
		<% if @movies.present? && controller_name == 'feeds' && action_name == 'index' && params[:category].blank? && params[:categories_group].blank? && params[:theme].blank? %>
			<% cache [@movies&.cache_version, current_user] do %>
				<%= render partial: 'movies/movies', locals: { movies:         @movies,
																											 selected_movie: @movie,
																											 user:           current_user,
																											 title:          'Filmes em Porto Alegre',
																											 chips:          true,
																											 hovercard:      true,
																											 template:       'default',
																											 target:         '_top',
																											 id:             'movies-index' } %>
			<% end %>
		<% end %>

		<turbo-frame id="main-sidebar--feed" target="_top" class="inline-block px-5 w-full md:px-0">
			<% if @upcoming_events.present? %>
				<div>
					<% if current_page?("/porto-alegre/eventos/categoria/#{params[:category]}") || current_page?("/porto-alegre/eventos/categoria/grupo/#{params[:categories_group]}") %>
						<% content_for :back_button, true %>
						<% content_for :top_app_bar_title, @category&.details_display_name %>
						<div class="-mx-5 md:mx-0 mb-10">
							<%= render partial: 'feeds/horizontal_filter_categories', categories: @categories %>
						</div>
						<h1 class="mb-3 c-h2">
							<span class="text-brand-600"><%= params[:categories_group]&.present? ? params[:categories_group]&.titleize : @category&.details_display_name %></span>
							em Porto Alegre
						</h1>
					<% elsif current_page? "/porto-alegre/eventos/tema/#{params[:theme]}" %>
						<% content_for :back_button, true %>
						<% content_for :top_app_bar_title, 'Educação e trabalho' %>
						<div class="-mx-5 md:mx-0 mb-10">
							<%= render partial: 'feeds/horizontal_filter_categories', categories: @categories %>
						</div>
						<h1 class="mb-3 c-h2">
							<span class="text-brand-600">Educação e trabalho</span> em Porto Alegre
						</h1>
					<% else %>
						<h1 class="c-h2">
							Eventos em Porto Alegre
						</h1>
						<%= render partial: 'feeds/filter', open: false %>
					<% end %>
				</div>
			<% else %>
				<h2 class="px-5 text-xl font-bold text-gray-900 bg-white font-display">
					Não foram encontrados eventos em Porto
					Alegre <%= I18n.l params[:day].to_date if params[:day] %> <%= "na categoria #{@category&.details_display_name&.titleize}" if params[:category] %>
				</h2>
			<% end %>
			<div id="main-sidebar--group-by-day-list" data-controller="main-sidebar--group-by-day-list">
				<%= render partial: 'events/group_by_day_list', locals: { events: @upcoming_events, user: current_user, pagy: @pagy, filters: @filters, open_in_sidebar: true } %>
			</div>
		</turbo-frame>

	</section>
	<% unless mobile_device? %>
		<section id="left-sidebar" class="hidden md:inline-block md:col-span-3 md:bg-white">
			<div data-controller="loader"
					 data-loader-on-loading="horizontal-event#open-event:before"
					 data-loader-on-loaded="horizontal-event#open-event:success"
					 class="sticky top-28 z-10">
				<div id="open-event"
						 data-loader-target="loaded"
						 class="relative z-20 w-96 bg-white">
					<%= render MainSidebar::LargeEventComponent.new(user: current_user, event: nil) %>
				</div>
				<div
					class="flex hidden overscroll-contain left-0 justify-center items-center mt-10 w-96 text-2xl text-gray-800 bg-gray-50 rounded-xl border font-display h-screen-8/10"
					data-loader-target="loading"
					style="">
					Carregando
					<svg data-loader-target="onIcon" class="ml-2 w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path fill="none" d="M0 0h24v24H0V0z"/>
						<path d="M17.65 6.35c-1.63-1.63-3.94-2.57-6.48-2.31-3.67.37-6.69 3.35-7.1 7.02C3.52 15.91 7.27 20 12 20c3.19 0 5.93-1.87 7.21-4.56.32-.67-.16-1.44-.9-1.44-.37 0-.72.2-.88.53-1.13 2.43-3.84 3.97-6.8 3.31-2.22-.49-4.01-2.3-4.48-4.52C5.31 9.44 8.26 6 12 6c1.66 0 3.14.69 4.22 1.78l-1.51 1.51c-.63.63-.19 1.71.7 1.71H19c.55 0 1-.45 1-1V6.41c0-.89-1.08-1.34-1.71-.71l-.64.65z"/>
					</svg>
				</div>
			</div>
			<%= render LeftSidebar::CalendarComponent.new(resources:  @liked_resources,
																										start_date: Date.today,
																										user:       current_user,
																										title:      'Minha agenda',
																										filter:     false) %>
		</section>
	<% end %>


	<!--	<div data-controller="install" data-install-native="true" data-install-target="button" class="flex fixed bottom-20 z-30 items-center w-full transition-transform transform translate-y-32 select-none">-->
	<!--		<span data-action="click->install#install" class="py-3 px-5 mx-auto font-bold text-white bg-white rounded-full shadow-lg bg-brand-500 w-content">-->
	<!--			Instalar aplicativo-->
	<!--		</span>-->
	<!--	</div>-->

</div>



