<%= render partial: "feeds/float_menu" %>

<%= render partial: "saves",
           locals:  {
               identifier:       'salvos',
               favorited_events: @favorited_events
           } %>



<div class="me-feed">
  <% if params[:q] %>
    <%= render partial: "components/collection/collection",
               locals:  {
                   items:      @items[:user],
                   titles:     {
                       principal: "Eventos encontrados para \"#{params[:q]}\""
                   },
                   identifier: 'busca',
                   type:       :large,
                   filters:    false
               } %>

  <% else %>
    <section>
      <%= render partial: "components/collection/collection",
                 locals:  {
                     items:      @items[:today],
                     titles:     {
                         principal: "Eventos acontecendo hoje e amanhã"
                     },
                     identifier: 'today-and-tomorrow',
                     type:       :large,
                     filters:    {
                         categories: true,
                         kinds:      true
                     },
                     detail:     @items[:today][:detail]
                 } %>
    </section>
    <section>
      <%= render partial: "components/collection/collection",
                 locals:  {
                     items:      @items[:follow],
                     titles:     {
                         principal: "Eventos de tópicos que você segue"
                     },
                     identifier: 'follow',
                     type:       :large,
                     filters:    {
                         categories: true,
                         ocurrences: true,
                         kinds:      true
                     },
                     detail:     @items[:follow][:detail]
                 } %>
    </section>
    <section>
      <%= render partial: "components/collection/collection",
                 locals:  {
                     items:      @items[:user_personas],
                     titles:     {
                         principal: "Indicados para você no mês"
                     },
                     identifier: 'user-personas',
                     type:       :large,
                     filters:    {
                         categories: true,
                         ocurrences: true,
                         kinds:      true
                     },
                     detail:     @items[:user_personas][:detail]
                 } %>

    </section>
    <%# render partial: "section", locals: { events: @events[:user], titles: {categories: "Eventos nas categorias", occurences: "acontecendo"}, identifier: 'recomendados', type: :large, filters: { categories: true, occurences: true } } %>
  <% end %>
</div>