<%= render partial: "feeds/float_menu" unless mobile_device? %>

<section class="me-page me-page--feed is-animated">

  <%= render partial: 'components/swipable/swipable' unless current_user&.personas_assortment_finished? %>

  <% unless current_user.notifications_topics_all_requested %>
    <div class="me-section">
      <div class="me-section__inner">
        <div class="me-notification" data-controller="notification" data-notification-active="<%= current_user.notifications_topics_all_active %>">
          <div class="me-switch mdc-switch" data-target="notification.switch">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__thumb-underlay">
              <div class="mdc-switch__thumb">
                <input data-target="notification.input" data-action="change->notification#change" type="checkbox" <%= 'checked' if current_user.notifications_topics_all_active %> id="another-basic-switch" class="mdc-switch__native-control" role="switch">
              </div>
            </div>
          </div>
          <label for="another-basic-switch" data-target="notification.label">Notificações
            <span>Receba até 1 notificação por dia para avisar sobre seus eventos agendados e novos eventos que podem te interessar.</span>
          </label>
        </div>
      </div>
    </div>
  <% end %>


  <div class="me-section">
    <div class="me-section__inner">
      <%= render partial: "components/user_suggestions", locals: {
          data: {
              following_users: @following_users
          }
      } %>
    </div>
  </div>


  <% if current_user && current_user&.personas_assortment_finished? %>
    <section class="me-section">
      <div class="me-section__inner">
        <%= render partial: 'saves',
                   locals:  {
                       identifier:   'salvos',
                       saved_events: @favorited_events
                   } %>
      </div>
    </section>
  <% end %>


  <% if current_user && current_user&.personas_assortment_finished? %>
    <% if current_user&.personas_assortment_finished? %>
      <% if @items.dig(:new_today, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <section class="me-section">
          <div class="me-section__inner">
            <%= render partial: "components/collection/collection", locals: {
                data:  {
                    identifier:  'new-today',
                    collection:  @items[:new_today],
                    title:       {
                        principal: "Adicionados recentemente",
                        tertiary:  "Com base no seu perfil"
                    },
                    type:        :large,
                    filters:     {
                        categories: false,
                        kinds:      false,
                        ocurrences: false
                    },
                    info:        {
                        assert: true,
                        text:   'Descubra seu perfil para ver eventos recém adicionados'
                    },
                    continue_to: "/#{current_user.slug}/novos",
                    origin:      :feed
                },
                props: {
                    disposition: :horizontal
                }
            } %>
          </div>
        </section>
      <% end %>

      <% if current_user && @items.dig(:user_suggestions, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <section class="me-section">
          <div class="me-section__inner">
            <%= render partial: "components/collection/collection", locals: {
                data:  {
                    identifier:  'user-suggestions',
                    collection:  @items[:user_suggestions],
                    title:       {
                        principal: "Escolhidos a dedo para #{current_user.first_name}",
                        # secondary: "Explore os eventos com alta recomendação para seu gosto pessoal",
                        tertiary: "Com base nos eventos salvos"
                    },
                    type:        :large,
                    filters:     {
                        categories: false,
                        kinds:      false,
                        ocurrences: false
                    },
                    info:        {
                        assert: true,
                        text:   'Salve eventos com ❤ para receber sugestões com base no seu gosto'
                    },
                    detail:      @items[:user_suggestions][:detail],
                    origin:      :feed,
                    continue_to: "/#{current_user.slug}/sugestoes"
                },
                props: {
                    disposition: :horizontal
                }
            } %>
          </div>
        </section>
      <% end %>


      <section class="me-section">
        <div class="me-section__inner">
          <% if current_user && @items.dig(:follow, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
            <% follow_topics_custom = capture do %>
              <div class="me-chip-set__wrapper">
                <div class="me-chip-set mdc-chip-set">
                  <% current_user.following_topics.sort_by { |topic| topic.events.active.size }.reverse!.each do |topic| %>
                    <a href="<%= link_to_topic topic %>" class="me-chip mdc-chip <%= 'new' if topic.events.active.any? { |event| current_user.last_sign_in_at < event.created_at } %>">
                      <%= topic.details_name.titleize %>
                      <i class="me-chip__counter"><%= topic.events.active.size %></i>
                    </a>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= render partial: "components/collection/collection", locals: {
                data:  {
                    identifier:  'follow',
                    collection:  @items[:follow],
                    title:       {
                        principal: "Tópicos que você segue",
                        custom:    follow_topics_custom
                    },
                    type:        :large,
                    filters:     {
                        categories: false,
                        kinds:      false,
                        ocurrences: false
                    },
                    info:        {
                        assert: true,
                        text:   'Siga locais e organizadores para ver seus eventos aqui'
                    },
                    detail:      @items[:follow][:detail],
                    origin:      :feed,
                    continue_to: "/#{current_user.slug}/seguindo"

                },
                props: {
                    disposition: :horizontal
                }
            } %>
          <% end %>
        </div>
      </section>


      <% if current_user && @items.dig(:following_users, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <section class="me-section">
          <div class="me-section__inner">
            <% follow_users_custom = capture do %>
              <div class="me-user-suggestions">
                <div class="me-user-suggestions__inner">
                  <% User.following_users(current_user).each do |user| %>
                    <%= link_to user_path user do %>
                      <div class="me-user-suggestions__user">
                        <div class="me-user-suggestions__picture" style="background-image: url('<%= user.picture %>')">
                        </div>
                        <div class="me-user-suggestions__name">
                          <%= user.first_name %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <%= render partial: "components/collection/collection", locals: {
                data:  {
                    identifier: 'following-users',
                    collection: @items[:following_users],
                    title:      {
                        principal: "Pessoas que você segue",
                        custom:    follow_users_custom
                    },
                    type:       :large,
                    filters:    {
                        categories: false,
                        kinds:      false,
                        ocurrences: false
                    },
                    info:        {
                        assert: true,
                        text:   'Siga pessoas para ver seus eventos aqui'
                    },
                    detail:     @items[:following_users][:detail],
                    origin:     :feed,
                    #continue_to: "/#{current_user.slug}/sugestoes"
                },
                props: {
                    disposition: :horizontal
                }
            } %>
          </div>
        </section>
      <% end %>


      <section class="me-section">
        <div class="me-section__inner">
          <% if @items.dig(:week, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
            <%= render partial: "components/collection/collection", locals: {
                data:  {
                    identifier:  'this-week',
                    collection:  @items[:week],
                    title:       {
                        principal: "Acontecendo esta semana",
                        # secondary: "Hoje (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 8, format: :week)} (#{I18n.l(Date.today + 7, format: :short)})",
                        tertiary: "Com base no seu perfil"
                    },
                    type:        :large,
                    filters:     {
                        categories: false,
                        kinds:      false,
                        ocurrences: true
                    },
                    info:        {
                        assert: true,
                        text:   'Descubra seu perfil para ver os eventos da semana sugeridos'
                    },
                    continue_to: '/porto-alegre/eventos/semana',
                    origin:      :feed
                },
                props: {
                    disposition:     :vertical,
                    infinite_scroll: true
                }
            } %>
          <% end %>
        </div>
      </section>


      <% if @items.dig(:explorer, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <section class="me-section">
          <div class="me-section__inner">
            <%= render partial: "components/collection/collection", locals: {
                data: {
                    identifier: 'explorer',
                    collection: @items[:explorer],
                    title:      {
                        principal: "Explorar todos os eventos",
                        secondary: "Use os filtros abaixo e seja feliz :)"
                    },
                    type:       :large,
                    filters:    {
                        categories: true,
                        kinds:      false,
                        ocurrences: true
                    },
                    detail:     @items[:explorer][:detail],
                    origin:     :feed
                }
            } %>
          </div>
        </section>
      <% end %>
    <% end %>
  <% end %>
</section>
