<%= render ModalComponent.new %>

<div id="main-content" class="gap-16 mx-auto max-w-screen-lg md:grid md:grid-cols-8">
	<section id="main-sidebar" class="col-span-8 pt-6 md:pt-12 space-y-10 md:space-y-16 md:col-span-5 min-h-screen">
		<% if notice %>
			<div class="flex items-center p-3 mx-4 space-x-2 max-w-screen-lg text-sm font-semibold rounded-lg border bg-brand-100 border-brand-200 text-brand-600">
				<div class="flex flex-shrink-0 justify-center items-center w-12 h-12 rounded-full bg-brand-100 sm:h-10 sm:w-10">
					<!-- Heroicon name: exclamation -->
					<svg class="w-6 h-6 text-brand-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
					</svg>
				</div>
				<div>
					<%= notice %>
				</div>
			</div>
		<% end %>
		<% unless params[:day] || params[:category] %>
			<% unless current_user %>
				<div id="hero__presentation" data-turbo-permanent class="flex gap-3 inline-flex items-center mb-5 md:bg-transparent md:border-0 md:flex md:flex-row md:items-start md:mx-0 md:my-0 md:px-5 mx-5 rounded-lg select-none tap-highlight-none" style="min-height: <%= mobile_device? ? '110px' : '150px' %>">
					<div class="md:mr-12">
						<h2 class="c-h2">
							Eventos e cinema em Porto Alegre
						</h2>
						<span class="block mt-1.5 text-xs leading-snug text-gray-800 md:text-gray-700 md:inline-block md:leading-normal md:text-base">
    						Descubra eventos e siga seus locais favoritos para n찾o perder nada que acontece na cidade.
    					</span>
					</div>
					<%= image_pack_tag ["hero/bebendo.png", "hero/dancando.png", "hero/skate.png"].sample, class: 'h-24 md:h-36 md:w-36 my-auto w-24' %>
				</div>
			<% end %>
			<%= render Hero::SwipableComponent.new(user: current_user) %>
		<% end %>

		<%= render MoviesComponent.new(movies:    @movies,
																	 user:      current_user,
																	 chips:     true,
																	 hovercard: true,
																	 id:        'movies-index') if @movies.present? && controller_name == 'feeds' && action_name == 'index' && params[:category].blank? %>

		<div id="main-sidebar--feed">
			<% if @upcoming_events.present? %>
				<div class="bg-white">
					<% if params[:category] %>
						<div class="flex justify-between items-center pr-5 md:pr-10">
							<h2 class="px-5 mb-3 c-h2">
								Eventos nos pr처ximos dias na categoria:
								<span class="text-brand-600">
									<%= @category&.details_display_name %>
								</span>
							</h2>
						</div>
					<% elsif params[:day] %>
						<h2 class="px-5 c-h2">
							Eventos no dia <%= I18n.l params[:day].to_date %>
						</h2>
					<% else %>
						<h2 class="px-5 c-h2">
							Eventos nos pr처ximos dias
						</h2>
						<%= render MainSidebar::FilterComponent.new(session:           session.id,
																												params:            params,
																												show_filter_group: nil,
																												filters:           @filters) %>
					<% end %>
				</div>
			<% else %>
				<h2 class="px-5 text-xl font-bold text-gray-900 bg-white font-display">
					N찾o foram encontrados eventos em Porto
					Alegre <%= I18n.l params[:day].to_date if params[:day] %> <%= "na categoria #{@category&.details_display_name&.titleize}" if params[:category] %>
				</h2>
			<% end %>
			<div id="main-sidebar--group-by-day-list" data-controller="main-sidebar--group-by-day-list">
				<%= render MainSidebar::GroupByDayListComponent.new(events: @upcoming_events, user: current_user, pagy: @pagy, filters: @filters, open_in_sidebar: true) %>
			</div>
		</div>
	</section>
	<% unless mobile_device? %>
		<section id="left-sidebar" class="hidden md:inline-block md:col-span-3 md:bg-white">
			<div data-controller="loader"
					 data-loader-on-loading="horizontal-event#open-event:before"
					 data-loader-on-loaded="horizontal-event#open-event:success"
					 class="sticky top-28 z-10">
				<div id="open-event"
						 data-loader-target="loaded"
						 class="relative z-20 w-96 bg-white">
					<%= render MainSidebar::LargeEventComponent.new(user: current_user, event: nil) %>
				</div>
				<div
					class="bg-gray-50 flex hidden overscroll-contain left-0 justify-center items-center mt-10 w-96 text-2xl text-gray-800 rounded-xl border font-display h-screen-8/10"
					data-loader-target="loading"
					style="">
					Carregando
					<svg data-loader-target="onIcon" class="ml-2 w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path fill="none" d="M0 0h24v24H0V0z"/>
						<path d="M17.65 6.35c-1.63-1.63-3.94-2.57-6.48-2.31-3.67.37-6.69 3.35-7.1 7.02C3.52 15.91 7.27 20 12 20c3.19 0 5.93-1.87 7.21-4.56.32-.67-.16-1.44-.9-1.44-.37 0-.72.2-.88.53-1.13 2.43-3.84 3.97-6.8 3.31-2.22-.49-4.01-2.3-4.48-4.52C5.31 9.44 8.26 6 12 6c1.66 0 3.14.69 4.22 1.78l-1.51 1.51c-.63.63-.19 1.71.7 1.71H19c.55 0 1-.45 1-1V6.41c0-.89-1.08-1.34-1.71-.71l-.64.65z"/>
					</svg>
				</div>
			</div>
			<%= render LeftSidebar::CalendarComponent.new(resources:  @liked_resources,
																										start_date: Date.today,
																										user:       current_user,
																										filter:     false,
																										indicators: @indicators) %>
		</section>
	<% end %>


	<!--	<div data-controller="install" data-install-native="true" data-install-target="button" class="flex fixed bottom-20 z-30 items-center w-full transition-transform transform translate-y-32 select-none tap-highlight-none">-->
	<!--		<span data-action="click->install#install" class="py-3 px-5 mx-auto font-bold text-white bg-white rounded-full shadow-lg bg-brand-500 w-content">-->
	<!--			Instalar aplicativo-->
	<!--		</span>-->
	<!--	</div>-->

</div>



