<section class="me-page me-page--feed-section is-animated">
  <%= render partial: 'components/swipable/swipable' unless current_user&.personas_assortment_finished? %>

  <% if current_user && current_user&.personas_assortment_finished? %>
    <div class="me-feed__section me-feed__section--without-margin">
      <div class="me-notification" data-controller="notification" data-active="<%= 'true' if current_user.notifications_topics_all_active %>">
        <div class="me-switch mdc-switch" data-target="notification.switch">
          <div class="mdc-switch__track"></div>
          <div class="mdc-switch__thumb-underlay">
            <div class="mdc-switch__thumb">
              <input data-target="notification.input" data-action="change->notification#change" type="checkbox" <%= 'checked' if current_user.notifications_topics_all_active %> id="another-basic-switch" class="mdc-switch__native-control" role="switch">
            </div>
          </div>
        </div>
        <label for="another-basic-switch" data-target="notification.label">Notificações
          <span>Receba até 1 notificação por dia para avisar sobre seus eventos agendados e novos eventos que podem te interessar.</span>
        </label>
      </div>
    </div>
  <% end %>

  <%= render partial: 'saves',
             locals:  {
                 identifier:   'salvos',
                 saved_events: @favorited_events
             } if current_user && current_user&.personas_assortment_finished? %>


  <div class="me-feed me-page__section">

    <% if current_user&.personas_assortment_finished? %>
      <% if @items.dig(:new_today, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:new_today],
                       title:      {
                           principal: "Adicionados recentemente",
                           secondary: "Foram adicionados #{@items.dig(:new_today, :detail, :total_events_in_collection)} eventos nas últimas 48 horas que podem te interessar"
                       },
                       identifier: 'new-today',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      true,
                               ocurrences: true
                           },
                           detail:  @items[:new_today][:detail],
                           origin:  :feed
                       }
                   } %>
      <% end %>
      <% if @items.dig(:week, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:week],
                       title:      {
                           principal: "Acontecendo esta semana",
                           secondary: "Hoje (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 7, format: :week)} (#{I18n.l(Date.today + 7, format: :short)})"
                       },
                       identifier: 'this-week',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      true,
                               ocurrences: true
                           },
                           detail:  @items[:week][:detail],
                           origin:  :feed
                       }
                   } %>
      <% end %>
      <% if current_user && @items.dig(:follow, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:follow],
                       title:      {
                           principal: "Tópicos que você segue",
                           secondary: "Explore os eventos de organizadores, locais e tags que você segue como #{current_user.following_topics(only: :name, as: :list, size: 6)}.".html_safe
                       },
                       identifier: 'follow',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      true,
                               ocurrences: true
                           },
                           detail:  @items[:follow][:detail],
                           origin:  :feed
                       }
                   } %>
      <% end %>


      <% if current_user && @items.dig(:user_suggestions, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:user_suggestions],
                       title:      {
                           principal: "Indicados para #{current_user.name}",
                           secondary: "Explore os eventos que indicamos com base no seu gosto pessoal"
                       },
                       identifier: 'user-suggestions',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      false,
                               ocurrences: true
                           },
                           detail:  @items[:user_suggestions][:detail],
                           origin:  :feed
                       }
                   } %>

      <% end %>


      <% if @items.dig(:user_personas, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:user_personas],
                       title:      {
                           principal: "Gostos parecidos",
                           secondary: "Explore os eventos que pessoas com gostos parecidos estão salvando"
                       },
                       identifier: 'user-personas',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      false,
                               ocurrences: true
                           },
                           detail:  @items[:user_personas][:detail],
                           origin:  :feed
                       }
                   } %>
      <% end %>

      <% if @items.dig(:explorer, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection",
                   locals:  {
                       items:      @items[:explorer],
                       title:      {
                           principal: "Explorar todos os eventos",
                           secondary: "Use os filtros abaixo e seja feliz :)"
                       },
                       identifier: 'explorer',
                       opts:       {
                           type:    :large,
                           filters: {
                               categories: true,
                               kinds:      false,
                               ocurrences: true
                           },
                           detail:  @items[:explorer][:detail],
                           origin:  :feed
                       }
                   } %>
      <% end %>
    <% end %>
  </div>
</section>
