<%= render partial: "feeds/float_menu" unless mobile_device? %>

<section data-controller="page" data-target="page.page" class="me-page me-page--feed is-animated">

  <%# if current_user && current_user.notifications_topics_all_requested == false %>
    <!-- <div class="me-section">
      <div class="me-section__inner">
        <div class="me-notification" data-controller="notification" data-notification-active="<%= current_user&.notifications_topics_all_active %>">
          <div class="me-switch mdc-switch" data-target="notification.switch">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__thumb-underlay">
              <div class="mdc-switch__thumb">
                <input data-target="notification.input" data-action="change->notification#change" type="checkbox" <%= 'checked' if current_user&.notifications_topics_all_active %> id="another-basic-switch" class="mdc-switch__native-control" role="switch">
              </div>
            </div>
          </div>
          <label for="another-basic-switch" data-target="notification.label">Notificações
            <span>Receba até 1 notificação por dia para avisar sobre seus eventos agendados e novos eventos que podem te interessar.</span>
          </label>
        </div>
      </div>
    </div> -->
  <%# end %>

  <% if current_user && (current_user&.swipable.dig('events', 'last_view_at').blank? || current_user&.swipable.dig('events', 'last_view_at').try {|last_view_at| last_view_at < (DateTime.now - 8.hours)}) %>
    <div class="me-section">
      <div class="me-section__inner">
        <!-- <div class="me-section__title">
          Você iria neste evento?
        </div> -->
          <%= render partial: 'components/swipable/swipable' if current_user && @swipable_items %>
      </div>
    </div>
  <% end %>

  <% if current_user && @new_events_today.size > 0 %>
    <div class="me-section">
      <div class="me-section__inner">
        <div class="me-info">
          <div class="me-info__content">
            <% if @new_events_today.size == 1 %>
              <%= link_to "Foi adicionado um evento nas últimas 24 horas!", recent_events_path(current_user)%>
            <% else %>
              <%= link_to "Foram adicionados #{@new_events_today.size} eventos nas últimas 24 horas!", recent_events_path(current_user)%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <!-- <div class="me-section">
    <div class="me-section__inner">
      <div class="me-section__title">
        Seguindo
      </div>
      <%#= render partial: "components/user_suggestions", locals: {
          data: {
              following_users: @following_users
          }
      } %>
    </div>
  </div> -->


  <%# if current_user && current_user&.personas_assortment_finished? %>
  <section class="me-section">
    <div class="me-section__inner">
      <%= render partial: 'saves',
                 locals:  {
                     identifier:   'salvos',
                     saved_events: @favorited_events
                 } %>
    </div>
  </section>
  <%# end %>

  <section class="me-section">
    <div class="me-section__inner">
      <% if @items.dig(:week, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
        <%= render partial: "components/collection/collection", locals: {
            data:  {
                identifier:  'this-week',
                collection:  @items[:week],
                title:       {
                    principal: "Acontecendo esta semana",
                    # secondary: "Hoje (#{I18n.l(Date.today, format: :short)}) até #{I18n.l(Date.today + 8, format: :week)} (#{I18n.l(Date.today + 7, format: :short)})",
                    tertiary: "Com base no seu perfil"
                },
                type:        :large,
                filters:     {
                    categories: false,
                    kinds:      false,
                    ocurrences: false
                },
                info:        {
                    assert: true,
                    text:   'Descubra seu perfil para ver os eventos da semana sugeridos'
                },
                continue_to: '/porto-alegre/eventos/semana',
                origin:      :feed
            },
            props: {
                disposition:     :horizontal,
                infinite_scroll: true
            }
        } %>
      <% end %>
    </div>
  </section>


  <%# if current_user && current_user&.personas_assortment_finished? %>
  <% if @items.dig(:new_today, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
    <section class="me-section">
      <div class="me-section__inner">
        <%= render partial: "components/collection/collection", locals: {
            data:  {
                identifier:  'new-today',
                collection:  @items[:new_today],
                title:       {
                    principal: "Adicionados recentemente",
                    tertiary:  "Com base no seu perfil"
                },
                type:        :large,
                filters:     {
                    categories: false,
                    kinds:      false,
                    ocurrences: false
                },
                info:        {
                    assert: true,
                    text:   'Descubra seu perfil para ver eventos recém adicionados'
                },
                continue_to: "/#{current_user&.slug}/novos",
                origin:      :feed
            },
            props: {
                disposition: :horizontal
            }
        } %>
      </div>
    </section>
  <% end %>

  <%# if current_user && @items.dig(:user_suggestions, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
  <section class="me-section">
    <div class="me-section__inner">
      <%= render partial: "components/collection/collection", locals: {
          data:  {
              identifier:  'user-suggestions',
              collection:  @items[:user_suggestions],
              title:       {
                  principal: "Escolhidos a dedo para #{current_user&.first_name}",
                  # secondary: "Explore os eventos com alta recomendação para seu gosto pessoal",
                  tertiary: "Com base nos eventos salvos"
              },
              type:        :large,
              filters:     {
                  categories: false,
                  kinds:      false,
                  ocurrences: false
              },
              info:        {
                  assert: true,
                  text:   'Salve eventos com ❤ para receber sugestões com base no seu gosto'
              },
              detail:      @items[:user_suggestions][:detail],
              origin:      :feed,
              continue_to: "/#{current_user&.slug}/sugestoes"
          },
          props: {
              disposition: :horizontal
          }
      } %>
    </div>
  </section>
  <%# end %>


  <section class="me-section">
    <div class="me-section__inner">
      <%# if current_user && @items.dig(:follow, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
      <% follow_topics_custom = capture do %>
        <% if current_user %>
          <div class="me-chip-set__wrapper">
            <div class="me-chip-set mdc-chip-set">
              <% current_user&.following_topics.filter { |topic| topic.events.active.size > 0 }.sort_by { |topic| topic.events.active.size }.reverse!.each do |topic| %>
                <a href="<%= link_to_topic topic %>" class="me-chip mdc-chip <%= 'new' if topic.events.active.any? { |event| current_user&.last_sign_in_at < event.created_at } %>">
                  <div class="mdc-chip__ripple"></div>
                  <%= topic.details_name.titleize %>
                  <% if topic.events.active.size > 0 %>
                    <i class="me-chip__counter"><%= topic.events.active.size %></i>
                  <% end %>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render partial: "components/collection/collection", locals: {
          data:  {
              identifier:  'follow',
              collection:  @items[:follow],
              title:       {
                  principal: "Tópicos que você segue",
                  custom:    follow_topics_custom
              },
              type:        :large,
              filters:     {
                  categories: false,
                  kinds:      false,
                  ocurrences: false
              },
              info:        {
                  assert: true,
                  text:   'Siga locais e organizadores para ver seus eventos aqui'
              },
              detail:      @items[:follow][:detail],
              origin:      :feed,
              continue_to: "/#{current_user&.slug}/seguindo"

          },
          props: {
              disposition: :horizontal
          }
      } %>
      <%# end %>
    </div>
  </section>


  <section class="me-section">
    <div class="me-section__inner">
      <% follow_users_custom = capture do %>
        <div class="me-user-suggestions">
          <div class="me-user-suggestions__inner">
            <% User.following_users(current_user).each do |user| %>
              <%= link_to user_path user do %>
                <div class="me-user-suggestions__user">
                  <div class="me-user-suggestions__picture" style="background-image: url('<%= user.picture %>')">
                  </div>
                  <div class="me-user-suggestions__name">
                    <%= user.first_name %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= render partial: "components/collection/collection", locals: {
          data:  {
              identifier: 'following-users',
              collection: @items[:following_users],
              title:      {
                  principal: "Pessoas que você segue",
                  custom:    follow_users_custom
              },
              type:       :large,
              filters:    {
                  categories: false,
                  kinds:      false,
                  ocurrences: false
              },
              info:       {
                  assert: true,
                  text:   'Siga pessoas para ver seus eventos aqui'
              },
              detail:     @items[:following_users][:detail],
              origin:     :feed,
              #continue_to: "/#{current_user&.slug}/sugestoes"
          },
          props: {
              disposition: :horizontal
          }
      } %>
    </div>
  </section>


  <% if @items.dig(:explorer, :detail, :total_events_in_collection).try { |counter| counter > 0 } %>
    <section class="me-section">
      <div class="me-section__inner">
        <%= render partial: "components/collection/collection", locals: {
            data: {
                identifier: 'explorer',
                collection: @items[:explorer],
                title:      {
                    principal: "Explorar todos os eventos",
                    secondary: "Use os filtros abaixo e seja feliz :)"
                },
                type:       :large,
                filters:    {
                    categories: true,
                    kinds:      false,
                    ocurrences: true
                },
                detail:     @items[:explorer][:detail],
                origin:     :feed
            }
        } %>
      </div>
    </section>
  <% end %>

  <% if mobile_device? %>
    <div data-controller="button" data-target="button.button" class="me-button mdc-button mdc-button--raised" onclick="Turbolinks.visit('/porto-alegre/eventos')" style="max-width: 80vw; margin: 36px auto; text-align: center; display: block">
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">Explorar todos os eventos</span>
    </div>
  <% end %>

  <%# end %>
  <%# end %>
</section>
