<section class="me-page">
  <% content_for :canonical_url, category_events_url %>
  <% content_for :amp_url, category_events_url(format: :amp) %>

  <%= notice %>

  <% content_for :meta_title, params[:neighborhood] ? "Eventos no bairro #{params[:neighborhood].capitalize} em Porto Alegre - RS" : "Eventos de todos os bairros em Porto Alegre - RS" %>
  <% content_for :meta_description, params[:neighborhood] ? "Descubra eventos do bairro #{params[:neighborhood]} que acontecem hoje e outros dias do mês em Porto Alegre - RS" : "Descubra eventos de todas as categorias que acontecem hoje e outros dias do mês em Porto Alegre - RS" %>

  <script type="application/ld+json">
  [<%= render partial: 'layouts/json_ld', collection: @collection[:events], as: :event %>]


  </script>


  <section class="me-section me-section--condensed">
    <div data-controller="chipset" data-target="chipset.wrapper" data-chipset-selected="<%= params[:neighborhood].parameterize %>" class="me-collection__title-custom me-chip-set__wrapper">
      <div data-target="chipset.chipset" class="me-chip-set mdc-chip-set mdc-chip-set--choice">
        <% @neighborhoods.each do |neighborhood| %>
          <div data-action="click->chipset#select"
            data-chipset-url="<%= neighborhood_events_path neighborhood.parameterize_with_accents %>"
            data-chipset-slug="<%= neighborhood.parameterize %>"
            class="me-chip mdc-chip">
            <div class="mdc-chip__ripple"></div>
            <span class="mdc-chip__text"><%= neighborhood %></span>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <% if params[:neighborhood] %>
    <section class="me-section me-section--without-padding">
      <section class="me-section__inner">
        <%= render partial: "components/collection/events/collection", locals: { data: @data, props: {infinite_scroll: true} } %>
      </section>
    </section>
  <% else %>
    <div class="me-section me-section--full-height">
      <div class="me-section__inner">
        <div class="me-info">
          <div class="me-info__content">
            Selecione uma opção acima para ver os eventos aqui
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% unless current_user %>
    <%= link_to root_path, style: "display: flex" do %>
      <img class="me-banner" data-gtm="banner-request-invite-footer" loading="lazy" src="<%= image_url 'banners/get-invite-banner' %>" alt="Pegue um convite">
    <% end %>
  <% end %>
</section>
