<% content_for :canonical_url, root_url, format: :html %>

<div class="template__container <%= 'is-pwa' if params[:pwa] %>">

  <div class="hero__wrapper">
    <section class="hero">
      <div class="hero-left">
        <section class=menu>
          <section class="brand">
            <div class="brand__letter">
              <%= responsive_image_tag 'welcome/logo-icon', alt: 'logo', title: 'Oie!' %>
            </div>
          </section>
          <nav>
            <a href="#como-funciona">Como funciona</a>
            <a href="#sobre">Sobre</a>
            <!--            <span onclick="location.assign('/users/auth/google_oauth2')">Entrar</span>-->
          </nav>
        </section>

        <section class="headline">
          <h1>Te entregamos uma experiência única de Porto Alegre</h1>
          <h2>Aprendemos o que você gosta e não gosta para te sugerir eventos, atividades, promoções e serviços que vão de lazer a educação. Assim, você descobre coisas novas e não perde o que já conhece.</h2>
        </section>

        <% if params[:pwa] %>
          <div class="login-button" title="Entrar" onclick="location.assign('/users/auth/google_oauth2')">
            Entrar
            <span>
          <%= image_tag "welcome/right-arrow.png", alt: "seta", class: "lazyload" %>
        </span>
          </div>
        <% end %>

        <%= render partial: "welcome/invite" %>
      </div>

      <% unless mobile_device? %>
        <div class="hero-right">
          <div class="hero__banner" style="opacity: 0">
            <a href="https://play.google.com/store/apps/details?id=com.alegreme.app&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
              <%= image_tag "welcome/google-play-banner.png" %>
            </a>
          </div>
          <div class="hero__device">
            <div class="android" style="transform: translateY(800px)">
              <div class="android__screen">
                <video width="100%" height="auto" autoplay muted loop playsinline>
                  <source src="https://alegreme.sfo2.digitaloceanspaces.com/video/hero-device-screen.mp4" type="video/mp4"/>
                  <source src="https://alegreme.sfo2.digitaloceanspaces.com/video/hero-device-screen.webm" type="video/webm"/>
                  <object width="100%" height="auto" type="application/x-shockwave-flash" data="https://alegreme.sfo2.digitaloceanspaces.com/video/hero-device-screen.swf">
                    <param name="movie" value="https://alegreme.sfo2.digitaloceanspaces.com/video/hero-device-screen.swf"/>
                    <param name="flashvars" value="autostart=true&amp;controlbar=over&amp;file=https://alegreme.sfo2.digitaloceanspaces.com/video/hero-device-screen.mp4"/>
                  </object>
                </video>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </section>
  </div>


  <section id="como-funciona" class="how-works">
    <h2 class="h2">Como funciona</h2>
    <section class="how-works__step how-works__step--left">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-1' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>1</span>
        </div>
        <div class="how-works__title">
          Primeiro vamos nos conhecer melhor
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--right">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-2' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>2</span>
        </div>
        <div class="how-works__title">
          Nos diga o que você curte
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--left">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-3' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>3</span>
        </div>
        <div class="how-works__title">
          Experiências escolhidas a dedo para você
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--right">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-4' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>4</span>
        </div>
        <div class="how-works__title">
          Siga os tópicos que você gosta
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--left">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-5' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>5</span>
        </div>
        <div class="how-works__title how-works__title--large">
          Explore <br> coleções
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--right">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-6' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <span>6</span>
        </div>
        <div class="how-works__title how-works__title--large">
          Explore <br> a cidade
        </div>
      </div>
    </section>

    <section class="how-works__step how-works__step--left">
      <div class="how-works__device lazyload" data-bg="<%= image_path 'welcome/step-7' %>">
      </div>
      <div class="how-works__description">
        <div class="how-works__bullet">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 30 30" width="30" height="30">
            <path fill="#fff" fill-rule="evenodd" d="M29.5157 15.3149c0 7.9609-6.4114 14.4145-14.3202 14.4145-7.9089 0-14.3203-6.4536-14.3203-14.4145C.8752 7.3539 7.2866.9004 15.1955.9004c7.9088 0 14.3202 6.4536 14.3202 14.4145zm-6.6093-3.5121c0 1.3268-1.0694 2.4024-2.3886 2.4024s-2.3887-1.0756-2.3887-2.4024c0-1.3268 1.0695-2.4024 2.3887-2.4024 1.3192 0 2.3886 1.0756 2.3886 2.4024zm-10.6445 0c0 1.3268-1.0694 2.4024-2.3886 2.4024-1.3193 0-2.3887-1.0756-2.3887-2.4024 0-1.3268 1.0694-2.4024 2.3887-2.4024 1.3192 0 2.3886 1.0756 2.3886 2.4024zm-3.0146 6.6689c-1.3961.694-1.3958.6947-1.3955.6953l.0007.0014.0016.0031.0036.0071.0094.0183a5.6001 5.6001 0 00.1193.2139c.0772.1315.1877.3092.3333.5176a9.288 9.288 0 001.3252 1.5124c1.2057 1.1065 3.0999 2.2404 5.7342 2.2404 2.6343 0 4.5286-1.1339 5.7343-2.2404a9.288 9.288 0 001.3251-1.5124 7.839 7.839 0 00.3333-.5176 5.3362 5.3362 0 00.1193-.2139l.0094-.0183.0037-.0071.0015-.0031.0007-.0014c.0004-.0006.0007-.0013-1.3954-.6953-1.3961-.694-1.3958-.6946-1.3955-.6952l.0006-.0011.001-.0021.0016-.0031.0004-.0007a2.5409 2.5409 0 01-.0438.0775 4.7268 4.7268 0 01-.2009.3111 6.1726 6.1726 0 01-.8785 1.0022c-.7871.7224-1.9588 1.4173-3.6168 1.4173s-2.8297-.6949-3.6168-1.4173a6.1825 6.1825 0 01-.8785-1.0022 4.7268 4.7268 0 01-.2009-.3111 2.5409 2.5409 0 01-.0447-.0794l.0013.0026.0016.0031.0011.0021.0005.0011c.0003.0006.0007.0012-1.3954.6952z" clip-rule="evenodd"/>
          </svg>
        </div>
        <div class="how-works__title">
          Seja notificado na hora certa da coisa certa
        </div>
      </div>
    </section>
  </section>

  <div id="sobre" class="about__wrapper">
    <section class="about">
      <h2 class="h2">
        Sobre
      </h2>

      <div class="about__grid">
        <div class="about__item" style="grid-area: r1">
          <h3 class="h3">O que é o Alegreme?</h3>
          <div class="about__content">
            Alegreme é um aplicativo para celular e desktop que busca eventos, atividades, promoções e serviços de categorias como lazer e educação na cidade de Porto Alegre. O aplicativo aprende o que você gosta e não gosta para lhe sugerir experiências únicas com base no seu gosto.
          </div>
        </div>
        <div class="about__item" style="grid-area: r2">
          <h3 class="h3">
            Funciona só em Porto Alegre?
          </h3>
          <div class="about__content">
            Sim, o Alegreme é um projeto local com grandes ambições mas está começando somente por Porto Alegre. Queremos experimentar e testar muitas coisas para criar um negócio inovador com foco nos usuários, ou seja, queremos fazer algo diferente e bem feito aqui na nossa cidade. Se funcionar e fizer sentido podemos espalhar pelo Brasil.
          </div>
        </div>
        <div class="about__item" style="grid-area: r3">
          <h3 class="h3">
            Quem faz?
          </h3>
          <div class="about__content">
            A pessoa que está desenvolvendo tudo, por enquanto, sou eu,
            <a href="https://www.instagram.com/jonataseduardo/">@jonastaseduardo</a>, mais conhecido como Jon. Tenho esse desejo de fazer algo parecido desde 2013, quando comecei a estudar de tudo um pouco. 6 anos atrás ainda estava começando minha jornada no desenvolvimento de produtos. Hoje com tecnologias como inteligência artificial mais acessíveis e com seis anos a mais de aprendizado, chegou a hora de conectar os pontos e ver se o projeto acontece.
          </div>
        </div>
        <div class="about__item" style="grid-area: r4">
          <h3 class="h3">
            Como enviar algo?
          </h3>
          <div class="about__content">
            Se o seu evento ou experiência está na internet em sites que tratam sobre Porto Alegre provavelmtente ele está no Alegreme, pois o aplicativo funciona semelhante ao Google, buscando tudo que há de eventos e experiências em sites de Porto Alegre. O algorítimo cria, edita, categoriza, escolhe para quem exibir... Praticamente faz tudo sozinho.
          </div>
        </div>
        <div class="about__item" style="grid-area: r5">
          <h3 class="h3">
            Que tecnologia vocês usam?
          </h3>
          <div class="about__content">
            As liguagens são muitas, vão de Ruby a Python; de Javascript a Java. São 6 serviços que rodam de forma isolada. Alguns responsáveis por catar dados da internet como o Google, outros em classificar estes dados, como o Pinterest e outro em aprender sobre os dados e usuários, como o Netflix. Para ser ágil no desenvolvimento, na versão mobile estamos usando PWA. E tudo tendo como core inteligência artificial, como você deve ter imaginado :)
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="footer">
    <% unless params[:pwa] %>
      <picture>
        <source media="(max-width: 480px)" srcset="<%= image_url 'welcome/porto-alegre@512w' %>">
        <img src="<%= image_url 'welcome/porto-alegre' %>" alt="Porto Alegre" class="footer__image">
      </picture>

      <div class="social__links">
        <a href="https://www.instagram.com/portoalegreme">instagram</a> ·
        <a href="https://twitter.com/portoalegreme">twitter</a> ·
        <a href="#">oi@alegreme.com</a>
      </div>
      <div class="credits">
        Feito por
        <a href="https://www.instagram.com/jonataseduardo/">@jonataseduardo</a> com
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.7054 0.257324C10.0657 0.257324 8.63837 1.23748 7.99993 2.65639C7.36149 1.23889 5.93415 0.257324 4.29446 0.257324C2.05571 0.257324 0.234619 2.07982 0.234619 4.31857C0.234619 9.36701 7.51759 13.5239 7.82837 13.6983C7.88181 13.7278 7.93946 13.7433 7.99853 13.7433C8.05759 13.7433 8.11665 13.7278 8.16868 13.6983C8.47806 13.5239 15.7638 9.36701 15.7638 4.31857C15.7652 2.07982 13.9442 0.257324 11.7054 0.257324Z" fill="#DB4437"/>
        </svg>
        ️no Centro Histórico de Porto Alegre
      </div>
      <div class="vamodale">
        Ei! Tem ideias de funcionalidades, projetos pra tocar junto, quer conectar uma API, trocar uma ideia... Usa os links acima. Vlw flw
      </div>
      <div class="footer__links">
        <a href="http://medium.com/@jonataseduardo/potencializando-a-intera%C3%A7%C3%A3o-entre-as-pessoas-para-criarmos-cidades-melhores-5d048bc9c" rel="noreferrer" target="_blank">
          Manifesto
        </a> ·
        <a href="/privacy">Política de privacidade</a> ·
        <a href="/terms">Termos de serviço</a>
      </div>
    <% end %>
  </section>

  <section class="invite-float">
    <%= render partial: "welcome/invite" %>
  </section>

</div>
