<div class="template__container">


  <section class="brand">
    <div class="brand__logo js-logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
        <path d="M17.5492 34.0853C26.6619 34.0853 34.0492 26.698 34.0492 17.5853C34.0492 8.47263 26.6619 1.08533 17.5492 1.08533C8.43649 1.08533 1.04919 8.47263 1.04919 17.5853C1.04919 26.698 8.43649 34.0853 17.5492 34.0853Z" fill="url(#paint0_linear)" class="smile__body"/>
        <path d="M26.0492 23.1745C20.9492 27.1745 14.1492 27.1745 9.04919 23.1745" stroke="#4A222A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" class="smile__mouth"/>
        <path d="M12.0492 17.1745C13.1538 17.1745 14.0492 15.6075 14.0492 13.6745C14.0492 11.7415 13.1538 10.1745 12.0492 10.1745C10.9446 10.1745 10.0492 11.7415 10.0492 13.6745C10.0492 15.6075 10.9446 17.1745 12.0492 17.1745Z" fill="#4A222A" class="smile__left-eye"/>
        <path d="M23.0492 17.1745C24.1538 17.1745 25.0492 15.6075 25.0492 13.6745C25.0492 11.7415 24.1538 10.1745 23.0492 10.1745C21.9446 10.1745 21.0492 11.7415 21.0492 13.6745C21.0492 15.6075 21.9446 17.1745 23.0492 17.1745Z" fill="#4A222A" class="smile__right-eye"/>
        <defs>
          <linearGradient id="paint0_linear" x1="28.5492" y1="29.6745" x2="3.04919" y2="1.1745" gradientUnits="userSpaceOnUse">
            <stop offset="0.230508" stop-color="#FEE103"/>
            <stop offset="1" stop-color="white"/>
          </linearGradient>
        </defs>
      </svg>
      <div class="brand__pimba js-pimba" style="opacity: 0;">Pimba</div>
    </div>
    <div class="brand__letter">
      <%= image_tag "/assets/images/logo-letter.png" %>
    </div>
  </section>

  <section class="headline">
    <h1>Aproveite a cidade de Porto Alegre</h1>
    <h2>Atividades de rua, meetups profissionais, os rolês que só avisam no dia, aquele filme no Mario Quintana...
      Um feed para as pessoas que gostam de explorar coisas novas e de não perder o que já conhecem.</h2>
  </section>

  <section class="features">
    <div class="features__scroll-view">
      <div class="feature feature--activities rellax" data-rellax-speed="3" style="transform: translate(-150px, 150px); opacity: 0">
        <div class="feature__icon">
          <%= image_tag "/assets/images/welcome/bike-icon.png", alt: 'bicicleta' %>
        </div>
        <div class="feature__title">Atividades recorrentes para praticar na cidade</div>
      </div>
      <div class="feature feature--events rellax" data-rellax-speed="1" style="transform: translate(-100px, -150px); opacity: 0">
        <div class="feature__icon">
          <%= image_tag "/assets/images/welcome/calendar-icon.png", alt: "calendário" %>
        </div>
        <div class="feature__title">Eventos sugeridos com base no seu gosto individual</div>
      </div>
      <div class="feature feature--topics rellax" data-rellax-speed="1" style="transform: translate(0px, 150px); opacity: 0">
        <div class="feature__icon">
          <%= image_tag "/assets/images/welcome/hearth-icon.png", alt: "coração" %>
        </div>
        <div class="feature__title">Siga os tópicos que você gosta e fique sempre por dentro</div>
      </div>
      <div class="feature feature--friends rellax" data-rellax-speed="1" style="transform: translate(100px, -150px); opacity: 0">
        <div class="feature__icon">
          <%= image_tag "/assets/images/welcome/friends-icon.png", alt: "amigos" %>
        </div>
        <div class="feature__title">Compartilhe com seus melhores amigos seus planos</div>
      </div>
      <div class="feature feature--movie rellax" data-rellax-speed="3" style="transform: translate(150px, 150px); opacity: 0">
        <div class="feature__icon">
          <%= image_tag "/assets/images/welcome/movie-icon.png", alt: "filme" %>
        </div>
        <div class="feature__title">Filmes do Mario Quintana, Capitólio e Cinemark</div>
      </div>
    </div>
  </section>

  <% unless mobile_device? %>
    <section class="demo">
      <div class="macbook rellax" data-rellax-speed="1">
        <div class="macbook__screen">
          <div class="macbook__beta-explanation"></div>
          <%= image_tag "/assets/images/welcome/demo-2.gif", alt: "demonstração" %>
        </div>
      </div>
    </section>
  <% end %>

  <section class="invite">
    <div class="invite__status">
      <div class="people">
        <% @last_people.each do |person| %>
          <div class="people__person-face" style="background-image: url('<%= person.demographic['picture']%>')" title="<%= person.demographic['name'] %>"></div>
        <% end  %>
      </div>
      <div class="invite__counter">
        <%= @invites_count %> pessoas solicitaram convite para o alegreme
      </div>
      <div class="invite__details has-helper">
        Na versão <i title="Versão de testes do aplicativo ainda em desenvolvimento e validações">beta</i> vamos liberar até 100 convites por semana
      </div>
    </div>
    <div class="invite__cta" title="Seja um Beta tester!">
      Pegar Convite
      <span>
        <%= image_tag "/assets/images/welcome/right-arrow.png", alt: "seta" %>
      </span>
    </div>
    <div class="invite__google-details">
    </div>
    <div class="sharethis-inline-share-buttons invite__share"></div>
    <div class="skatista" style="transform: translate(-1900px, -50px);">
    </div>
  </section>

  <section class="questions">
    <h2>Perguntas?</h2>
    <div class="questions__grid">
      <div class="questions__grid-item questions__grid-item--q1" data-question="q1" data-color="#E4F2FB">
        <h3>O que é o Alegreme?</h3>
      </div>
      <div class="questions__grid-item questions__grid-item--q2" data-question="q2" data-color="#FFFBE3">
        <h3>Como funciona?</h3>
      </div>
      <div class="questions__grid-item questions__grid-item--q3" data-question="q3" data-color="#E5FFEE">
        <h3>É grátis?</h3>
      </div>
      <div class="questions__grid-item questions__grid-item--q4" data-question="q4" data-color="#FFFBE3">
        <h3>Funciona somente em Porto Alegre?</h3>
      </div>
      <div class="questions__grid-item questions__grid-item--q5" data-question="q5" data-color="#E4F2FB">
        <h3>Como entrar em contato?</h3>
      </div>
    </div>
    <div class="answer is-hidden">
      <div class="answer__content" data-answer="q1">
        <h3>O que é o Alegreme?</h3>
        <p>
          Um aplicativo web que facilita aos moradores de Porto Alegre
          a explorarem eventos e atividades da cidade.
        </p>
        <!--        <p>-->
        <!--          <i>PS: Android e iOs sairam na versão 1.0 em breve.</i>-->
        <!--        </p>-->
      </div>
      <div class="answer__content" data-answer="q2">
        <h3>Como funciona?</h3>
        <p>
          <b>Resposta rápida:</b>
        <ul>
          <li>1. Você cria um perfil e responde sobre eventos e atividades que iria ou não.</li>
          <li>2. Com um perfil inicial traçado, iremos mostrar coleções de eventos e atividades.</li>
          <li>3. Você pode salvar o que gostar, seguir tópicos, locais e organizadores e explorar itens semelhantes.</li>
          <li>4. Enquanto você usa o app aprendemos o que gosta e vamos mostrando coleções com base no seu gosto individual.</li>
        </ul>
        </p>
        <p>
          <b>Resposta técnica:</b> <br>
          São 6 aplicações que funcionam em conjunto, algumas são responsáveis por buscar o conteúdo na web, semelhante
          o Google; outras são responsáveis por limpar e classificar estes dados em mais de 500 categorias e subcategorias
          com base em mais de 10 variáveis; outro é responsável a entender os grupos de usuários que usam o app
          e do que gostam e não gostam e organizar para cada pessoa coleções com sugestões, como o Youtube e Netflix fazem.
          <p>
            Podemos dizer que o Alegreme é poliglota e hypado, vai do Python ao Javascript, do Ruby ao Java, utiliza inteligência artificial e chatbots, tudo isso para entregar um app massa!
          </p>
        </p>
      </div>
      <div class="answer__content" data-answer="q3">
        <h3>É grátis?</h3>
        <p>
          Sim. 0800. Free.
        </p>
      </div>
      <div class="answer__content" data-answer="q4">
        <h3>Funciona somente em Porto Alegre?</h3>
        <p>
          Sim. Mas há uma funcionalidade que exibe coleções de eventos e atividade de cidades do
          Rio Grande do Sul para pessoas que querem turistar de carro no fim de semana.
        </p>
      </div>
      <div class="answer__content" data-answer="q5">
        <h3>Como entrar em contato?</h3>
        <p>
          Para dúvidas, dicas e outras resenhas é só mandar um email para oi@alegreme.com
        </p>
      </div>
    </div>

    <section class="footer">
      <div class="footer__logo-icon js-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 35 35" fill="none">
          <path d="M17.5492 34.0853C26.6619 34.0853 34.0492 26.698 34.0492 17.5853C34.0492 8.47263 26.6619 1.08533 17.5492 1.08533C8.43649 1.08533 1.04919 8.47263 1.04919 17.5853C1.04919 26.698 8.43649 34.0853 17.5492 34.0853Z" fill="url(#paint0_linear)" class="smile__body"/>
          <path d="M26.0492 23.1745C20.9492 27.1745 14.1492 27.1745 9.04919 23.1745" stroke="#4A222A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" class="smile__mouth"/>
          <path d="M12.0492 17.1745C13.1538 17.1745 14.0492 15.6075 14.0492 13.6745C14.0492 11.7415 13.1538 10.1745 12.0492 10.1745C10.9446 10.1745 10.0492 11.7415 10.0492 13.6745C10.0492 15.6075 10.9446 17.1745 12.0492 17.1745Z" fill="#4A222A" class="smile__left-eye"/>
          <path d="M23.0492 17.1745C24.1538 17.1745 25.0492 15.6075 25.0492 13.6745C25.0492 11.7415 24.1538 10.1745 23.0492 10.1745C21.9446 10.1745 21.0492 11.7415 21.0492 13.6745C21.0492 15.6075 21.9446 17.1745 23.0492 17.1745Z" fill="#4A222A" class="smile__right-eye"/>
          <defs>
            <linearGradient id="paint0_linear" x1="28.5492" y1="29.6745" x2="3.04919" y2="1.1745" gradientUnits="userSpaceOnUse">
              <stop offset="0.230508" stop-color="#FEE103"/>
              <stop offset="1" stop-color="white"/>
            </linearGradient>
          </defs>
        </svg>
        <div class="brand__pimba js-pimba" style="opacity: 0;">Pimba</div>
      </div>
    </section>
  </section>

</div>