<%

	props = {
		visible: {
			logo:         (!mobile_device? && ['search'].include?(controller_name)) || !['search'].include?(controller_name),
			back_button:  content_for?(:back_button),
			search:       (['feeds', 'events', 'organizers', 'places', 'movies', 'dashboard'].include?(controller_name) && !mobile_device?) ||
											['search', 'pages'].include?(controller_name),
			share_button: content_for?(:share_button_url) && action_name == 'show' && mobile_device?,
			user_menu:    ['feeds', 'movies'].include?(controller_name) && action_name != 'show' && current_user,
			sign_up:      !current_user
		}
	}.deep_merge!(props || {})

%>

<header class="<%= class_names('h-14 md:h-16 max-w-screen-xl md:grid md:grid-cols-12 md:px-0 mx-auto my-auto select-none tap-highlight-none',
															 { 'h-14 px-5':      !current_page?('/busca'),
																 'h-content py-1': current_page?('/busca') }) %>"
				id="top-bar">
	<div class="<%= class_names 'flex md:relative md:col-span-3 h-full',
															'space-x-4': content_for?(:top_app_bar_title) %>">
		<% if mobile_device? %>
			<div class="my-auto text-gray-600 md:hidden">
				<% if props[:visible][:back_button] %>
					<a data-controller="ripple"
						 onclick="TurboModule.backHistory()"
						 class="relative select-none ripple ripple-black tap-highlight-none"
						 aria-label="Voltar">
						<svg class="h-4 fill-current md:w-auto" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5 17L1.5 9M1.5 9L10.5 1M1.5 9H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				<% else %>
					<% if controller_name != 'search' && controller_name == 'feeds' %>
						<a href="<%= search_index_path %>">
							<svg class="w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0V0z"/>
								<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
							</svg>
						</a>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="<%= class_names 'h-full inline-flex items-center flex-auto md:pr-0',
																'hidden': !props[:visible][:logo] %>">
			<% if mobile_device? && content_for?(:top_app_bar_title) %>
				<div class="font-semibold text-gray-600">
					<%= content_for(:top_app_bar_title) %>
				</div>
			<% elsif props[:visible][:logo] %>
				<a class="relative inline-block mx-auto  md:ml-0" href="<%= root_path %>">
					<svg height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 735.06 154.88"><style>.cls-1{fill:#6369d1}</style><defs/><g id="Layer_2" data-name="Layer 2"><g id="Layer_4" data-name="Layer 4"><path d="M125.24 74.49l-14-17.62a.68.68 0 00-.95-.11 83 83 0 01-11.8 7.73L76.23 2.57a.79.79 0 00-.75-.52H50a.77.77 0 00-.74.52l-22.2 61.91a79.31 79.31 0 01-11.68-7.78.72.72 0 00-1 .1L.17 74.23a.73.73 0 00.11 1 103.77 103.77 0 0018.6 12L8.57 116h24l7.27-21a96.48 96.48 0 0022.71 2.76h.14A97.21 97.21 0 0085.59 95l7.27 21h24.12l-10.35-28.76a106.73 106.73 0 0018.49-11.71.73.73 0 00.12-1.04zm-77.65-2.42L62 30.47a.74.74 0 011.4 0l14.39 41.6a73.42 73.42 0 01-30.18 0zM135.8 116V.74a.74.74 0 01.74-.74h22.32a.74.74 0 01.74.74V116zM251.75 85.4H198.9a.91.91 0 00-.84 1.26c2.56 6.5 8.61 10.48 17.08 10.48a28.57 28.57 0 0018.26-7.06.91.91 0 011.33.11l11.11 14a.94.94 0 01-.05 1.21c-7.47 7.7-20 12.45-32.26 12.45-23.8 0-40.53-16.41-40.53-39.25 0-24.44 18.82-39.72 40.37-39.72s39.56 15.12 39.56 38c0 1.92-.13 4.38-.28 7.64a.91.91 0 01-.9.88zm-23.46-14a.93.93 0 00.91-1.06C228.33 63.54 222 59 213.85 59c-6.74 0-13.34 3.07-16 11.16a.93.93 0 00.86 1.23zM326.9 40.85h21.84a.9.9 0 01.9.9V107c0 31.84-16.72 47.93-43.9 47.93-16.7 0-30.93-9.57-37.1-23.27a.91.91 0 01.5-1.21l18.05-7.25a.8.8 0 011 .4 20.22 20.22 0 0017.55 10.4c12.38 0 20.26-6.92 20.26-24.13v-2.25c-5.63 7.08-15.6 10.3-23.32 10.3-18.66 0-36.34-15.28-36.34-39.57s17.68-39.4 36.34-39.4c7.07 0 16 2.56 21.8 8.42a.9.9 0 001.52-.65v-4.97a.9.9 0 01.9-.9zM325 78.32a17.29 17.29 0 10-17.21 17.53A17.58 17.58 0 00325 78.32zM422.11 41.94L417 62.64a1 1 0 01-1.36.62 19.7 19.7 0 00-9.75-2.26c-9.33 0-17.05 7.88-17.05 30.08V116H365V41.81a1 1 0 011-1h21.55a1 1 0 011 1v10.27a1 1 0 001.81.43C395.09 43.12 403 38.92 411 38.92a24.92 24.92 0 0110.54 1.91 1 1 0 01.57 1.11zM506.33 85.4h-53.18a.77.77 0 00-.74 1c2.51 6.63 8.61 10.71 17.18 10.71A28.57 28.57 0 00488 90a.77.77 0 011.12.08l11.29 14.25a.81.81 0 01-.05 1c-7.46 7.75-20.05 12.54-32.34 12.54-23.8 0-40.53-16.41-40.53-39.25 0-24.44 18.82-39.72 40.37-39.72s39.56 15.12 39.56 38c0 1.94-.14 4.45-.29 7.77a.76.76 0 01-.8.73zm-23.43-14a.78.78 0 00.78-.84C482.91 63.63 476.5 59 468.3 59c-6.8 0-13.46 3.13-16.11 11.39a.78.78 0 00.75 1zM641.72 75.59V116h-23.8V76.23C617.92 64.65 612.13 61 606 61c-7.4 0-12.87 5.15-12.87 18.34V116h-23.8V76.71c0-11.58-5.79-15.76-11.74-15.76-6.43 0-13 3.22-13 15.76V116h-23.8V42.07a1.22 1.22 0 011.21-1.22h20.94a1.64 1.64 0 011.64 1.65v5.69a1.22 1.22 0 002.25.64c4-6.79 12.13-9.91 18-9.91 10.27 0 18.07 4.55 22.74 12.37a1.27 1.27 0 002.17 0c5.56-8.62 16.14-12.4 23.5-12.4 18.84.03 28.48 13.7 28.48 36.7zM734 85.4h-53.12a.82.82 0 00-.75 1.13c2.53 6.57 8.61 10.61 17.13 10.61A28.59 28.59 0 00715.6 90a.8.8 0 011.18.09l11.22 14.2a.86.86 0 010 1.09c-7.46 7.73-20 12.51-32.32 12.51-23.8 0-40.52-16.41-40.52-39.25 0-24.44 18.81-39.72 40.36-39.72s39.57 15.12 39.57 38c0 1.93-.14 4.43-.29 7.74a.81.81 0 01-.8.74zm-23.43-14a.82.82 0 00.82-.89C710.56 63.61 704.16 59 696 59c-6.8 0-13.44 3.11-16.1 11.34a.81.81 0 00.79 1z" class="cls-1"/></g></g></svg>
				</a>
			<% end %>
		</div>
		<% if !current_user && controller_name == 'feeds' %>
			<%= link_to new_user_session_path, class: 'md:hidden my-auto w-8' do %>
				<svg class="float-right stroke-current text-gray-600 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
				</svg>
			<% end %>
		<% end %>
	</div>
	<% if props[:visible][:search] %>
		<div class="<%= class_names('col-span-12 md:col-span-5 md:px-3',
																{ 'hidden md:block': controller_name != 'search' }) %>">
			<form
				class="flex items-center h-full px-2 md:px-0 bg-white rounded"
				data-controller="search"
				data-search-target="search"
				data-reflex-permanent
				data-turbo-permanent
				action="/busca"
				method="get"
				name="search"
				style="width: 100%">
				<!--				<svg class="w-6 h-auto fill-current material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
				<!--					<path fill="none" d="M0 0h24v24H0V0z"/>-->
				<!--					<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>-->
				<!--				</svg>-->
				<input autocomplete="false"
							 name="q"
							 class="bg-gray-100 focus:bg-white focus:border-transparent focus:outline-none focus:ring focus:ring-brand-500 font-light h-10 mx-auto placeholder-gray-800 px-4 py-1 rounded-full text-sm w-full"
							 id="text-field-shape-one"
							 placeholder="Busque por eventos ou tags..."
							 type="text"
							 data-search-target="input">
				<input class="bg-brand-500 cursor-pointer font-light font-semibold h-10 md:hidden ml-3 my-1 px-4 rounded text-white"
							 type="submit" value="Buscar"
							 data-search-target="submit"
							 data-action="click->search#searching"/>
			</form>
		</div>
	<% end %>
	<div class="hidden md:inline-block md:col-span-4">
		<div class="flex items-center justify-end h-full mr-5">
			<% unless current_page?('/users/sign_up') || current_page?('/users/sign_in') %>
				<% if current_user %>
					<% unless controller_name == 'users' && action_name == 'show' %>
						<% if current_user&.picture %>
							<%= link_to user_path(current_user) do %>
								<%= image_tag(current_user.picture, { class: "w-8 h-8 rounded-full", alt: current_user&.name, onerror: "this.style.opacity='0'" }) rescue nil %>
							<% end %>
						<% else %>
							<div class="w-8 h-8 mr-2 bg-gray-100 rounded-full"></div>
						<% end %>
					<% end %>
					<%#= link_to('Sair', destroy_user_session_path, method: :delete, class: 'hidden md:inline-block text-gray-500 font-sm') %>
				<% else %>
					<%= link_to 'Entrar', new_user_session_path, class: 'hover:text-brand-600 px-6 text-gray-500 text-sm' %>
					<%= link_to 'Criar conta',
											new_user_registration_path,
											data:     {
												'gtm-action':   'click',
												'gtm-category': 'Funil',
												'gtm-label':    'Criar meu perfil'
											}, class: 'bg-brand-500 border border-transparent focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 font-medium hover:bg-brand-600 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm text-white' %>
				<% end %>
			<% end %>
		</div>
	</div>
</header>
