<%

	props = {
		visible: {
			logo:         (!mobile_device? && ['search'].include?(controller_name)) || !['search'].include?(controller_name),
			back_button:  content_for?(:back_button),
			search:       (['feeds', 'events', 'organizers', 'places', 'movies', 'dashboard'].include?(controller_name) && !mobile_device?) ||
											['search', 'pages'].include?(controller_name),
			share_button: content_for?(:share_button_url) && action_name == 'show' && mobile_device?,
			user_menu:    ['feeds', 'movies'].include?(controller_name) && action_name != 'show' && current_user,
			sign_up:      !current_user
		}
	}.deep_merge!(props || {})

%>

<header class="<%= class_names('h-14 md:h-16 max-w-screen-xl md:grid md:grid-cols-12 md:px-0 mx-auto my-auto select-none tap-highlight-none',
															 { 'h-14 px-5':      !current_page?('/busca'),
																 'h-content py-1': current_page?('/busca') }) %>"
				id="top-bar">
	<div class="<%= class_names 'flex md:relative md:col-span-3 h-full',
															'space-x-4': content_for?(:top_app_bar_title) %>">
		<% if mobile_device? %>
			<div class="my-auto text-gray-600 md:hidden">
				<% if props[:visible][:back_button] %>
					<a data-controller="ripple"
						 onclick="TurboModule.backHistory()"
						 class="relative select-none ripple ripple-black tap-highlight-none"
						 aria-label="Voltar">
						<svg class="h-4 fill-current md:w-auto" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5 17L1.5 9M1.5 9L10.5 1M1.5 9H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				<% else %>
					<% if controller_name != 'search' && controller_name == 'feeds' %>
						<a href="<%= search_index_path %>">
							<svg class="w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0V0z"/>
								<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
							</svg>
						</a>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="<%= class_names 'h-full inline-flex items-center flex-auto md:pr-0',
																'hidden': !props[:visible][:logo] %>">
			<% if mobile_device? && content_for?(:top_app_bar_title) %>
				<div class="font-semibold text-gray-600">
					<%= content_for(:top_app_bar_title) %>
				</div>
			<% elsif props[:visible][:logo] %>
				<a class="relative inline-block mx-auto  md:ml-0" href="<%= root_path %>">
					<svg height="26" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4800.59 1030.28"><defs><style>.cls-1{fill:#6369d1}</style></defs><g id="Camada_2" data-name="Camada 2"><g id="Camada_12" data-name="Camada 12"><path class="cls-1" d="M879.61 62.67h144.78a8 8 0 018 8v679.62a8 8 0 01-8 8H879.61a8 8 0 01-8-8V70.65a8 8 0 018-7.98zM1370.36 779.3c-154.16 0-265.08-103.4-265.08-269.79s109-269.78 265.08-269.78c153.22 0 261.32 101.52 261.32 261.32a402 402 0 01-2.17 41.11 6.54 6.54 0 01-6.51 5.89h-350.66a6.56 6.56 0 00-6.5 7.39c8 63.53 49.07 93.19 98.88 93.19 43.2 0 68.31-20.68 81.92-47.19a6.53 6.53 0 015.81-3.57h158.48a6.56 6.56 0 016.29 8.39c-28.28 98.35-119.79 173.04-246.86 173.04zm-96.43-320.55h186.49a6.54 6.54 0 006.53-6.95c-3.5-53-47.09-83.29-98.47-83.29-50.2 0-89.29 29.07-101 82.31a6.54 6.54 0 006.45 7.93zM1935.83 239.73c77.08 0 133.48 34.78 161.68 81.78v-66.38a7.88 7.88 0 017.88-7.88h145a7.88 7.88 0 017.88 7.88v515.7c0 140.07-80.84 259.45-262.26 259.45-152.54 0-253-75.46-270.58-195.64a7.26 7.26 0 017.17-8.34h145.21a7.24 7.24 0 016.87 4.93c12.24 36.65 50.69 59.92 103.81 59.92 61.1 0 109-32 109-120.32v-74.26c-29.14 46.07-84.6 82.73-161.68 82.73-128.78 0-231.24-105.29-231.24-270.73s102.48-268.84 231.26-268.84zm47 140.06c-60.16 0-114.68 45.12-114.68 128.78s54.52 130.66 114.68 130.66c61.1 0 114.68-46.06 114.68-129.72s-53.58-129.72-114.68-129.72zM2491.9 758.55h-160.74V245.61a11.57 11.57 0 0111.58-11.61h137.58a11.58 11.58 0 0111.58 11.58v75.84c36.66-55.46 94-93.06 164.5-93.06v170.17h-44.18c-76.14 0-120.32 26.32-120.32 116.56zM2981.39 779.3c-154.16 0-265.08-103.4-265.08-269.79s109-269.78 265.08-269.78c153.22 0 261.32 101.52 261.32 261.32a403.06 403.06 0 01-2.1 40.44 7.31 7.31 0 01-7.26 6.56h-349.13a7.3 7.3 0 00-7.24 8.23c8.24 63 49.18 92.35 98.77 92.35 43 0 68.05-20.47 81.7-46.79a7.33 7.33 0 016.49-4h157a7.31 7.31 0 017 9.35c-28.57 97.91-119.89 172.11-246.55 172.11zm-104.34-320.55h201.16c0-57.34-45.12-90.24-98.7-90.24-52.64 0-93.06 31.96-102.46 90.24zM4041.48 473.73c0-68.62-39.48-106.22-100.58-106.22s-100.58 37.6-100.58 106.22v284.82h-159.8V473.73c0-68.62-39.48-106.22-100.58-106.22s-100.58 37.6-100.58 106.22v284.82h-160.74v-511A13.48 13.48 0 013332.1 234h133.77a13.49 13.49 0 0113.49 13.48v52.32c31-42.3 84.6-71.44 153.22-71.44 79 0 142.88 34.78 178.6 97.76 34.78-55.46 100.58-97.76 176.72-97.76 129.72 0 213.38 82.72 213.38 223.72v306.47h-159.8zM4539.27 779.3c-154.16 0-265.08-103.4-265.08-269.79s109-269.78 265.08-269.78c153.22 0 261.32 101.52 261.32 261.32a403.22 403.22 0 01-2.12 40.6 7.12 7.12 0 01-7.08 6.4h-349.5a7.12 7.12 0 00-7.06 8c8.18 63.1 49.16 92.56 98.8 92.56 43 0 68.11-20.52 81.76-46.89a7.12 7.12 0 016.31-3.87h157.39a7.12 7.12 0 016.83 9.11C4757.4 705 4666 779.3 4539.27 779.3zm-95.74-320.55h185.19a7.09 7.09 0 007.1-7.55c-3.79-52.67-47.25-82.69-98.43-82.69-50 0-89 28.82-100.81 81.63a7.1 7.1 0 006.95 8.61zM760.6 746.9L494.54 5.96 492.4 0H306.96l-2.14 5.96L38.76 746.9l-4.32 12.04H209.46l2.1-6.06 48.76-140.98.01-.02.01-.03 40.27-118.69 98.54-284.91 98.55 284.91 40.27 118.69.01.03.01.02 48.76 140.98 2.09 6.06h176.09l-4.33-12.04z"/><path d="M399.74 618.47a625.26 625.26 0 01-208.52-35.94c-67.35-23.76-130.94-58.78-189.1-104.14a5.56 5.56 0 01-.92-7.82l73.87-93.19a5.55 5.55 0 017.76-.91c191.56 148.84 444.18 148.58 632-.66a5.54 5.54 0 017.77.83L797.48 469a5.54 5.54 0 01-.83 7.82c-57.26 45.69-120.21 81-187.18 105.05a619.34 619.34 0 01-208.83 36.61z" fill="#9298ff"/></g></g></svg>
				</a>
			<% end %>
		</div>
		<% if !current_user && controller_name == 'feeds' %>
			<%= link_to new_user_session_path, class: 'md:hidden my-auto w-8' do %>
				<svg class="float-right stroke-current text-gray-600 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
				</svg>
			<% end %>
		<% end %>
	</div>
	<% if props[:visible][:search] %>
		<div class="<%= class_names('col-span-12 md:col-span-5 md:px-3',
																{ 'hidden md:block': controller_name != 'search' }) %>">
			<form
				class="flex items-center h-full px-2 md:px-0 bg-white rounded"
				data-controller="search"
				data-search-target="search"
				data-reflex-permanent
				data-turbo-permanent
				action="/busca"
				method="get"
				name="search"
				style="width: 100%">
				<!--				<svg class="w-6 h-auto fill-current material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
				<!--					<path fill="none" d="M0 0h24v24H0V0z"/>-->
				<!--					<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>-->
				<!--				</svg>-->
				<input autocomplete="false"
							 name="q"
							 class="bg-gray-100 focus:bg-white focus:border-transparent focus:outline-none focus:ring focus:ring-brand-500 font-light h-10 mx-auto placeholder-gray-800 px-4 py-1 rounded-full text-sm w-full"
							 id="text-field-shape-one"
							 placeholder="Busque por eventos ou tags..."
							 type="text"
							 data-search-target="input">
				<input class="bg-brand-500 cursor-pointer font-light font-semibold h-10 md:hidden ml-3 my-1 px-4 rounded text-white"
							 type="submit" value="Buscar"
							 data-search-target="submit"
							 data-action="click->search#searching"/>
			</form>
		</div>
	<% end %>
	<div class="hidden md:inline-block md:col-span-4">
		<div class="flex items-center justify-end h-full mr-5">
			<% unless current_page?('/users/sign_up') || current_page?('/users/sign_in') %>
				<% if current_user %>
					<% unless controller_name == 'users' && action_name == 'show' %>
						<% if current_user&.picture %>
							<%= link_to user_path(current_user) do %>
								<%= image_tag(current_user.picture, { class: "w-8 h-8 rounded-full", alt: current_user&.name, onerror: "this.style.opacity='0'" }) rescue nil %>
							<% end %>
						<% else %>
							<div class="w-8 h-8 mr-2 bg-gray-100 rounded-full"></div>
						<% end %>
					<% end %>
					<%#= link_to('Sair', destroy_user_session_path, method: :delete, class: 'hidden md:inline-block text-gray-500 font-sm') %>
				<% else %>
					<%= link_to 'Entrar', new_user_session_path, class: 'hover:text-brand-600 px-6 text-gray-500 text-sm' %>
					<%= link_to 'Criar conta',
											new_user_registration_path,
											data:     {
												'gtm-action':   'click',
												'gtm-category': 'Funil',
												'gtm-label':    'Criar meu perfil'
											}, class: 'bg-brand-500 border border-transparent focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 font-medium hover:bg-brand-600 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm text-white' %>
				<% end %>
			<% end %>
		</div>
	</div>
</header>
