<%

	props = {
		visible: {
			logo:         (!mobile_device? && ['search'].include?(controller_name)) || !['search'].include?(controller_name),
			back_button:  content_for?(:back_button),
			search:       (['feeds', 'events', 'organizers', 'places', 'movies', 'dashboard'].include?(controller_name) && !mobile_device?) ||
											['search', 'pages'].include?(controller_name),
			share_button: content_for?(:share_button_url) && action_name == 'show' && mobile_device?,
			user_menu:    ['feeds', 'movies'].include?(controller_name) && action_name != 'show' && current_user,
			sign_up:      !current_user
		}
	}.deep_merge!(props || {})

%>

<header class="<%= class_names('h-14 px-5 md:h-16 max-w-screen-lg md:grid md:grid-cols-12 mx-auto my-auto select-none tap-highlight-none',
															 { 'h-14':      !current_page?('/busca'),
																 'h-content py-1': current_page?('/busca') }) %>"
				id="top-bar">
	<div class="<%= class_names 'flex md:relative md:col-span-3 h-full',
															'space-x-4': content_for?(:top_app_bar_title) %>">
		<% if mobile_device? %>
			<div class="my-auto text-gray-600 md:hidden">
				<% if props[:visible][:back_button] %>
					<a data-controller="ripple"
						 onclick="TurboModule.backHistory()"
						 class="relative select-none ripple ripple-black tap-highlight-none"
						 aria-label="Voltar">
						<svg class="h-4 fill-current md:w-auto" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5 17L1.5 9M1.5 9L10.5 1M1.5 9H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				<% else %>
					<% if controller_name != 'search' && controller_name == 'feeds' %>
						<a href="<%= search_index_path %>">
							<svg class="w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0V0z"/>
								<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
							</svg>
						</a>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="<%= class_names 'h-full inline-flex items-center flex-auto md:pr-0',
																'hidden': !props[:visible][:logo] %>">
			<% if mobile_device? && content_for?(:top_app_bar_title) %>
				<div class="font-semibold text-gray-600">
					<%= content_for(:top_app_bar_title) %>
				</div>
			<% elsif props[:visible][:logo] %>
				<a class="relative inline-block mx-auto  md:ml-0" href="<%= root_path %>">
					<svg height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 689.87 154.88">
						<style>.cls-1 {
                fill: #3C43C5
            }</style>
						<defs/>
						<g id="Layer_2" data-name="Layer 2">
							<g id="Layer_5" data-name="Layer 5">
								<path d="M90.61 108.29V2.17A2.17 2.17 0 0192.78 0h19.47a2.17 2.17 0 012.17 2.17V116H98.28a7.67 7.67 0 01-7.67-7.71zM206.19 85.4h-52.85a.91.91 0 00-.84 1.26c2.56 6.5 8.61 10.48 17.08 10.48a28.57 28.57 0 0018.26-7.06.91.91 0 011.33.11l11.11 14a.94.94 0 01-.05 1.21c-7.47 7.7-20 12.45-32.26 12.45-23.8 0-40.53-16.41-40.53-39.25 0-24.44 18.82-39.72 40.37-39.72s39.56 15.12 39.56 38c0 1.92-.13 4.38-.28 7.64a.91.91 0 01-.9.88zm-23.46-14a.93.93 0 00.91-1.06c-.87-6.8-7.23-11.34-15.35-11.34-6.74 0-13.34 3.07-16 11.16a.93.93 0 00.86 1.23zM282.8 40.85h19.67a2 2 0 012 2V107c0 31.84-16.73 47.93-43.91 47.93-16.25 0-30.16-9.06-36.58-22.17A2 2 0 01225 130l16.09-6.46a1.89 1.89 0 012.34.82 20.32 20.32 0 0017.1 9.64c14.19 0 19.36-9 19.29-23a1.27 1.27 0 00-2.22-.84c-3.57 4.31-10.34 7.83-20.12 7.79-18.66-.1-36.35-15.28-36.35-39.57s17.69-39.4 36.35-39.4c6.4 0 14.36 2.1 20.1 6.86a2 2 0 003.21-1.55v-1.45a2 2 0 012.01-1.99zm-2.95 37.47a17.29 17.29 0 10-17.21 17.53 17.58 17.58 0 0017.21-17.53zM376.92 41.94l-5.14 20.7a1 1 0 01-1.36.62 19.69 19.69 0 00-9.71-2.26c-9.33 0-17 7.88-17 30.08V116h-23.8V41.81a1 1 0 011-1h19.71a2.8 2.8 0 012.81 2.8v8.43a1 1 0 001.8.43c4.76-9.39 12.67-13.59 20.71-13.59a24.92 24.92 0 0110.54 1.91 1 1 0 01.44 1.15zM461.07 85.4H408a.77.77 0 00-.73 1c2.51 6.63 8.6 10.71 17.17 10.71A28.55 28.55 0 00442.77 90a.78.78 0 011.13.08l11.28 14.25a.81.81 0 010 1c-7.47 7.75-20.06 12.54-32.35 12.54-23.8 0-40.53-16.41-40.53-39.25 0-24.44 18.82-39.72 40.37-39.72S462.2 54 462.2 76.88c0 1.93-.14 4.42-.29 7.71a.85.85 0 01-.84.81zm-23.36-14a.77.77 0 00.78-.84c-.77-6.93-7.18-11.56-15.37-11.56-6.81 0-13.47 3.13-16.11 11.39a.77.77 0 00.74 1zM596.54 75.59V116h-18a5.84 5.84 0 01-5.83-5.84V76.23C572.74 64.65 567 61 560.83 61 553.44 61 548 66.1 548 79.29V116h-23.84V76.71c0-11.58-5.78-15.76-11.73-15.76-6.44 0-13 3.22-13 15.76V116H475.6V42.07a1.21 1.21 0 011.22-1.22h17.77a4.81 4.81 0 014.81 4.81v2.53a1.21 1.21 0 002.24.64c4-6.79 12.13-9.91 18-9.91 10.27 0 18.07 4.55 22.74 12.37a1.27 1.27 0 002.17 0c5.57-8.62 16.15-12.4 23.5-12.4 18.84.03 28.49 13.7 28.49 36.7zM688.78 85.4h-53.09a.82.82 0 00-.75 1.13c2.53 6.57 8.61 10.61 17.14 10.61A28.57 28.57 0 00670.41 90a.82.82 0 011.19.09l11.23 14.18a.86.86 0 010 1.09c-7.47 7.73-20 12.51-32.32 12.51-23.8 0-40.53-16.41-40.53-39.25 0-24.44 18.82-39.72 40.37-39.72s39.56 15.12 39.56 38c0 1.93-.14 4.43-.29 7.74a.81.81 0 01-.84.76zm-23.44-14a.82.82 0 00.82-.89C665.37 63.61 659 59 650.79 59c-6.79 0-13.44 3.11-16.09 11.34a.81.81 0 00.78 1zM79.83 115.7a61.54 61.54 0 01-12.6 1.44c-8.2 0-13.69-2.52-16.36-7.87a1.44 1.44 0 00-2.26-.22c-4.5 5.32-12 8.82-23.31 8.82C6.7 117.89.69 107.62.05 96.81c-1.16-19.53 18.12-24.87 48-24.87 0-5.56 2-17.28-12-17.28-7.67 0-9.89 3.32-9.89 8.37a24.59 24.59 0 00.51 4.74L7.55 69.13c-2.07.15-3.92-1.13-4.1-2.88A29.66 29.66 0 013.29 63c0-13.56 10.06-23.09 34.26-23.09 28.64 0 34.27 14.58 34.27 32.76V98c0 3.47.85 5.2 4.09 5.2a3.25 3.25 0 013.4 2.76zm-31.9-29.15A1.65 1.65 0 0046 85.09c-16.13 1.12-21 1.85-20.93 10.57 0 4.9 3.75 8.22 9.37 8.22 7.68 0 13.45-5.92 13.45-12.7z" class="cls-1"/>
							</g>
						</g>
					</svg>
				</a>
			<% end %>
		</div>
		<% if !current_user && controller_name == 'feeds' %>
			<%= link_to new_user_session_path, class: 'md:hidden my-auto w-8' do %>
				<svg class="float-right stroke-current text-gray-600 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path>
				</svg>
			<% end %>
		<% end %>
	</div>
	<% if props[:visible][:search] %>
		<div class="<%= class_names('col-span-12 md:col-span-5 md:px-3',
																{ 'hidden md:block': controller_name != 'search' }) %>">
			<form
				class="flex items-center h-full px-2 md:px-0 bg-white rounded"
				data-controller="search"
				data-search-target="search"
				data-reflex-permanent
				data-turbo-permanent
				action="/busca"
				method="get"
				name="search"
				style="width: 100%">
				<!--				<svg class="w-6 h-auto fill-current material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
				<!--					<path fill="none" d="M0 0h24v24H0V0z"/>-->
				<!--					<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>-->
				<!--				</svg>-->
				<input autocomplete="false"
							 name="q"
							 class="bg-brand-100 focus:bg-white focus:border-transparent focus:outline-none focus:ring focus:ring-brand-500 font-light h-10 mx-auto placeholder-brand-400 focus:placeholder-brand-600 px-4 py-1 rounded-full text-sm w-full"
							 id="text-field-shape-one"
							 placeholder="Busque por rock, feira de rua, samba, standup..."
							 type="text"
							 data-search-target="input">
				<input class="bg-brand-500 cursor-pointer font-light font-semibold h-10 md:hidden ml-3 my-1 px-4 rounded text-white"
							 type="submit" value="Buscar"
							 data-search-target="submit"
							 data-action="click->search#searching"/>
			</form>
		</div>
	<% end %>
	<div class="hidden md:inline-block md:col-span-4">
		<div class="flex items-center justify-end h-full">
			<% unless current_page?('/users/sign_up') || current_page?('/users/sign_in') %>
				<% if current_user %>
					<% unless controller_name == 'users' && action_name == 'show' %>
						<% if current_user&.picture %>
							<%= link_to user_path(current_user) do %>
								<%= image_tag(current_user.picture, { class: "w-8 h-8 rounded-full", alt: current_user&.name, onerror: "this.style.opacity='0'" }) rescue nil %>
							<% end %>
						<% else %>
							<div class="w-8 h-8 mr-2 bg-gray-100 rounded-full"></div>
						<% end %>
					<% end %>
					<%#= link_to('Sair', destroy_user_session_path, method: :delete, class: 'hidden md:inline-block text-gray-500 font-sm') %>
				<% else %>
					<%= link_to 'Entrar', new_user_session_path, class: 'hover:text-brand-600 px-6 text-gray-500 text-sm' %>
					<%= link_to 'Criar conta',
											new_user_registration_path,
											data:     {
												'gtm-action':   'click',
												'gtm-category': 'Funil',
												'gtm-label':    'Criar meu perfil'
											}, class: 'bg-brand-500 border border-transparent focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 font-medium hover:bg-brand-600 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm text-white' %>
				<% end %>
			<% end %>
		</div>
	</div>
</header>
