<%

	props = {
		visible: {
			logo:         (!mobile_device? && ['search'].include?(controller_name)) || !['search'].include?(controller_name),
			back_button:  content_for?(:back_button),
			search:       (['feeds', 'events', 'organizers', 'places', 'movies', 'dashboard'].include?(controller_name) && !mobile_device?) ||
											['search', 'pages'].include?(controller_name),
			share_button: content_for?(:share_button_url) && action_name == 'show' && mobile_device?,
			user_menu:    ['feeds', 'movies'].include?(controller_name) && action_name != 'show' && current_user,
			sign_up:      !current_user
		}
	}

%>

<header class="<%= class_names('md:gap-16 md:px-0 px-5 justify-between h-14 md:h-16 max-w-screen-lg md:grid md:grid-cols-8 mx-auto my-auto select-none tap-highlight-none',
															 { 'flex h-14':      !current_page?('/busca'),
																 'h-content py-2': current_page?('/busca') }) %>"
				id="top-bar">
	<div class="<%= class_names 'flex md:relative md:col-span-2 h-full w-full',
															'space-x-4': content_for?(:top_app_bar_title) %>">
		<% if mobile_device? %>
			<div class="my-auto text-gray-800 md:hidden">
				<% if props[:visible][:back_button] %>
					<a data-controller="ripple"
						 onclick="TurboModule.backHistory()"
						 class="relative select-none ripple ripple-black tap-highlight-none"
						 tabindex="0"
						 role="button"
						 aria-label="Voltar">
						<svg class="h-4 fill-current stroke-current md:w-auto" viewBox="0 0 21 18" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M10.5 17L1.5 9M1.5 9L10.5 1M1.5 9H20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</svg>
					</a>
				<% else %>
					<% if controller_name != 'search' && controller_name == 'feeds' %>
						<a href="<%= search_index_path %>" aria-label="Buscar">
							<svg class="w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path fill="none" d="M0 0h24v24H0V0z"/>
								<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
							</svg>
						</a>
					<% end %>
				<% end %>
			</div>
		<% end %>
		<div class="<%= class_names 'h-full inline-flex items-center flex-auto md:pr-0',
																'hidden': !props[:visible][:logo] %>">
			<% if mobile_device? && content_for?(:top_app_bar_title) %>
				<turbo-frame id="top-app-bar--title" class="font-semibold text-gray-800">
					<%= content_for(:top_app_bar_title) %>
				</turbo-frame>
			<% elsif props[:visible][:logo] %>
				<a class="inline-block relative mx-auto transition-transform md:transform md:hover:scale-105 md:ml-0"
					 aria-label="Página inicial"
					 href="<%= root_path %>">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 822.44 181" class="h-8">
						<defs/>
						<g style="isolation:isolate">
							<g id="Layer_2" data-name="Layer 2">
								<g id="Layer_11" data-name="Layer 11">
									<path fill="#1f2937" d="M268.14 121.22h15.14V8.43a1.17 1.17 0 00-1.17-1.17h-19.47a1.17 1.17 0 00-1.16 1.17v106.12a6.67 6.67 0 006.66 6.67zM370.93 90.66L371 89c.11-2.4.2-4.29.2-5.82 0-21.07-16.58-37-38.56-37-19.56 0-39.37 13.3-39.37 38.73 0 22.51 16.26 38.24 39.53 38.24 12 0 24.32-4.74 31.49-12.09l-11-13.91a29.72 29.72 0 01-18.86 7.25c-8.66 0-15.23-4.05-18-11.1a2 2 0 01.2-1.8 1.91 1.91 0 011.58-.84zm-54.52-12.78a2 2 0 01-.26-1.75c2.5-7.53 8.69-11.84 17-11.84 8.7 0 15.42 5 16.34 12.2A2 2 0 01349 78a1.87 1.87 0 01-1.43.65H318a1.9 1.9 0 01-1.59-.77zM419.61 160.14c27.67 0 42.91-16.67 42.91-46.93V49.1a1 1 0 00-1-1h-19.66a1 1 0 00-1 1v1.4a3 3 0 01-1.73 2.71 2.93 2.93 0 01-3.13-.39c-5.9-4.89-13.92-6.64-19.46-6.64-17.14 0-35.35 13.46-35.35 38.41s18.22 38.47 35.35 38.56c8.37.07 15.41-2.66 19.35-7.42a2.19 2.19 0 012.46-.67 2.28 2.28 0 011.53 2.14c.05 8.72-1.87 14.9-5.85 18.91-3.36 3.39-8.21 5.11-14.43 5.12a21.28 21.28 0 01-17.93-10.14.9.9 0 00-.78-.45.87.87 0 00-.32.06l-16.1 6.47a1 1 0 00-.57.56 1 1 0 00.05.81c6.41 13.12 20.42 21.6 35.66 21.6zm2.09-57a18.45 18.45 0 1118.21-18.53c0 10.02-8.34 18.51-18.21 18.51zM472.52 48.11v73.11h21.8V97.29c0-27 11.31-31.07 18-31.07a20.61 20.61 0 0110.17 2.42L527.64 48a23.89 23.89 0 00-10.09-1.82c-8.39 0-15.61 4.76-19.81 13a2 2 0 01-3.7-.88v-8.38a1.81 1.81 0 00-1.81-1.81zM605.37 89c.11-2.41.2-4.31.2-5.85 0-21.07-16.58-37-38.56-37-19.56 0-39.37 13.3-39.37 38.73 0 22.51 16.26 38.24 39.53 38.24 12 0 24.31-4.74 31.49-12.09l-11-13.91a29.67 29.67 0 01-18.86 7.25c-8.78 0-15.38-4.14-18.11-11.36a1.72 1.72 0 01.2-1.61 1.78 1.78 0 011.47-.77h52.95zm-22-10.92a1.78 1.78 0 01-1.33.6h-30a1.77 1.77 0 01-1.44-.73 1.74 1.74 0 01-.26-1.57c2.46-7.68 8.67-12.08 17.06-12.08 8.83 0 15.56 5.11 16.37 12.43a1.76 1.76 0 01-.35 1.34zM717.54 121.22h17V81.85c0-23-9.75-35.67-27.46-35.67-7.2 0-17.37 3.74-22.66 12a2.29 2.29 0 01-1.92 1 2.28 2.28 0 01-1.92-1.12c-4.64-7.77-12.2-11.88-21.87-11.88-5.6 0-13.35 3-17.16 9.42a2.16 2.16 0 01-2.46 1 2.2 2.2 0 01-1.65-2.15v-2.53a3.82 3.82 0 00-3.81-3.81h-17.84a.22.22 0 00-.22.22v72.89h21.8V83c0-14.59 8.79-16.76 14-16.76 3 0 12.74 1.21 12.74 16.76v38.24h21.8V85.55c0-16.82 8.69-19.33 13.87-19.33 3.88 0 12.9 1.58 12.9 16.28v33.88a4.84 4.84 0 004.86 4.84zM783.88 46.18c-19.56 0-39.37 13.3-39.37 38.73 0 22.51 16.26 38.24 39.53 38.24 12 0 24.32-4.74 31.49-12.09l-11-13.91a29.7 29.7 0 01-18.86 7.25c-8.73 0-15.32-4.1-18.07-11.25a1.83 1.83 0 01.2-1.71 1.79 1.79 0 011.49-.78h52.9l.07-1.61c.11-2.44.2-4.36.2-5.91-.02-21.07-16.6-36.96-38.58-36.96zm16.4 31.88a1.81 1.81 0 01-1.37.61h-29.86a1.82 1.82 0 01-1.47-.75 1.75 1.75 0 01-.26-1.61c2.46-7.64 8.68-12 17-12 8.81 0 15.54 5.09 16.36 12.38a1.78 1.78 0 01-.4 1.37zM198 123.15c10.22 0 17.81-2.85 22.55-8.46a2.38 2.38 0 012.12-.79 2.29 2.29 0 011.8 1.21c2.45 4.92 7.51 7.32 15.47 7.32a59.37 59.37 0 0011.57-1.25l-.47-9a2.26 2.26 0 00-2.4-1.8c-4.48 0-5.09-3.14-5.09-6.2V79c0-16.5-4-31.77-33.26-31.77C188.49 47.2 177 54.84 177 69.3a30.79 30.79 0 00.16 3.11c.12 1.19 1.49 2.1 3 2l18-1.26a24.3 24.3 0 01-.33-3.84c0-6.4 3.46-9.37 10.88-9.37 4.42 0 7.76 1.14 9.94 3.4 3.47 3.59 3.28 9.06 3.14 13.06v1.82a1 1 0 01-1 1c-22.59 0-36.11 3.18-42.55 10-3.33 3.54-4.79 8.06-4.45 13.81.5 9.17 5.15 20.12 24.21 20.12zm20.7-32.79a2.89 2.89 0 012.19.75 2.32 2.32 0 01.76 1.71v4.63c0 7.55-6.48 13.7-14.44 13.7-6.17 0-10.34-3.71-10.38-9.22-.09-10.05 6.78-10.53 21.84-11.57z" class="cls-2"/>
									<path fill="#3c43c5" d="M12.24 158.14l56.39-36.4a2.18 2.18 0 013.1 0l56.38 35.62a2.19 2.19 0 003.74-1.55V10.37a1.76 1.76 0 00-1.76-1.76H10.26a1.76 1.76 0 00-1.76 1.76V156.6a2.19 2.19 0 003.74 1.54z" opacity=".95"/>
								</g>
							</g>
						</g>
					</svg>
				</a>
				<% if controller_name != 'feeds' %>
					<h1 class="text-center md:text-left absolute bottom-0 font-light left-0 text-xxs w-full">Eventos e cinema em
						Porto Alegre
					</h1>
				<% end %>
			<% end %>
		</div>
		<% if !current_user && controller_name == 'feeds' %>
			<%= link_to new_user_registration_path, class: 'md:hidden my-auto w-8' do %>
				<svg class="float-right w-6 text-gray-800 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
				</svg>
			<% end %>
		<% end %>
	</div>
	<% if props[:visible][:search] %>
		<div class="<%= class_names('col-span-12 md:col-span-3',
																{ 'hidden md:block': controller_name != 'search' }) %>">
			<form
				class="flex items-center h-full rounded"
				data-controller="search"
				data-search-target="search"
				data-reflex-permanent
				data-turbo-permanent
				action="/busca"
				method="get"
				name="search"
				style="width: 100%">
				<input autocomplete="false"
							 name="q"
							 class="border focus:bg-white focus:border-transparent focus:outline-none focus:placeholder-brand-600 focus:ring focus:ring-brand-500 font-light h-11 mx-auto placeholder-gray-400 px-4 py-1 rounded-full text-xs w-full"
							 id="text-field-shape-one"
							 placeholder="Busque por rock, feira de rua, samba, standup..."
							 type="text"
							 data-search-target="input">
				<input class="px-4 my-1 ml-3 h-10 font-light font-medium text-white rounded cursor-pointer bg-brand-600 md:hidden"
							 type="submit" value="Buscar"
							 data-search-target="submit"
							 data-action="click->search#searching"/>
			</form>
		</div>
	<% else %>
		<div class="hidden md:col-span-3 md:inline-block"></div>
	<% end %>
	<div class="md:col-span-3 flex-shrink-0">
		<div class="flex h-full items-center justify-end">
			<% if current_user && controller_name == 'feeds' && action_name == 'index' %>
				<%= link_to profile_path(current_user), class: 'c-chip border-0 md:border p-0 md:p-2' do %>
					<% if current_user&.picture %>
						<%= image_tag(current_user.picture, { class: "w-7 h-7 border rounded-full", alt: current_user&.name, onerror: "this.style.opacity='0'" }) rescue nil %>
					<% else %>
						<div class="mr-2 w-7 h-7 bg-gray-100 rounded-full"></div>
					<% end %>
					<div class="font-semibold text-gray-800 pl-2 text-sm md:text-base hidden md:inline-block">
						<%= truncate(current_user&.name, length: 15) %>
					</div>
				<% end %>
			<% else %>
				<% if controller_name == 'events' && action_name == 'show' %>
					<a href="<%= search_index_path %>" class="md:hidden" aria-label="Buscar">
						<svg class="w-6 h-auto fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path fill="none" d="M0 0h24v24H0V0z"/>
							<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
						</svg>
					</a>
				<% end %>
				<%= link_to 'Entrar', new_user_session_path, class: 'hidden md:inline-block hover:text-brand-600 px-6 text-gray-800 text-sm' %>
				<%= link_to 'Criar conta',
										new_user_registration_path,
										data:     {
											'gtm-action':   'click',
											'gtm-category': 'Funil',
											'gtm-label':    'Criar meu perfil'
										}, class: 'hidden md:inline-block bg-brand-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-brand-500 focus:ring-offset-2 font-medium hover:bg-brand-500 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm text-white' %>
			<% end %>
		</div>
	</div>
</header>
