<!DOCTYPE html>
<html>
<head>
  <title>Alegreme - Eventos e atividades em Porto Alegre</title>
  <!-- <meta name="turbolinks-cache-control" content="no-preview"> -->
  <meta name="theme-color" content="#5ecf80"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="apple-touch-icon" href="<%= image_url 'icons/launcher-icon-192x192.png' %>">
  <%= favicon_link_tag asset_path 'favicon-32x32.png', sizes: "32x32" %>
  <%= favicon_link_tag asset_path 'favicon-16x16.png', sizes: "16x16" %>

  <link rel="manifest" href="<%= asset_url 'manifest.json' %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Montserrat:800,900|Roboto:300,400,500,700|Material+Icons|Material+Icons+Round|Material+Icons+Sharp">

  <%= Gon::Base.render_data %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

</head>
<body>
<!--<div class="mdc-drawer-app-content">-->
<div style="height: 64px; width: 100%"></div>
<% if params['controller'] == 'devise/sessions' || current_page?(controller: 'feeds', action: 'index') %>
  <%= render partial: "layouts/app-top-bar" %>
  <%= render partial: 'layouts/hero' unless current_user %>
  <section class="me-page me-page--feed-section">
    <div class="me-overlay"></div>
    <%#= render partial: 'layouts/bot' %>
    <%= yield %>
  </section>
<% elsif params['controller'] == 'events' && params['action'] == 'show' %>
  <%= render partial: "layouts/app-top-bar", locals: {controller: 'events'} %>
  <section class="me-page--events-section is-animated">
    <div class="me-overlay"></div>
    <%= yield %>
  </section>
<% elsif params['controller'] == 'feeds' && params['action'] == 'train' %>
  <%= render partial: "layouts/app-top-bar" %>
  <section class="me-page--train-section">
    <%#= render partial: 'layouts/bot' %>
    <div class="me-overlay"></div>
    <%= yield %>
  </section>
<% else %>
  <%= render partial: "layouts/app-top-bar" %>
  <section class="me-page--profile__section">
    <%#= render partial: 'layouts/bot' %>
    <div class="me-overlay"></div>
    <%= yield %>
  </section>
<% end %>
<!--</div>-->
<% if notice %>
  <div data-controller="snackbar" class="me-snackbar mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label" role="status" aria-live="polite">
        <%= notice %>
      </div>
      <div class="mdc-snackbar__actions">
        <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
      </div>
    </div>
  </div>
<% end %>
<%= render partial: 'layouts/footer' %>
</body>
</html>
