<!doctype html>
<html ⚡ lang="pt-br">
<head>
	<meta charset="utf-8">
	<title><%= meta_title %></title>
	<link rel="canonical" href="<%= url_for(format: :html, only_path: false) %>">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<meta name="theme-color" content="#ffffff"/>

	<script async src="https://cdn.ampproject.org/v0.js"></script>
	<script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
	<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
	<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
	<script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
	<script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>

	<!-- Google Analytics-->
	<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Alegreme">
	<link rel="apple-touch-icon" href="<%= image_url 'icons/launcher-icon-180x180.png' %>">

	<%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-48x48.png', { sizes: "48x48", type: "image/png" } %>
	<%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-96x96.png', { sizes: "96x96", type: "image/png" } %>
	<%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-144x144.png', { sizes: "144x144", type: "image/png" } %>

	<style amp-custom>
		<%= inline_assets('application-amp.css').html_safe %>
	</style>

	<style amp-boilerplate>body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
  }

  @-webkit-keyframes -amp-start {
      from {
          visibility: hidden
      }
      to {
          visibility: visible
      }
  }

  @-moz-keyframes -amp-start {
      from {
          visibility: hidden
      }
      to {
          visibility: visible
      }
  }

  @-ms-keyframes -amp-start {
      from {
          visibility: hidden
      }
      to {
          visibility: visible
      }
  }

  @-o-keyframes -amp-start {
      from {
          visibility: hidden
      }
      to {
          visibility: visible
      }
  }

  @keyframes -amp-start {
      from {
          visibility: hidden
      }
      to {
          visibility: visible
      }
  }</style>
	<noscript>
		<style amp-boilerplate>body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
    }</style>
	</noscript>
	<%= render partial: 'layouts/meta-tags.html.erb' %>

<body>
<div class="amp">

	<amp-animation id="showAnim"
								 layout="nodisplay">
		<script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "1",
          "visibility": "visible"
        }]
      }]
    }




		</script>
	</amp-animation>

	<amp-animation id="hideAnim"
								 layout="nodisplay">
		<script type="application/json">
    {
      "duration": "200ms",
      "fill": "both",
      "iterations": "1",
      "direction": "alternate",
      "animations": [{
        "selector": "#scrollToTopButton",
        "keyframes": [{
          "opacity": "0",
          "visibility": "hidden"
        }]
      }]
    }




		</script>
	</amp-animation>

	<button id="scrollToTopButton"
					on="tap:top.scrollTo(duration=200)"
					class="scrollToTop">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path fill="none" d="M0 0h24v24H0V0z"/>
			<path d="M13 19V7.83l4.88 4.88c.39.39 1.03.39 1.42 0 .39-.39.39-1.02 0-1.41l-6.59-6.59c-.39-.39-1.02-.39-1.41 0l-6.6 6.58c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L11 7.83V19c0 .55.45 1 1 1s1-.45 1-1z"/>
		</svg>
	</button>

	<div id="top" style="visibility: hidden">
		<amp-position-observer on="enter:hideAnim.start; exit:showAnim.start"
													 layout="nodisplay">
		</amp-position-observer>
	</div>

	<div class="me-top-app-bar">
		<div class="me-top-app-bar__wrapper">
			<a href="/">
				<svg style="fill: #3C43C5" height="26" viewBox="0 0 148 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.338745 14.6C0.338745 12.88 0.658745 11.37 1.29875 10.07C1.95874 8.77005 2.84874 7.77005 3.96874 7.07005C5.08874 6.37005 6.33874 6.02005 7.71874 6.02005C8.89874 6.02005 9.92874 6.26005 10.8087 6.74005C11.7087 7.22005 12.3987 7.85005 12.8787 8.63005V6.26005H18.0087V23H12.8787V20.63C12.3787 21.41 11.6787 22.04 10.7787 22.52C9.89874 23 8.86874 23.24 7.68874 23.24C6.32874 23.24 5.08874 22.89 3.96874 22.19C2.84874 21.47 1.95874 20.46 1.29875 19.16C0.658745 17.84 0.338745 16.32 0.338745 14.6ZM12.8787 14.63C12.8787 13.35 12.5187 12.34 11.7987 11.6C11.0987 10.86 10.2387 10.49 9.21874 10.49C8.19874 10.49 7.32874 10.86 6.60874 11.6C5.90874 12.32 5.55874 13.32 5.55874 14.6C5.55874 15.88 5.90874 16.9 6.60874 17.66C7.32874 18.4 8.19874 18.77 9.21874 18.77C10.2387 18.77 11.0987 18.4 11.7987 17.66C12.5187 16.92 12.8787 15.91 12.8787 14.63Z"/>
					<path d="M26.7001 0.800049V23H21.5701V0.800049H26.7001Z"/>
					<path d="M46.0477 14.36C46.0477 14.84 46.0177 15.34 45.9577 15.86H34.3477C34.4277 16.9 34.7577 17.7001 35.3377 18.26C35.9377 18.8 36.6677 19.07 37.5277 19.07C38.8077 19.07 39.6977 18.53 40.1977 17.45H45.6577C45.3777 18.55 44.8677 19.5401 44.1277 20.42C43.4077 21.3 42.4977 21.99 41.3977 22.49C40.2977 22.99 39.0677 23.24 37.7077 23.24C36.0677 23.24 34.6077 22.89 33.3277 22.19C32.0477 21.49 31.0477 20.49 30.3277 19.19C29.6077 17.89 29.2477 16.37 29.2477 14.63C29.2477 12.89 29.5977 11.37 30.2977 10.07C31.0177 8.77005 32.0177 7.77005 33.2977 7.07005C34.5777 6.37005 36.0477 6.02005 37.7077 6.02005C39.3277 6.02005 40.7677 6.36005 42.0277 7.04005C43.2877 7.72005 44.2677 8.69005 44.9677 9.95005C45.6877 11.21 46.0477 12.68 46.0477 14.36ZM40.7977 13.01C40.7977 12.13 40.4977 11.43 39.8977 10.91C39.2977 10.39 38.5477 10.13 37.6477 10.13C36.7877 10.13 36.0577 10.38 35.4577 10.88C34.8777 11.38 34.5177 12.09 34.3777 13.01H40.7977Z"/>
					<path d="M54.9641 6.02005C56.1441 6.02005 57.1741 6.26005 58.0541 6.74005C58.9541 7.22005 59.6441 7.85005 60.1241 8.63005V6.26005H65.2541V22.97C65.2541 24.51 64.9441 25.9 64.3241 27.14C63.7241 28.4 62.7941 29.4 61.534 30.14C60.2941 30.88 58.744 31.25 56.884 31.25C54.404 31.25 52.3941 30.66 50.854 29.48C49.3141 28.32 48.4341 26.74 48.2141 24.74H53.284C53.444 25.38 53.8241 25.88 54.424 26.24C55.0241 26.62 55.7641 26.81 56.6441 26.81C57.7041 26.81 58.5441 26.5 59.1641 25.88C59.8041 25.28 60.1241 24.31 60.1241 22.97V20.6C59.6241 21.38 58.9341 22.02 58.0541 22.52C57.1741 23 56.1441 23.24 54.9641 23.24C53.5841 23.24 52.3341 22.89 51.2141 22.19C50.0941 21.47 49.2041 20.46 48.544 19.16C47.904 17.84 47.5841 16.32 47.5841 14.6C47.5841 12.88 47.904 11.37 48.544 10.07C49.2041 8.77005 50.0941 7.77005 51.2141 7.07005C52.3341 6.37005 53.5841 6.02005 54.9641 6.02005ZM60.1241 14.63C60.1241 13.35 59.764 12.34 59.044 11.6C58.344 10.86 57.4841 10.49 56.4641 10.49C55.444 10.49 54.5741 10.86 53.854 11.6C53.154 12.32 52.8041 13.32 52.8041 14.6C52.8041 15.88 53.154 16.9 53.854 17.66C54.5741 18.4 55.444 18.77 56.4641 18.77C57.4841 18.77 58.344 18.4 59.044 17.66C59.764 16.92 60.1241 15.91 60.1241 14.63Z"/>
					<path d="M73.9454 9.05005C74.5454 8.13005 75.2954 7.41005 76.1954 6.89005C77.0954 6.35005 78.0954 6.08005 79.1954 6.08005V11.51H77.7854C76.5054 11.51 75.5454 11.79 74.9054 12.35C74.2654 12.89 73.9454 13.85 73.9454 15.23V23H68.8154V6.26005H73.9454V9.05005Z"/>
					<path d="M97.2774 14.36C97.2774 14.84 97.2474 15.34 97.1874 15.86H85.5774C85.6574 16.9 85.9874 17.7001 86.5674 18.26C87.1674 18.8 87.8974 19.07 88.7574 19.07C90.0374 19.07 90.9274 18.53 91.4274 17.45H96.8874C96.6074 18.55 96.0974 19.5401 95.3574 20.42C94.6374 21.3 93.7274 21.99 92.6274 22.49C91.5274 22.99 90.2974 23.24 88.9374 23.24C87.2974 23.24 85.8374 22.89 84.5574 22.19C83.2774 21.49 82.2774 20.49 81.5574 19.19C80.8374 17.89 80.4774 16.37 80.4774 14.63C80.4774 12.89 80.8274 11.37 81.5274 10.07C82.2474 8.77005 83.2474 7.77005 84.5274 7.07005C85.8074 6.37005 87.2774 6.02005 88.9374 6.02005C90.5574 6.02005 91.9974 6.36005 93.2574 7.04005C94.5174 7.72005 95.4974 8.69005 96.1974 9.95005C96.9174 11.21 97.2774 12.68 97.2774 14.36ZM92.0274 13.01C92.0274 12.13 91.7274 11.43 91.1274 10.91C90.5274 10.39 89.7774 10.13 88.8774 10.13C88.0174 10.13 87.2874 10.38 86.6874 10.88C86.1074 11.38 85.7474 12.09 85.6074 13.01H92.0274Z"/>
					<path d="M121.194 6.08005C123.274 6.08005 124.924 6.71005 126.144 7.97005C127.384 9.23005 128.004 10.98 128.004 13.22V23H122.904V13.91C122.904 12.83 122.614 12 122.034 11.42C121.474 10.82 120.694 10.52 119.694 10.52C118.694 10.52 117.904 10.82 117.324 11.42C116.764 12 116.484 12.83 116.484 13.91V23H111.384V13.91C111.384 12.83 111.094 12 110.514 11.42C109.954 10.82 109.174 10.52 108.174 10.52C107.174 10.52 106.384 10.82 105.804 11.42C105.244 12 104.964 12.83 104.964 13.91V23H99.8337V6.26005H104.964V8.36005C105.484 7.66005 106.164 7.11005 107.004 6.71005C107.844 6.29005 108.794 6.08005 109.854 6.08005C111.114 6.08005 112.234 6.35005 113.214 6.89005C114.214 7.43005 114.994 8.20005 115.554 9.20005C116.134 8.28005 116.924 7.53005 117.924 6.95005C118.924 6.37005 120.014 6.08005 121.194 6.08005Z"/>
					<path d="M147.222 14.36C147.222 14.84 147.192 15.34 147.132 15.86H135.522C135.602 16.9 135.932 17.7001 136.512 18.26C137.112 18.8 137.842 19.07 138.702 19.07C139.982 19.07 140.872 18.53 141.372 17.45H146.832C146.552 18.55 146.042 19.5401 145.302 20.42C144.582 21.3 143.672 21.99 142.572 22.49C141.472 22.99 140.242 23.24 138.882 23.24C137.242 23.24 135.782 22.89 134.502 22.19C133.222 21.49 132.222 20.49 131.502 19.19C130.782 17.89 130.422 16.37 130.422 14.63C130.422 12.89 130.772 11.37 131.472 10.07C132.192 8.77005 133.192 7.77005 134.472 7.07005C135.752 6.37005 137.222 6.02005 138.882 6.02005C140.502 6.02005 141.942 6.36005 143.202 7.04005C144.462 7.72005 145.442 8.69005 146.142 9.95005C146.862 11.21 147.222 12.68 147.222 14.36ZM141.972 13.01C141.972 12.13 141.672 11.43 141.072 10.91C140.472 10.39 139.722 10.13 138.822 10.13C137.962 10.13 137.232 10.38 136.632 10.88C136.052 11.38 135.692 12.09 135.552 13.01H141.972Z"/>
				</svg>
			</a>
			<amp-social-share type="system">
				Compartilhar
			</amp-social-share>
		</div>
	</div>
	<div class="me-content">
		<%= yield %>
	</div>
</div>

<div class="me-footer">
	<span>Feito com ♥ no Centro Histórico de Porto Alegre</span>
</div>

<amp-analytics type="gtag" data-credentials="include">
	<script type="application/json">
			{
				"vars" : {
					"gtag_id": "<%= Rails.env.development? ? 'UA-144190547-1' : 'UA-144190547-1' %>",
					"config" : {
						"<%= Rails.env.development? ? 'UA-144190547-1' : 'UA-144190547-1' %>": { "groups": "default" }
					}
				}
			}
		</script>
</amp-analytics>

</body>
</html>