<!DOCTYPE html>
<html>
<head>

  <title><%= meta_title %></title>

  <meta name="theme-color" content="#ffffff"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= render partial: 'layouts/meta-tags' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="apple-touch-icon" href="<%= image_url 'icons/launcher-icon-192x192.png' %>">

  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-48x48.png', {sizes: "48x48", type: "image/png"} %>
  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-96x96.png', {sizes: "96x96", type: "image/png"} %>
  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-144x144.png', {sizes: "144x144", type: "image/png"} %>

  <link rel="manifest" href="<%= asset_url 'manifest.json' %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Montserrat:800,900|Roboto:300,400,500,700|Material+Icons|Material+Icons+Round|Material+Icons+Sharp&display=swap">

  <%= Gon::Base.render_data %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%#= javascript_pack_tag 'train', 'data-turbolinks-track': 'reload', defer: true if params[:action] == 'train' %>

</head>
<body>

<%= render partial: "layouts/app-top-bar" %>
<!--<section class="">-->
  <%= yield %>
<!--</section>-->

<% if notice %>
  <div data-controller="snackbar" class="me-snackbar mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label" role="status" aria-live="polite">
        <%= notice %>
      </div>
      <div class="mdc-snackbar__actions">
        <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
      </div>
    </div>
  </div>
<% end %>
<%#= render partial: 'layouts/footer' %>
</body>
</html>
