<!DOCTYPE html>
<html lang="pt-br">
<head>
	<% unless modern_browser? %>
		<script crossorigin="anonymous" rel="preload" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&rum=true&features=Element.prototype.closest%2CIntersectionObserverEntry%2CIntersectionObserver%2CMutationObserver%2Cfetch%2CrequestAnimationFrame%2CrequestIdleCallback%2CArray.prototype.forEach"></script>
	<% end %>


  <title>Alegreme - Aproveite a cidade de Porto Alegre</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Alegreme">
  <link rel="apple-touch-icon" href="<%= image_url 'icons/launcher-icon-180x180.png' %>">

  <%= render partial: 'layouts/meta-tags' %>
  <%= canonical_url %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-48x48.png', {sizes: "48x48", type: "image/png"} %>
  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-96x96.png', {sizes: "96x96", type: "image/png"} %>
  <%= favicon_link_tag 'https://alegreme.sfo2.digitaloceanspaces.com/stable-images/favicon-144x144.png', {sizes: "144x144", type: "image/png"} %>

  <link rel="manifest" href="<%= asset_url 'manifest.json' %>"/>

  <%#= inline_css 'fcp.scss' %>
  <%#= inline_js 'fcp.js' %>

	<%= stylesheet_pack_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>



</head>
<body>

<%= render 'layouts/google_analytics' %>

<%= yield %>

<script rel="preconnect" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" defer></script>
<script rel="preconnect" src="https://apis.google.com/js/platform.js" defer></script>
<%= javascript_pack_tag 'welcome.js', defer: true %>

<% if notice %>
  <div class="mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label"
           role="status"
           aria-live="polite">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

</body>
</html>
