<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WH7RVCR');</script>
  <!-- End Google Tag Manager -->

  <title>Alegreme - Aproveite a cidade de Porto Alegre</title>

  <meta name="Description" content="Atividades de rua, meetups profissionais, os rolês que só avisam no dia, aquele filme no Mario Quintana... Um feed para as pessoas que gostam de explorar coisas novas e de não perder o que já conhecem.">
  <meta name="theme-color" content="#5ecf80"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag asset_path 'apple-touch-icon.png', sizes: "180x180" %>
  <%= favicon_link_tag asset_path 'favicon-32x32.png', sizes: "32x32" %>
  <%= favicon_link_tag asset_path 'favicon-16x16.png', sizes: "16x16" %>


  <%= inline_css 'welcome/fcp.css' %>
  <%= inline_js 'welcome/fcp.js' %>

  <%= stylesheet_link_tag 'welcome/application', media: "none", onload: "if(media!='all')media='all'" %>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH7RVCR"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<%= yield %>

<% if notice %>
  <div data-controller="snackbar" class="me-snackbar mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label" role="status" aria-live="polite">
        <%= notice %>
      </div>
      <div class="mdc-snackbar__actions">
        <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
      </div>
    </div>
  </div>
<% end %>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Cabin:400,500,600,700">
<%= javascript_include_tag 'welcome/application.js', defer: true %>
<script src="https://apis.google.com/js/api:client.js?onload=init" defer></script>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5d2f4bbe364d580011c349e5&product=inline-share-buttons' async='async'></script>

</body>
</html>
