<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
	  w[l] = w[l] || [];
	  w[l].push({
		  'gtm.start'                    :
			  new Date().getTime(), event: 'gtm.js'
	  });
	  var f                          = d.getElementsByTagName(s)[0],
	      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
	  j.async                        = true;
	  j.src                          =
		  'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
	  f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-WH7RVCR');</script>
  <!-- End Google Tag Manager -->

  <title>Alegreme - Aproveite a cidade de Porto Alegre</title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <%= render partial: 'layouts/meta-tags' %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="apple-touch-icon" href="<%= image_url 'icons/launcher-icon-192x192.png' %>">
  <%= favicon_link_tag asset_path 'favicon-32x32.png', sizes: "32x32" %>
  <%= favicon_link_tag asset_path 'favicon-16x16.png', sizes: "16x16" %>

  <link rel="manifest" href="<%= asset_url 'manifest.json' %>"/>

  <%= inline_css 'welcome/fcp.css' %>
  <%= inline_js 'welcome/fcp.js' %>

  <%= stylesheet_link_tag 'welcome/application', media: "none", onload: "if(media!='all')media='all'" %>

</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WH7RVCR"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<%= yield %>

<% if notice %>
  <div class="mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label"
           role="status"
           aria-live="polite">
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>


<script rel="preconnect" src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" defer></script>
<script rel="preconnect" src="https://apis.google.com/js/platform.js" defer></script>
<%= javascript_include_tag 'welcome/application.js', defer: true %>
<%= javascript_pack_tag 'welcome.js', defer: true %>

</body>
</html>
