<%= render Modal::SignInComponent.new(text: 'Crie uma conta para salvar eventos favoritos e receber recomendações únicas') %>

<section class="min-h-screen mt-3 mb-24 is-animated md:mt-16">

	<%= notice %>

	<% content_for :meta_title, "Eventos em #{@place.details_name} Porto Alegre | Alegreme.com" %>
	<% content_for :canonical_url, place_url(@place, format: :html) %>
	<% content_for :back_button, true %>
	<% content_for :top_app_bar_title, truncate(@place.details_name, length: 30) %>

	<script type="application/ld+json">
  [
    <%= render partial: 'layouts/json_ld', collection: @upcoming_events, as: :event %>
  ]
	</script>

	<div class="mx-auto space-y-3 overflow-hidden is-animated md:border md:border-gray-100 md:rounded-2xl md:shadow-2xl md:max-w-screen-sm sm:container">
		<div class="bg-gray-100 px-8 py-3 rounded-md space-y-3 text-center">
			<%= image_tag shrine_image_url(@place, :sm), {
				loading: :lazy,
				class:   'w-16 h-16 shadow mx-auto rounded-full',
				onerror: "this.style.opacity='0'"
			} if @place.image_data? %>
			<div>
				<div class="flex-1 text-2xl font-black leading-6 text-gray-600 group-hover:text-green-500 md:leading-normal md:pl-0 md:text-4xl">
					<%= @place.details_name %>
				</div>
				<div class="pt-1 text-sm leading-tight text-gray-600 md:px-0">
					<%= @place.geographic_address %>
				</div>
			</div>
			<div>
				<%= render(FollowButtonComponent.new(
					user:       current_user,
					followable: @place
				)) %>
			</div>
		</div>

		<%= render MainSidebar::GroupByDayListComponent.new events: @upcoming_events, user: current_user %>

	</div>

</section>
