<%

  raise ArgumentError unless identifier && items && title

  type = opts[:type] || :large
  filters = opts[:filters] || {categories: true, kinds: true, ocurrences: true}
  total_events_in_collection = opts.dig(:detail, :total_events_in_collection) || 0
  actual_events_in_collection = opts.dig(:detail, :actual_events_in_collection) || 0
  filters_applyed = opts.dig(:detail, :init_filters_applyed) || {}
  json_request = local_assigns.fetch(:json_request, false)
  cache_keys = params[:defaults] ? JSON.parse(params[:defaults]) : {}

%>


<%# unless items[:events].empty? %>
<%# cache [current_user, identifier, cache_keys[:categories], cache_keys[:kinds], cache_keys[:ocurrences]] do %>

<section class="me-feed__section"
     data-controller="section"
     data-target="section.section"
     data-section-total-events-in-collection="<%= total_events_in_collection %>"
     data-section-actual-events-in-collection="<%= actual_events_in_collection %>"
     data-observable="float-menu.section"
     id="<%= identifier %>">
  <div class="me-feed__section-head">
    <h2>
      <%= title[:principal] %>
      <span>
        <%= title[:secondary] %>
      </span>
    </h2>
    <% if filters %>
      <div class="me-filter"
           data-controller="filter"
           data-filter-section-identifier="<%= identifier %>"
           data-filter-title="<%= title.to_json %>"
           data-filter-init-filters-applyed="<%= filters_applyed.to_json %>"
           data-target="filter.filterContainer section.filter">
        <% if filters[:categories] && items[:filters] %>
          <%= title[:categories] %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:categories],
              params_filters:               params[:categories],
              filters_that_exist_in_events: items[:categories],
              icon_type:                    'filter_list',
              type:                         'categories'
          } %>
        <% end %>
        <% if (filters[:kinds] && params[:categories] && !items[:kinds].blank?) || (filters[:kinds] && !params[:kinds].blank?) %>
          <%= title[:kinds] %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:kinds],
              params_filters:               params[:kinds],
              filters_that_exist_in_events: items[:kinds],
              icon_type:                    'filter_list',
              type:                         'kinds'
          } %>
        <% end %>
        <% if filters[:ocurrences] && items[:ocurrences] %>
          <%= title[:ocurrences] %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:ocurrences],
              params_filters:               params[:ocurrences],
              filters_that_exist_in_events: items[:ocurrences],
              icon_type:                    '',
              type:                         'ocurrences'
          } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner" data-target="section.scrollContainer" data-section-turbolinks-persist-scroll="0">
      <% unless items.empty? %>
        <%= render partial: 'components/collection/event', collection: items[:events], as: :event, locals: {
            identifier:   identifier,
            json_request: json_request
        } %>

        <%= render partial: 'components/collection/similar', locals: {
            events:       items[:events],
            identifier:   identifier,
            json_request: json_request
        } unless mobile_device? %>

        <% if actual_events_in_collection < total_events_in_collection && mobile_device? %>
          <div class="me-feed__load-more me-feed__load-more--mobile"
               data-action="click->section#loadMore"
               data-target="section.loadMoreButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
          </div>
        <% end %>

        <%# if total_events_in_collection < 4 %>
        <!-- <div class="me-feed__empty">
          <i class="material-icons-sharp sentiment-satisfied">
            sentiment_satisfied
          </i>
          <span>Estes são todos os eventos disponíveis para esta coleção. Experimente explorar mais ou diminuir os filtros.</span>
        </div> -->
        <%# end %>

      <% end %>
    </div>
    <%= render partial: 'components/collection/similar', locals: {
        events:     items[:events],
        identifier: identifier
    } if mobile_device? %>
    <% if actual_events_in_collection < total_events_in_collection %>
      <div class="me-feed__load-more"
           data-action="click->section#loadMore"
           data-target="section.loadMoreButton">
        <button class="mdc-button">
          <span class="mdc-button__label">mostrar mais</span>
        </button>
      </div>
    <% end %>
    <% unless items[:events] %>
      <div class="me-card me-card--notice mdc-card mdc-card--outlined">
        <div class="me-card__primary-section">
          <i class="material-icons">
            info
          </i>
          Nenhum evento com as características selecionadas
        </div>
        <div class="me-card__secondary-section">
          Tente remover alguns filtros ou volte para a listagem completa sem filtros.
        </div>
        <!--        <div class="me-card__primary-action">-->
        <!--          Voltar para listagem completa-->
        <!--        </div>-->
      </div>
    <% end %>
  </div>
</section>
<%# end %>
<%# end %>
