<%

  raise ArgumentError unless identifier && items && title

  filters = opts[:filters] || {categories: true, kinds: true, ocurrences: true}
  total_events_in_collection = opts.dig(:detail, :total_events_in_collection) || 0
  actual_events_in_collection = opts.dig(:detail, :actual_events_in_collection) || 0
  filters_applyed = opts.dig(:detail, :init_filters_applyed) || {}
  json_request = local_assigns.fetch(:json_request, false)

%>


<section class="me-feed__section"
         data-controller="section"
         data-target="section.section"
         data-section-total-events-in-collection="<%= total_events_in_collection %>"
         data-section-actual-events-in-collection="<%= actual_events_in_collection %>"
         data-section-load-more-loading="false"
         data-observable="float-menu.section"
         id="<%= identifier %>">
  <div class="me-feed__section-head">
    <h2>
      <%= title[:principal] %>
      <span>
        <%= title[:secondary] %>
      </span>
    </h2>
    <% if filters %>
      <div class="me-filter"
           data-controller="filter"
           data-filter-section-identifier="<%= identifier %>"
           data-filter-title="<%= title.to_json %>"
           data-filter-init-filters-applyed="<%= filters_applyed.to_json %>"
           data-target="filter.filterContainer section.filter">
        <% if filters[:categories] && !items[:categories].blank? %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:categories],
              params_filters:               params[:categories],
              filters_that_exist_in_events: items[:categories],
              icon_type:                    'filter_list',
              type:                         'categories'
          } %>
        <% end %>
        <% if (filters[:kinds] && params[:categories] && !items[:kinds].blank?) || (filters[:kinds] && !params[:kinds].blank?) %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:kinds],
              params_filters:               params[:kinds],
              filters_that_exist_in_events: items[:kinds],
              icon_type:                    'filter_list',
              type:                         'kinds'
          } %>
        <% end %>
        <% if filters[:ocurrences] && !items[:ocurrences].blank? %>
          <%= title[:ocurrences] %>
          <%= render partial: 'feeds/filter', locals: {
              initial_filters:              items[:ocurrences],
              params_filters:               params[:ocurrences],
              filters_that_exist_in_events: items[:ocurrences],
              icon_type:                    '',
              type:                         'ocurrences'
          } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner"
         data-section-turbolinks-persist-scroll="0"
         data-target="section.scrollContainer">
      <% unless items.empty? %>
        <%= render partial: 'components/collection/event', collection: items[:events], as: :event, locals: {
            identifier:   identifier,
            json_request: json_request
        } %>

        <%= render partial: 'components/collection/similar', locals: {
            events:       items[:events],
            identifier:   identifier,
            json_request: json_request
        } if !mobile_device? || ['places', 'organizers'].include?(params[:controller]) %>

        <% if actual_events_in_collection < total_events_in_collection && mobile_device? %>

          <div data-action="click->section#loadMore"
               data-target="section.loadMoreButton"
               class="me-feed__load-more me-feed__load-more--mobile">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/>
            </svg>
          </div>
          <div class="me-feed__load-more me-feed__load-more--mobile is-loading">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
            </svg>
          </div>

        <% end %>

        <%# if total_events_in_collection < 4 %>
        <!-- <div class="me-feed__empty">
          <i class="material-icons-sharp sentiment-satisfied">
            sentiment_satisfied
          </i>
          <span>Estes são todos os eventos disponíveis para esta coleção. Experimente explorar mais ou diminuir os filtros.</span>
        </div> -->
        <%# end %>

      <% end %>
    </div>
    <%= render partial: 'components/collection/similar', locals: {
        events:     items[:events],
        identifier: identifier
    } if mobile_device? && !['places', 'organizers'].include?(params[:controller]) %>
    <% if actual_events_in_collection < total_events_in_collection %>
      <div class="me-feed__load-more"
           data-action="click->section#loadMore"
           data-target="section.loadMoreButton">
        <button class="mdc-button">
          <span class="mdc-button__label">mostrar mais</span>
        </button>
      </div>
    <% end %>
    <% unless items[:events] %>
      <div class="me-card me-card--notice mdc-card mdc-card--outlined">
        <div class="me-card__primary-section">
          <i class="material-icons">
            info
          </i>
          Nenhum evento com as características selecionadas
        </div>
        <div class="me-card__secondary-section">
          Tente remover alguns filtros ou volte para a listagem completa sem filtros.
        </div>
        <!--        <div class="me-card__primary-action">-->
        <!--          Voltar para listagem completa-->
        <!--        </div>-->
      </div>
    <% end %>
  </div>
</section>
<%# end %>
<%# end %>
