<%

  raise ArgumentError unless data

  data = {
      collection:                  {},
      user:                        current_user,
      identifier:                  nil,
      total_events_in_collection:  0,
      actual_events_in_collection: 0,
      followable:                  nil,
      title:                       {
          principal: nil,
          secondary: nil
      },
      continue_to:                 nil,
      json_request:                false,
      origin:                      nil,
      filters:                     {
          categories: true,
          kinds:      true,
          ocurrences: true
      }
  }.deep_merge!(data)

%>

<section class="me-feed__section"
         data-controller="section"
         data-target="section.section"
         data-section-total-events-in-collection="<%= data[:collection][:detail][:total_events_in_collection] %>"
         data-section-actual-events-in-collection="<%= data[:collection][:detail][:actual_events_in_collection] %>"
         data-section-load-more-loading="false"
         data-observable="float-menu.section"
         id="<%= data[:identifier] %>">
  <div class="me-feed__section-head">
    <h2>
      <%= data[:title][:principal] %>
      <%# if data[:collection][:detail][:actual_events_in_collection] < data[:collection][:detail][:total_events_in_collection] %>
      <span class="me-see-all is-hoverable"
            data-fixed="true"
            data-action="click->section#loadMore"
            data-target="section.seeAll"
            data-continue-to-path="<%= data[:continue_to] %>">
          Ver tudo
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
        </span>
      <%# end %>
      <%= render partial: 'components/follow/follow_button', locals: {
          identifier: data[:identifier],
          user:       data[:user],
          followable: data[:followable]
      } if data[:followable] %>
    </h2>
    <% if data[:title][:secondary] %>
      <div class="me-feed__section-title-secondary">
        <%= data[:title][:secondary] %>
      </div>
    <% end %>
    <% if data[:title][:custom] %>
      <div class="me-feed__section-title-custom"
           data-fixed="true">
        <%= data[:title][:custom] %>
      </div>
    <% end %>
    <%# if data[:filters][:categories] || data[:filters][:ocurrences] || data[:filters][:kinds] %>
    <div class="me-filter"
         data-controller="filter"
         data-filter-section-identifier="<%= data[:identifier] %>"
         data-filter-title="<%= data[:title].to_json %>"
         data-filter-init-filters-applyed="<%= data[:collection][:detail][:init_filters_applyed].to_json %>"
         data-filter-origin="<%= data[:origin] %>"
         data-filter-continue-to-path="<%= data[:continue_to] %>"
         data-target="filter.filterContainer section.filter">
      <% if data[:filters][:categories] && !data[:collection][:categories].blank? %>
        <%= render(partial: 'feeds/filter',
                   locals:  {
                       initial_filters:              data[:collection][:categories],
                       params_filters:               params[:categories],
                       filters_that_exist_in_events: data[:collection][:categories],
                       icon_type:                    'filter_list',
                       type:                         'categories'
                   },
                   cached:  true) %>
      <% end %>
      <% if (data[:filters][:kinds] && params[:categories] && !data[:collection][:kinds].blank?) || (data[:filters][:kinds] && !params[:kinds].blank?) %>
        <%= render(partial: 'feeds/filter',
                   locals:  {
                       initial_filters:              data[:collection][:kinds],
                       params_filters:               params[:kinds],
                       filters_that_exist_in_events: data[:collection][:kinds],
                       icon_type:                    'filter_list',
                       type:                         'kinds'
                   },
                   cached:  true) %>
      <% end %>
      <!-- TODO: remover duplicado-->
      <% if data[:filters][:ocurrences] && !data[:collection][:ocurrences].blank? %>
        <%= data[:title][:ocurrences] %>
        <%= render(partial: 'feeds/filter',
                   locals:  {
                       initial_filters:              data[:collection][:ocurrences],
                       params_filters:               params[:ocurrences],
                       filters_that_exist_in_events: data[:collection][:ocurrences],
                       icon_type:                    '',
                       type:                         'ocurrences'
                   },
                   cached:  true) %>
      <% end %>
    </div>
    <%# end %>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner"
         data-section-turbolinks-persist-scroll="0"
         data-target="section.scrollContainer">
      <% unless data[:collection].empty? %>
        <%= render(partial:    'components/collection/event',
                   collection: data[:collection][:events],
                   as:         :event,
                   locals:     {
                       identifier:   data[:identifier],
                       json_request: data[:json_request]
                   },
                   cached:     false) %>

        <%= render(partial: 'components/collection/similar',
                   locals:  {
                       events:       data[:collection][:events],
                       identifier:   data[:identifier],
                       json_request: data[:json_request]
                   },
                   cached:  true) if !mobile_device? || !['feed'].include?(data[:origin]) %>

        <% if data[:collection][:detail][:actual_events_in_collection] < data[:collection][:detail][:total_events_in_collection] %>
          <div data-action="click->section#loadMore"
               data-target="section.loadMoreButton"
               class="me-feed__load-more me-feed__load-more--horizontal">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/>
            </svg>
          </div>
          <div class="me-feed__load-more me-feed__load-more--horizontal is-loading">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
            </svg>
          </div>
        <% end %>


      <% end %>
    </div>
    <%= render(partial: 'components/collection/similar',
               locals:  {
                   events:     data[:collection][:events],
                   identifier: data[:identifier]
               },
               cached:  true) if mobile_device? && ['feed'].include?(data[:origin]) %>
    <% if data[:collection][:detail][:actual_events_in_collection] < data[:collection][:detail][:total_events_in_collection] %>
      <div class="me-feed__load-more me-feed__load-more--vertical">
        <% if data[:origin] == :feed %>
          <button class="me-button me-button--transparent me-button--with-icon-in-right mdc-button"
                  data-target="section.loadMoreButton"
                  data-action="click->section#loadMore">
            <span class="me-button__label">Ver tudo</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/>
              <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/>
            </svg>
          </button>
        <% else %>
          <button class="me-button me-button--transparent me-button--with-icon-in-right mdc-button"
                  data-target="section.loadMoreButton"
                  data-action="click->section#loadMore">
            <span class="me-button__label">Mostrar mais</span>
          </button>
        <% end %>
      </div>
    <% end %>
    <% unless data[:collection][:events] %>
      <div class="me-card me-card--notice mdc-card mdc-card--outlined">
        <div class="me-card__primary-section">
          <i class="material-icons">
            info
          </i>
          Nenhum evento com as características selecionadas
        </div>
        <div class="me-card__secondary-section">
          Tente remover alguns filtros ou volte para a listagem completa sem filtros.
        </div>
        <!--        <div class="me-card__primary-action">-->
        <!--          Voltar para listagem completa-->
        <!--        </div>-->
      </div>
    <% end %>
  </div>
</section>
