<%

  identifier = local_assigns.fetch(:identifier, 'similar')
  event_type = local_assigns.fetch(:type, 'default')
  is_similar_open = params[:similar].to_i == event.id ? true : false
  display_similar = local_assigns.fetch(:display_similar, true)
  display_place = local_assigns.fetch(:display_place, true)
  json_request = local_assigns.fetch(:json_request, false)

%>

<div class="mdc-layout-grid__cell"
     id="<%= "cell-#{identifier}-#{rand(1_000)}-#{dom_id event}" %>"
     style="order: <%= event_counter + 1 %>;">
  <div class="me-card me-card--feed mdc-card mdc-card--outlined event-<%= event.id %>"
       data-action="mouseover->event#showEventDetails"
       data-collection-<%= identifier %>-flip-key="<%= "#{identifier}-#{event_type}-#{dom_id event}" %>"
       data-controller="event"
       data-event-favorited="<%= current_user.taste_events_saved? event.id if current_user %>"
       data-event-identifier="<%= event.id %>"
       data-event-similar-open="<%= is_similar_open %>"
       data-event-similar-loading="false"
       data-event-dominant-color="<%= get_image_dominant_color event %>"
       data-target="event.event"
       id="<%= dom_id event %>">
    <div class="mdc-card__media mdc-card__media--16-9 <%= 'lazy-bgimage' unless json_request  %>" data-src="<%= event.image[:feed].url(public: true) unless json_request %>" style="<%= get_image_style_attr event, preload: json_request %>">
      <% if current_user %>
        <div class="me-card__like-button" data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton"
                    id="add-to-favorites"
                    class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_user.taste_events_saved?(event.id) %>"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false"
                    style="<%= 'display: inline' if current_user.taste_events_saved?(event.id) %>">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
              <i class="material-icons-sharp mdc-icon-button__icon">star_border</i>
            </button>
          </div>
        </div>
      <% end %>
      <a href="<%= event.url %>">
        <div class="me-card__overlay mdc-ripple-surface"
             data-target="event.overlay"></div>
      </a>
      <% if false %>
        <div class="me-card__like-button"
             data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton"
                    id="add-to-favorites"
                    class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_user.taste_events_saved?(event.id) %>"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
              <i class="material-icons mdc-icon-button__icon">star</i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="me-card__primary-section">
      <span class="me-card__category"
          data-target="event.category">
          <%= event.categories_primary_name.try(:capitalize) %>
      </span>
      <span aria-hidden="true"> · </span>
      <span class="me-card__date <%= 'is-highlight' if event.day_of_week['decorator'] == 'hoje' %>"
            data-target="event.date">
        <%= event.day_of_week['decorator'] %> <%= format_hour event.first_day_time %>
      </span>
      <span class="me-card__price <%='is-highlight' if (event.details_prices.present? && event.details_prices.min.to_i <= 20) %>">
          <%= " · R$#{event.details_prices.min}" if event.details_prices.present? %>
      </span>
    </div>
    <div class="me-card__secondary-section">
      <div class="me-card__title"
           data-target="event.name"
           title="<%= event.details_name %>">
        <%= link_to limit_name_size(event.details_name), event_path(event) %>
      </div>
      <%= event.ml_data['personas']['primary'].to_json %>
      <%= event.ml_data['categories']['primary'].to_json %>
    </div>
    <div class="me-card__tertiary-section">
      <% if display_place %>
        <div class="me-card__place"
             data-target="event.place"
             title="<%= event.place_details_name %>">
          <%= link_to limit_place_name_size(event.place_details_name), place_path(event.place) %>
        </div>
      <% end %>
    </div>
    <% if display_similar && event.similar_data.empty? == false %>
      <div class="me-card__similar"
           data-action="click->event#showSimilar"
           data-target="event.similar"
           title="Mostrar eventos parecidos">
        <i class="me-card__expand-more material-icons">
          expand_more
        </i>
        <i class="me-card__loading material-icons">
          refresh
        </i>
      </div>
    <% end %>
  </div>
</div>
