<%

  identifier = local_assigns.fetch(:identifier, 'similar')
  event_type = local_assigns.fetch(:type, 'default')
  is_similar_open = params[:similar].to_i == event.id ? true : false
  display_similar = local_assigns.fetch(:display_similar, true)
  display_place = local_assigns.fetch(:display_place, true)
  json_request = local_assigns.fetch(:json_request, false)

%>

<div class="mdc-layout-grid__cell"
     id="<%= "cell-#{identifier}-#{rand(1_000)}-#{dom_id event}" %>"
     style="order: <%= event_counter + 1 %>;">
  <div class="me-card me-card--feed mdc-card mdc-card--outlined event-<%= event.id %>"
       data-action="mouseover->event#showEventDetails"
       data-collection-<%= identifier %>-flip-key="<%= "#{identifier}-#{event_type}-#{dom_id event}" %>"
       data-controller="event"
       data-event-favorited="<%= current_user.taste_events_saved? event.id if current_user %>"
       data-event-identifier="<%= event.id %>"
       data-event-similar-open="<%= is_similar_open %>"
       data-event-similar-loading="false"
       data-event-dominant-color="<%= get_image_dominant_color event %>"
       data-target="event.event"
       id="<%= dom_id event %>">
    <div class="mdc-card__media mdc-card__media--16-9 <%= 'lazy-bgimage' unless json_request  %>" data-src="<%= event.image[:feed].url(public: true) unless json_request %>" style="<%= get_image_style_attr event, preload: json_request %>">
      <% if current_user %>
        <div class="me-card__like-button" data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton"
                    id="add-to-favorites"
                    class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_user.taste_events_saved?(event.id) %>"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false"
                    style="<%= 'display: inline' if current_user.taste_events_saved?(event.id) %>">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.03 0 3.8-1.11 4.75-2.75.19-.33-.05-.75-.44-.75H7.69c-.38 0-.63.42-.44.75.95 1.64 2.72 2.75 4.75 2.75z"/></svg>
              </i>
              <i class="material-icons-sharp mdc-icon-button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><circle cx="15.5" cy="9.5" r="1.5"></circle><circle cx="8.5" cy="9.5" r="1.5"></circle><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4.41-6.11c-.35-.22-.82-.11-1.03.24-.74 1.17-2 1.87-3.38 1.87s-2.64-.7-3.38-1.88c-.22-.35-.68-.46-1.03-.24-.35.22-.46.68-.24 1.03C8.37 16.54 10.1 17.5 12 17.5s3.63-.97 4.65-2.58c.22-.35.11-.81-.24-1.03z"></path></svg>
              </i>
            </button>
          </div>
        </div>
      <% end %>
      <a href="<%= event.url %>">
        <div class="me-card__overlay mdc-ripple-surface"
             data-target="event.overlay"></div>
      </a>
      <% if false %>
        <div class="me-card__like-button"
             data-action="click->event#like">
          <div data-target="event.like">
            <button data-target="event.likeButton"
                    id="add-to-favorites"
                    class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if current_user.taste_events_saved?(event.id) %>"
                    aria-label="Add to favorites"
                    aria-hidden="true"
                    aria-pressed="false">
              <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
              <i class="material-icons mdc-icon-button__icon">star</i>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <div class="me-card__primary-section">
      <span class="me-card__category"
          data-target="event.category">
          <%= event.categories_primary_name.try(:capitalize) %>
      </span>
      <span aria-hidden="true"> · </span>
      <span class="me-card__date <%= 'is-highlight' if event.day_of_week['decorator'] == 'hoje' %>"
            data-target="event.date">
        <%= event.day_of_week['decorator'] %> <%= format_hour event.first_day_time %>
      </span>
      <span class="me-card__price <%='is-highlight' if (event.details_prices.present? && event.details_prices.min.to_i <= 20) %>">
          <%= " · R$#{event.details_prices.min}" if event.details_prices.present? %>
      </span>
    </div>
    <div class="me-card__secondary-section">
      <div class="me-card__title"
           data-target="event.name"
           title="<%= event.details_name %>">
        <%= link_to limit_name_size(event.details_name), event_path(event) %>
      </div>
      <%= event.ml_data['personas']['primary'].to_json if current_user&.admin && params[:debug]  %>
      <%= event.ml_data['categories']['primary'].to_json if current_user&.admin && params[:debug] %>
    </div>
    <div class="me-card__tertiary-section">
      <% if display_place %>
        <div class="me-card__place"
             data-target="event.place"
             title="<%= event.place_details_name %>">
          <%= link_to limit_place_name_size(event.place_details_name), place_path(event.place) %>
        </div>
      <% end %>
    </div>
    <% if display_similar && event.similar_data.empty? == false %>
      <div class="me-card__similar"
           data-action="click->event#showSimilar"
           data-target="event.similar"
           title="Mostrar eventos parecidos">
        <i class="me-card__expand-more material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path opacity=".87" fill="none" d="M24 24H0V0h24v24z"/><path d="M15.88 9.29L12 13.17 8.12 9.29c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41-.39-.38-1.03-.39-1.42 0z"/></svg>
        </i>
        <i class="me-card__loading material-icons">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M17.65 6.35c-1.63-1.63-3.94-2.57-6.48-2.31-3.67.37-6.69 3.35-7.1 7.02C3.52 15.91 7.27 20 12 20c3.19 0 5.93-1.87 7.21-4.56.32-.67-.16-1.44-.9-1.44-.37 0-.72.2-.88.53-1.13 2.43-3.84 3.97-6.8 3.31-2.22-.49-4.01-2.3-4.48-4.52C5.31 9.44 8.26 6 12 6c1.66 0 3.14.69 4.22 1.78l-1.51 1.51c-.63.63-.19 1.71.7 1.71H19c.55 0 1-.45 1-1V6.41c0-.89-1.08-1.34-1.71-.71l-.64.65z"/></svg>
        </i>
      </div>
    <% end %>
  </div>
</div>
