<%

	html = {
			taste_add:    {
					visible: true
			},
			taste_remove: {
					visible: true
			}
	}.deep_merge!(local_assigns.fetch(:html, {}))

%>


<% if movie.image.try { |image| image[:medium] } %>
	<div class="md:w-32 relative w-24"
			 data-controller="movie"
			 data-target="movie.movie"
			 id="<%= "#{section_identifier}-#{dom_id(movie)}" %>">
		<div class="absolute bg-white m-1 me-movie__vote pl-1 pr-2 rounded-full shadow-sm text-gray-800 text-sm z-10">
			<%= movie.details_vote_average %> ⭐
		</div>
		<div class="relative">
			<div class="aspect-ratio-40/61"></div>
			<% if movie.details_trailler.present? %>
				<!--				<div class="absolute bg-white bottom-0 flex items-center m-2 pr-2 rounded-full text-gray-800 text-sm shadow-xs" onclick="location.assign('<%= movie.details_trailler %>')">-->
				<!--					<svg class="w-5 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
				<!--						<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 13.5v-7c0-.41.47-.65.8-.4l4.67 3.5c.27.2.27.6 0 .8l-4.67 3.5c-.33.25-.8.01-.8-.4z"/>-->
				<!--					</svg>-->
				<!--					Ver trailler-->
				<!--				</div>-->
			<% end %>
			<%= link_to send("#{movie.type.underscore}_path", movie) do %>
				<%= image_tag(movie.image[:medium].url(public: true), loading: :lazy, class: 'h-full w-full absolute top-0 left-0 object-cover rounded-lg shadow-xs bg-gray-50 w-32') if movie.image.try { |image| image[:medium] } %>
			<% end %>
		</div>
		<div class="flex flex-col items-center justify-center mt-3">
			<% if user %>
				<div class="inline-flex space-x-2 items-center">
					<%= render partial: 'components/taste_button',
										 locals:  {
												 user:            user,
												 resource:        movie,
												 parent_id:       "#{section_identifier}-#{dom_id(movie)}",
												 taste_type:      :save,
												 taste_sentiment: :positive,
												 html:            {
														 container: {
																 css: 'flex-shrink-0 select-none tap-highlight-none bg-white w-content border border-gray-100 cursor-pointer duration-100 ease-linear flex font-medium group hover:scale-105 hover:shadow-md hover:text-gray-700 items-center mdc-ripple-upgraded--unbounded px-2 hover:px-3 py-2 rounded-full shadow-sm text-gray-500 text-sm transform transition-transform'
														 }
												 },
												 opts:            {
														 remove_on_action:            true,
														 update_collection_on_action: true
												 }
										 } %>
					<%= render partial: 'components/taste_button',
										 locals:  {
												 user:            user,
												 resource:        movie,
												 taste_type:      :dislike,
												 taste_sentiment: :negative,
												 parent_id:       "#{section_identifier}-#{dom_id(movie)}",
												 html:            {
														 container: {
																 css: 'flex-shrink-0 select-none tap-highlight-none w-content h-content bg-white border border-gray-100 cursor-pointer duration-100 ease-linear flex font-medium group hover:scale-105 hover:shadow-md hover:text-gray-700 items-center px-2 hover:px-3 py-2 rounded-full shadow-sm text-gray-500 text-sm transform transition-transform'
														 },
														 icon:      {
																 css: 'fill-current h-3 hover:scale-125 w-3'
														 }
												 },
												 opts:            {
														 remove_on_action:            true,
														 update_collection_on_action: false
												 }
										 } if html.dig(:taste_remove, :visible) %>
				</div>
			<% end %>
			<h3 class=" py-2 text-center text-gray-600 text-sm md:text-sm leading-tight">
				<%= link_to movie.details_title, send("#{movie.type.underscore}_path", movie) %>
			</h3>
		</div>
	</div>
<% end %>
