<%

  similar_to = params.fetch(:similar, false)
  order = params.fetch(:insert_after, 4)
  user = local_assigns.fetch(:user, current_user)

  if similar_to
    event              = events.detect { |event| event.id == similar_to.to_i } || Event.find(similar_to)
    similar_events_ids = event.similar_data[0...6]
    similar_events     = Event.where(id: similar_events_ids).not_in_saved(user).includes(:place)
    identifier         = local_assigns.fetch(:identifier, 'similar')
  end

%>

<% if similar_to %>
  <div id="similar-to-<%= similar_to %>"
       class="me-similar"
       style="order: <%= order %>">
    <h3 class="mdc-typography--headline6">
      Eventos parecidos com <%= link_to(limit_name_size(event.details['name'], 60), event_path(event)) %>
    </h3>

    <div class="me-similar__events">
      <%= render partial:    'components/collection/event',
                 collection: similar_events,
                 as:         :event,
                 locals:     {
                     display_similar: false,
                     display_place:   false,
                     identifier:      identifier,
                     type:            'similar'
                 } %>

      <% if similar_events.size < 6 %>
        <div class="me-similar__empty">
          <i class="material-icons-sharp sentiment-satisfied">
            sentiment_satisfied
          </i>
          <span>Estes são todos os eventos similares que encontrei.</span>
        </div>
      <% end %>
    </div>

    <h3 class="mdc-typography--headline6">
      Tópicos parecidos com os do <%= link_to(limit_name_size(event.details['name'], 60), event_path(event)) %>
    </h3>

    <div class="me-similar__organizers">
      <%= render partial: 'components/follow/follow-chip-set', locals: {
          user:  current_user,
          chips: similar_events.map{|similar| similar.organizers[0..3]}.flatten.uniq[0..6],
          type:  'organizers'
      } %>
    </div>

  </div>
<% end %>