<%

  similar_to = params.fetch(:similar, false)
  order = params.fetch(:insert_after, 4)
  user = local_assigns.fetch(:user, current_user)
  similar_to_show = mobile_device? ? 8 : 6

  if similar_to
    event              = events.detect { |event| event.id == similar_to.to_i } || Event.find(similar_to)
    similar_events_ids = event.similar_data[0...similar_to_show]
    similar_events     = Event.where(id: similar_events_ids).active.not_in_saved(user)
    identifier         = local_assigns.fetch(:identifier, 'similar')
    json_request       = local_assigns.fetch(:json_request, false)
  end

%>

<% if similar_to %>
  <div id="similar-to-<%= similar_to %>"
       class="me-similar"
       style="order: <%= order %>">
    <h3>
      Similares a <%= link_to(limit_name_size(event.details['name'], 60), event_path(event)) %>
    </h3>

    <div class="me-similar__events">
      <%= render partial:    'components/collection/event',
                 collection: similar_events,
                 as:         :event,
                 locals:     {
                     display_similar: false,
                     display_place:   false,
                     identifier:      identifier,
                     type:            'similar',
                     json_request:    json_request
                 } %>

      <% if similar_events.length < similar_to_show %>
        <div class="me-similar__empty">
          <i class="material-icons-sharp sentiment-satisfied">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><circle cx="15.5" cy="9.5" r="1.5"/><circle cx="8.5" cy="9.5" r="1.5"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm4.41-6.11c-.35-.22-.82-.11-1.03.24-.74 1.17-2 1.87-3.38 1.87s-2.64-.7-3.38-1.88c-.22-.35-.68-.46-1.03-.24-.35.22-.46.68-.24 1.03C8.37 16.54 10.1 17.5 12 17.5s3.63-.97 4.65-2.58c.22-.35.11-.81-.24-1.03z"/></svg>
          </i>
          <span>Estes são todos os eventos similares que encontrei.</span>
        </div>
      <% end %>
    </div>

    <h3 class="me-similar__topics">
      Tópicos parecidos com os do <%= link_to(limit_name_size(event.details['name'], 60), event_path(event)) %>
    </h3>

    <div class="me-similar__organizers">
      <%= render partial: 'components/follow/follow',
                 locals:  {
                     chips:             similar_events.map { |similar| similar.organizers[0..3] }.flatten.uniq[0..6].sort,
                     user:              current_user,
                     event_id:          event.id,
                     type:              'organizers',
                     expand_to_similar: true
                 } %>
    </div>

  </div>
<% end %>
