<% return unless ['feeds', 'movies', 'events', 'search'].include?(controller_name) && !['show', 'edit'].include?(action_name) %>

<div class="ripple ripple-black overflow-hidden z-50 bg-white bottom-0 duration-100 elevation-8 fixed py-2 transform transition-transform w-full"
		 data-controller="ripple bottom-navigation toggle-style go-to"
		 data-go-to-delay="100"
		 data-reflex-permanent
		 data-toggle-style-active-class='["scale-105", "text-green-500"]'
		 data-toggle-style-current-selected="<%= "#{controller_name}" %>"
		 data-toggle-style-inactive-class='["text-gray-700"]'
		 data-toggle-style-init-selected="<%= "#{controller_name}" %>">
	<div class="flex">
		<div data-target="toggle-style.toggle"
				 data-action="click->toggle-style#toggle click->go-to#url"
				 data-toggle-style-identifier="feeds"
				 data-go-to-url="<%= feed_path %>"
				 class="<%= class_names 'antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																'scale-105 text-green-500': ['feeds', 'events'].include?(controller_name),
																'text-gray-700':                    !['feeds', 'events'].include?(controller_name) %>">
			<svg class="fill-current h-auto w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0V0z" fill="none"/>
				<path d="M22 10V6c0-1.1-.9-2-2-2H4c-1.1 0-1.99.9-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2s.9-2 2-2zm-2-1.46c-1.19.69-2 1.99-2 3.46s.81 2.77 2 3.46V18H4v-2.54c1.19-.69 2-1.99 2-3.46 0-1.48-.8-2.77-1.99-3.46L4 6h16v2.54zM9.07 16L12 14.12 14.93 16l-.89-3.36 2.69-2.2-3.47-.21L12 7l-1.27 3.22-3.47.21 2.69 2.2z"/>
			</svg>
			Eventos
		</div>
		<% if movies_active_count %>
			<div data-target="toggle-style.toggle"
					 data-action="click->toggle-style#toggle click->go-to#url"
					 data-toggle-style-identifier="movies"
					 data-go-to-url="<%= movies_path %>"
					 class="<%= class_names 'antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																	'scale-105 text-green-500': ['movies'].include?(controller_name),
																	'text-gray-700':                    !['movies'].include?(controller_name) %>">
				<svg class="fill-current h-auto w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M0 0h24v24H0V0z" fill="none"/>
					<path d="M4 6.47L5.76 10H20v8H4V6.47M22 4h-4l2 4h-3l-2-4h-2l2 4h-3l-2-4H8l2 4H7L5 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4z"/>
				</svg>
				Filmes
			</div>
		<% end %>
		<div data-target="toggle-style.toggle"
				 data-action="click->toggle-style#toggle click->go-to#url"
				 data-toggle-style-identifier="search"
				 data-go-to-url="<%= search_index_path %>"
				 class="<%= class_names 'antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																'scale-105 text-green-500': ['search'].include?(controller_name),
																'text-gray-700':                    !['search'].include?(controller_name) %>">
			<svg class="fill-current h-auto w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path fill="none" d="M0 0h24v24H0V0z"/>
				<path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
			</svg>
			Busca
		</div>
	</div>
</div>
