<% if controller_name != 'events' && action_name != 'show' %>
	<div class="fixed bottom-0 z-40 w-full py-2 overflow-hidden transition-transform duration-100 transform bg-white md:hidden md:shadow-none elevation-8 md:sticky md:top-0 ripple ripple-black"
			 data-controller="ripple bottom-navigation toggle-style go-to"
			 data-go-to-delay="100"
			 data-reflex-permanent
			 data-toggle-style-active-class='["text-green-500"]'
			 data-toggle-style-current-selected="<%= "#{controller_name}-#{action_name}" %>"
			 data-toggle-style-inactive-class='["text-gray-600"]'
			 data-toggle-style-init-selected="<%= "#{controller_name}-#{action_name}" %>">
		<div class="flex px-5 md:flex-col md:space-y-5">
			<div data-toggle-style-target="toggle"
					 data-action="click->toggle-style#toggle click->go-to#url"
					 data-toggle-style-identifier="feeds-index"
					 data-go-to-url="<%= feed_path %>"
					 class="<%= class_names 'cursor-pointer md:flex-row md:font-semibold md:text-2xl antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																	'text-green-500': ['feeds', 'events'].include?(controller_name),
																	'text-gray-600':  !['feeds', 'events'].include?(controller_name) %>">
				<svg class="w-5 h-5 fill-current md:mr-5" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M46.9974 24C46.9974 36.9234 36.4767 47.4 23.4987 47.4C10.5207 47.4 0 36.9234 0 24C0 11.0765 10.5207 0.599976 23.4987 0.599976C36.4767 0.599976 46.9974 11.0765 46.9974 24ZM36.1519 18.2998C36.1519 20.4537 34.397 22.1998 32.2323 22.1998C30.0675 22.1998 28.3126 20.4537 28.3126 18.2998C28.3126 16.1459 30.0675 14.3998 32.2323 14.3998C34.397 14.3998 36.1519 16.1459 36.1519 18.2998ZM18.6848 18.2998C18.6848 20.4537 16.9299 22.1998 14.7652 22.1998C12.6004 22.1998 10.8456 20.4537 10.8456 18.2998C10.8456 16.1459 12.6004 14.3998 14.7652 14.3998C16.9299 14.3998 18.6848 16.1459 18.6848 18.2998ZM13.7379 29.1249C11.447 30.2515 11.4476 30.2526 11.4481 30.2537L11.4493 30.2559L11.4518 30.2609L11.4578 30.2724L11.4733 30.3021C11.4852 30.3247 11.5004 30.3531 11.5188 30.3867C11.5556 30.4539 11.6056 30.5425 11.669 30.6494C11.7956 30.8629 11.977 31.1514 12.2159 31.4896C12.6912 32.1629 13.4078 33.0528 14.3904 33.9449C16.3689 35.7411 19.4772 37.5818 23.8 37.5818C28.1227 37.5818 31.2311 35.7411 33.2096 33.9449C34.1922 33.0528 34.9087 32.1629 35.3841 31.4896C35.6229 31.1514 35.8043 30.8629 35.931 30.6494C35.9944 30.5425 36.0443 30.4539 36.0812 30.3867C36.0996 30.3531 36.1147 30.3247 36.1267 30.3021L36.1422 30.2724L36.1482 30.2609L36.1507 30.2559L36.1518 30.2537C36.1524 30.2526 36.1529 30.2515 33.862 29.1249C31.5711 27.9984 31.5716 27.9974 31.5721 27.9964L31.5731 27.9945L31.5748 27.9912L31.5774 27.9861L31.5796 27.9819C31.5796 27.9818 31.5788 27.9834 31.577 27.9866C31.5757 27.989 31.5739 27.9924 31.5716 27.9966C31.5608 28.0163 31.539 28.0553 31.5061 28.1108C31.4402 28.222 31.3307 28.3974 31.1765 28.6158C30.8658 29.0559 30.3874 29.6504 29.735 30.2428C28.4433 31.4154 26.5207 32.5436 23.8 32.5436C21.0793 32.5436 19.1566 31.4154 17.865 30.2428C17.2125 29.6504 16.7342 29.0559 16.4234 28.6158C16.2692 28.3974 16.1598 28.222 16.0938 28.1108C16.0609 28.0553 16.0392 28.0163 16.0283 27.9966C16.0229 27.9867 16.0203 27.9817 16.0204 27.9819L16.0226 27.9861L16.0252 27.9912L16.0269 27.9945L16.0278 27.9964C16.0283 27.9974 16.0289 27.9984 13.7379 29.1249Z"/>
				</svg>
				Porto Alegre
			</div>
			<div data-toggle-style-target="toggle"
					 data-action="click->toggle-style#toggle click->go-to#url"
					 data-toggle-style-identifier="users-agenda"
					 data-go-to-url="<%= my_agenda_path %>"
					 class="<%= class_names 'cursor-pointer md:flex-row md:font-semibold md:text-2xl antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																	'text-green-500': current_page?('/minha-agenda'),
																	'text-gray-600':  !current_page?('/minha-agenda') %>">
				<svg class="w-5 h-5 fill-current md:mr-5" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M16.0993 1.91826H17.0464C18.0881 1.91826 18.9404 2.78148 18.9404 3.83652V10.7046C18.8084 10.4392 18.6379 10.1883 18.4284 9.96057L18.4216 9.95314L18.4147 9.94577C18.0255 9.52995 17.5515 9.24444 17.0464 9.09236V6.71392H1.89404V19.1826H7.11898V20.9544C7.11898 21.0032 7.12002 21.0521 7.12209 21.1009H1.89404C0.852318 21.1009 0 20.2377 0 19.1826V3.83652C0 2.78148 0.852318 1.91826 1.89404 1.91826H2.84106V0H4.7351V1.91826H14.2053V0H16.0993V1.91826Z"/>
					<path d="M11.5048 20.9544C11.5048 21.004 11.5017 21.0529 11.4958 21.1009C11.4294 21.6404 11.0013 22.06 10.4875 22.06C9.97367 22.06 9.54563 21.6404 9.47916 21.1009C9.47325 21.0529 9.4702 21.004 9.4702 20.9544C9.4702 20.9544 9.4702 20.9544 9.4702 20.9544V16.5318C9.4702 15.9237 9.92799 15.4261 10.4875 15.4261C11.047 15.4261 11.5048 15.9237 11.5048 16.5318V20.9544C11.5048 20.9544 11.5048 20.9544 11.5048 20.9544Z"/>
					<path d="M12.5221 15.4316C12.5221 15.1386 12.6289 14.8567 12.8171 14.6522L15.635 11.5895C15.9301 11.2633 16.4082 11.2633 16.7083 11.584C16.8914 11.783 16.9677 12.0649 16.9168 12.3414L16.4336 14.8733H19.3075C20.4011 14.8733 21.1386 16.0895 20.7114 17.1841L19.0532 21.3911C18.8904 21.7946 18.5242 22.06 18.1172 22.06H13.5394C13.0256 22.06 12.5975 21.6404 12.5311 21.1009C12.5251 21.0529 12.5221 21.004 12.5221 20.9544C12.5221 20.9544 12.5221 20.9544 12.5221 20.9544V15.4316Z"/>
				</svg>
				Minha agenda
			</div>
			<% if current_user %>
				<div data-toggle-style-target="toggle"
						 data-action="click->toggle-style#toggle click->go-to#url"
						 data-toggle-style-identifier="users-profile"
						 data-go-to-url="<%= current_user ? user_path(current_user) : new_user_registration_path %>"
						 class="<%= class_names 'cursor-pointer md:flex-row md:font-semibold md:text-2xl antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100',
																		'text-green-500': current_page?(controller: :users, action: :show, id: current_user),
																		'text-gray-600':  !current_page?(controller: :users, action: :show, id: current_user) %>">
					<img src="<%= current_user&.picture :small %>" class="w-5 h-5 rounded-full md:mr-5" alt="<%= current_user&.name %>">
					<%= current_user&.name&.truncate(10, separator: " ") %>
				</div>
			<% else %>
				<div data-toggle-style-target="toggle"
						 data-action="click->toggle-style#toggle click->go-to#url"
						 data-toggle-style-identifier="users-profile"
						 data-go-to-url="<%= new_user_registration_path %>"
						 class="cursor-pointer md:flex-row md:font-semibold md:text-2xl antialiased flex flex-1 flex-col items-center transform transition-transform text-xs duration-100">
					<div class="w-5 h-5 rounded-full md:mr-5 bg-gray-100"></div>
					Criar conta
				</div>
			<% end %>
		</div>
	</div>
<% end %>