<%

  props = {
      active: nil
  }.deep_merge!(props || {})

%>

<% if mobile_device? &&
      (controller_name == 'feeds') %>
  <div class="me-tab-bar mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area is-horizontal-scrollable">
        <div class="mdc-tab-scroller__scroll-content">
          <button onclick="Turbolinks.visit('/feed')" class="mdc-tab <%= 'mdc-tab--active' if controller_name == 'feeds' && action_name == 'index' %>" role="tab" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Para você</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if controller_name == 'feeds' && action_name == 'index' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button onclick="Turbolinks.visit('/porto-alegre/eventos/hoje')" class="mdc-tab <%= 'mdc-tab--active' if action_name == 'today' %>" role="tab" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Hoje e Amanhã</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if action_name == 'today' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button onclick="Turbolinks.visit('/porto-alegre/eventos/semana')" class="mdc-tab <%= 'mdc-tab--active' if action_name == 'week' %>" role="tab" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Esta Semana</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if action_name == 'week' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button onclick="Turbolinks.visit('/porto-alegre/eventos')" class="mdc-tab <%= 'mdc-tab--active' if action_name == 'city' %>" role="tab" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Explorar tudo</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if action_name == 'city' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !mobile_device? &&
      controller_name == 'feeds' %>
  <div class="me-tab-bar mdc-tab-bar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content">
          <button onclick="Turbolinks.visit('/feed')" class="mdc-tab <%= 'mdc-tab--active' if props[:active] == 'feeds' %>" role="tab" aria-selected="true" tabindex="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Eventos</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if props[:active] == 'feeds' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button onclick="Turbolinks.visit('/porto-alegre/cinema')" class="mdc-tab <%= 'mdc-tab--active' if props[:active] == 'movies' %>" role="tab" aria-selected="true" tabindex="1">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Cinema</span>
            </span>
            <span class="mdc-tab-indicator <%= 'mdc-tab-indicator--active' if props[:active] == 'movies' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
