<%

  props = {
      active:       nil,
      movies_count: Movie.select("*").from(Movie.select("*, jsonb_array_elements(dates) as date")).where("(date ->> 'date') > ?", DateTime.now.beginning_of_day).count
  }.deep_merge!(props || {})

%>

<% if mobile_device? &&
      (controller_name == 'feeds') %>
  <div id="tab-bar" class="me-tab-bar mdc-tab-bar" role="tablist" data-controller="tab-bar" data-target="tab-bar.tabBar" data-turbolinks-permanent>
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area is-horizontal-scrollable">
        <div class="mdc-tab-scroller__scroll-content">
          <button data-action="click->tab-bar#open" data-tab-path="/feed" class="mdc-tab <%= 'mdc-tab--active' if controller_name == 'feeds' && action_name == 'index' %>" role="tab" aria-selected="<%= controller_name == 'feeds' && action_name == 'index'  ? 'true' : 'false' %>" data-tab-identifier="0">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Para você</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if controller_name == 'feeds' && action_name == 'index' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button data-action="click->tab-bar#open" data-tab-path="/porto-alegre/eventos/categoria" class="mdc-tab <%= 'mdc-tab--active' if action_name == 'category' %>" role="tab" aria-selected="<%= action_name == 'category'  ? 'true' : 'false' %>" data-tab-identifier="1">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Categorias</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if action_name == 'category' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <button data-action="click->tab-bar#open" data-tab-path="/porto-alegre/eventos" class="mdc-tab <%= 'mdc-tab--active' if action_name == 'city' %>" role="tab" aria-selected="<%= action_name == 'city' ? 'true' : 'false' %>" data-tab-identifier="2">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Explorar tudo</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if action_name == 'city' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if !mobile_device? &&
      (controller_name == 'feeds' || controller_name == 'movies') %>
  <div class="me-tab-bar mdc-tab-bar" data-controller="tab-bar" data-target="tab-bar.tabBar" role="tablist">
    <div class="mdc-tab-scroller">
      <div class="mdc-tab-scroller__scroll-area">
        <div class="mdc-tab-scroller__scroll-content">
          <button data-action="click->tab-bar#open" data-tab-path="/feed" class="mdc-tab <%= 'mdc-tab--active' if props[:active] == 'feeds' %>" role="tab" aria-selected="<%= props[:active] == 'feeds' ? 'true' : 'false' %>">
            <span class="mdc-tab__content">
              <span class="mdc-tab__text-label">Eventos</span>
            </span>
            <span class="me-tab-indicator mdc-tab-indicator <%= 'mdc-tab-indicator--active' if props[:active] == 'feeds' %>">
              <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
            </span>
            <span class="mdc-tab__ripple"></span>
          </button>
          <% if props[:movies_count] > 0 %>
            <button data-action="click->tab-bar#open" data-tab-path="/porto-alegre/cinema" class="mdc-tab <%= 'mdc-tab--active' if props[:active] == 'movies' %>" role="tab" aria-selected="<%= props[:active] == 'movies' ? 'true' : 'false' %>">
              <span class="mdc-tab__content">
                <span class="mdc-tab__text-label">Cinema</span>
              </span>
              <span class="mdc-tab-indicator <%= 'mdc-tab-indicator--active' if props[:active] == 'movies' %>">
                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
              </span>
              <span class="mdc-tab__ripple"></span>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
