<%= turbo_frame_tag 'movie', target: '_top' do %>
	<div class="flex flex-col mb-32">
		<% if movie.trailer %>
			<div class="overflow-hidden mb-5 w-full h-56 bg-gray-200 md:h-128 md:mb-6 md:my-0 md:rounded-xl md:w-full">
				<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="100%" type="text/html" allow="autoplay" src="<%= @movie&.trailer&.gsub('watch?v=', 'embed/') %>?autoplay=1&fs=0&showinfo=0&rel=0&cc_load_policy=0&start=15&end=0">
				</iframe>
			</div>
		<% end %>
		<div class="flex flex-row justify-center px-5 md:w-full md:mx-auto md:px-0">
			<%= image_tag shrine_image_url(movie, :medium), {
				loading: :lazy,
				title:   movie.title,
				alt:     "Filme #{movie.title}",
				class:   'bg-gray-100 border h-40 md:h-48 md:mr-10 md:w-32 mr-5 mx-auto object-cover rounded-xl shadow-lg w-28',
				onerror: "this.style.opacity='0'"
			} rescue nil %>
			<div class="flex flex-col flex-1 space-y-3 md:mt-2">
				<div class="flex flex-col md:justify-between md:w-full">
					<div class="space-y-1 md:text-left md:pr-5">
						<div class="flex flex-col md:flex-row md:px-0">
							<h1 class="c-h2">
								<%= movie.title %>
							</h1>
							<% if movie.rating %>
								<div class="flex font-semibold items-center space-x-0.5 text-brand-600 md:ml-2">
									<span><%= movie.rating %></span>
									<svg xmlns="http://www.w3.org/2000/svg" class="h-4 fill-current" viewBox="0 0 20 20" fill="currentColor">
										<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
									</svg>
									<span class="text-sm text-gray-800 uppercase">imdb</span>
								</div>
							<% end %>
						</div>
						<div class="text-xs md:text-sm">
							<div class="space-x-1">
								<%= tag.span movie.age_rating, class: 'border border-gray-700 font-medium px-1 rounded-sm text-gray-800 text-xxs' if movie.age_rating? %>
								<%= tag.span movie&.genres&.join(', ') if movie.genres? %>
								<%= tag.span " · " if movie.genres? %>
								<%= tag.span movie.year&.to_i if movie.year? %>
							</div>
							<%= tag.div do %>
								<span class="font-medium">Elenco:</span> <%= movie&.cast&.join(', ') %>
							<% end if movie&.cast? %>
						</div>
						<div class="hidden pt-2 text-gray-800 md:inline-block">
							<%= movie.description %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="px-5 mx-auto mt-6 text-sm leading-relaxed text-gray-800 md:hidden md:px-0 md:w-full md:text-base">
			<%= movie.description %>
		</div>
		<% if params[:cinema] && @cinemas.present? %>
			<div class="flex inline-flex items-center px-5 mt-10 space-x-3 md:px-0 md:-mb-10">
				<div>Exibindo apenas o cinema <span class="font-semibold"><%= @cinemas.first&.display_name %></span></div>
				<%= link_to movie_path(@movie), class: 'c-chip' do %>
					Ver todos os cinemas
				<% end %>
			</div>
		<% end %>
		<div class="grid grid-cols-12 grid-flow-col gap-0 px-5 mt-10 max-w-screen-lg md:px-0 md:mt-20 md:gap-10">
			<div class="<%= class_names 'overflow-hidden col-span-12 mx-auto w-full rounded-lg border md:border-0 md:space-y-12', {'md:col-span-9': @cinemas.present?, 'md:col-span-12': @cinemas.empty?} %>">
				<% movie.screening_groups&.includes(:screenings)&.active&.sort_by { |sg| sg.cinema&.display_name }&.group_by { |sg| [sg.cinema&.display_name, sg.cinema&.google_id] }.each_with_index do |cinema_name_group, index| %>
					<% if cinema_name_group[1].any? { |sg| sg.date.to_date >= Date.current } && (params[:cinema].blank? ? true : cinema_name_group[1][0]&.cinema&.slug == params[:cinema]) %>
						<div data-controller="accordion" data-accordion-mobile-only-value="true" data-accordion-body-class="bg-white" data-accordion-title-class="font-semibold" class="p-4 border-b md:border-0 md:p-0 last:border-b-0">
							<div data-action="click->accordion#toggle" data-accordion-open-value="false" class="flex justify-between">
								<div class="text-sm md:inline-block md:mb-3 md:pr-5">
									<div class="inline select-none md:mb-3">
										<%= link_to cinema_path(cinema_name_group[1][0]&.cinema), class: 'hidden md:inline-block' do %>
											<h2 id="<%= cinema_name_group[1][0]&.cinema&.slug %>" class="inline text-base font-medium text-gray-800 md:text-xl md:font-bold">
												<%= cinema_name_group[0][0] %>
											</h2>
										<% end %>
										<h2 data-accordion-target="title" id="sm-<%= cinema_name_group[1][0]&.cinema&.slug %>" class="inline-block font-medium text-gray-800 md:text-xl md:font-bold md:hidden">
											<%= cinema_name_group[0][0] %>
										</h2>
										<span data-accordion-target="hidden" class="hidden md:inline">
  										·
											<%= render(FollowButtonComponent.new(
												user:       current_user,
												followable: cinema_name_group[1][0]&.cinema,
												type:       'text'
											)) %>
  										</span>
									</div>
									<div data-accordion-target="hidden" class="hidden mt-2 mb-3 text-xs text-gray-700 md:inline-block">
										<%= cinema_name_group[1][0]&.cinema&.address %>
										<% if cinema_name_group[1][0]&.cinema&.neighborhood&.present? %>
											‧
											<span class="font-semibold">Bairro próximo:</span> <%= cinema_name_group[1][0]&.cinema&.neighborhood %>
										<% end %>
										<% if cinema_name_group[1][0]&.cinema&.reference_place&.present? %>
											‧
											<span class="font-semibold">Local:</span> <%= cinema_name_group[1][0]&.cinema&.reference_place %>
										<% end %>
										<% if cinema_name_group[1][0]&.cinema&.lower_price&.present? %>
											‧
											<span class="font-semibold">Menor preço da inteira:</span> <%= number_to_currency cinema_name_group[1][0]&.cinema&.lower_price, locale: 'pt-BR' %>
										<% end %>
										<% if cinema_name_group[1][0]&.cinema&.google_maps&.present? %>
											‧
											<a href="<%= cinema_name_group[1][0]&.cinema&.google_maps %>" rel="nofollow" target="_blank" class="font-semibold text-brand-600">
												Abrir no Google Maps
											</a>
										<% end %>
									</div>
								</div>
								<div class="flex justify-end">
									<svg data-accordion-target="visible" xmlns="http://www.w3.org/2000/svg" class="float-right w-5 h-5 text-gray-700 md:hidden" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
									</svg>
								</div>
							</div>
							<div class="-mx-5 scrollx md:mx-0">
								<div data-accordion-target="hidden" class="grid hidden grid-flow-col gap-2 px-5 md:px-0 md:grid-flow-row md:w-auto md:grid md:grid-cols-3 w-content">
									<%= render partial: 'movies/screening_group', locals: { user: current_user }, collection: cinema_name_group[1].filter { |sg| sg.date.to_date >= Date.current }.sort_by { |sg| sg.date.to_date }, as: :screening_group %>
								</div>
							</div>
							<div data-accordion-target="hidden" class="hidden mt-3 w-full h-8 md:inline-block">
								<% if cinema_name_group[1][0]&.cinema&.website&.present? %>
									<a data-accordion-target="hidden" href="<%= cinema_name_group[1][0]&.cinema&.website %>" rel="nofollow" target="_blank" class="float-right py-1.5 px-2 text-xs font-medium text-center rounded-full transition-transform bg-brand-100 hover:scale-105 md:text-left md:text-sm md:transform text-brand-700 inline-block">
										Ver site oficial
									</a>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
				<% if movie.screening_groups.filter { |sg| sg&.date&.to_date >= Date.current }&.empty? %>
					<div class="p-5 text-sm leading-relaxed text-gray-800 rounded-md bg-brand-100">
						Sem exibições cadastradas na plataforma para este filme. Veja
						nos <%= link_to 'sites oficiais', cinemas_path, class: 'text-brand-600 font-medium' %> dos cinemas caso
						acredite que há sessões para este filme.
					</div>
				<% end %>
			</div>
			<% if @cinemas.present? %>
				<div class="hidden col-span-3 md:block">
					<div class="">
						<h4 class="mb-2 text-xl font-bold text-gray-800">Cinemas</h4>
						<div class="space-y-3">
							<% cinemas&.each_with_index do |cinema, index| %>
								<a data-controller="scroll-to-anchor-link"
									data-action="click->scroll-to-anchor-link#scrollTo"
									data-turbo="false"
									data-scroll-to-anchor-link-url-value="#<%= cinema.slug %>"
									class="block text-sm leading-tight cursor-pointer hover:underline">
									<%= cinema.display_name %>
								</a>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% end %>