<div class="relative transition-opacity" data-hovercard-target="card" data-action="mouseenter->hovercard#clearTimer mouseleave->hovercard#hide">
	<div data-tooltip-arrow class="space-y-2 -mx-2 absolute bg-white border bottom-3 left-0 min-w-max-content p-6 rounded-lg shadow-xl z-50">
		<div class="flex items-center justify-between">
			<h3 class="c-h3 text-brand-600"><%= @movie.title %></h3>
			<% if @movie.trailer %>
				<a href="<%= @movie.trailer %>" rel="nofollow" target="_blank" class="inline-block mt-3 text-center md:mt-0">
					<div class="flex items-center py-1 px-2 text-gray-600 rounded-full border transition-transform hover:scale-105 md:transform border-brand-300 w-content">
						<svg xmlns="http://www.w3.org/2000/svg" class="mr-1 w-5 h-5 fill-current text-brand-600" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"/>
						</svg>
						<span class="font-semibold text-brand-600">
										Ver trailer
									</span>
					</div>
				</a>
			<% end %>
		</div>
		<div class="px-6 text-xs md:px-0">
			<div class="space-x-1">
				<%= tag.span @movie.age_rating, class: 'border border-gray-700 font-medium px-1 rounded-sm text-gray-800 text-xxs' if @movie.age_rating? %>
				<%= tag.span @movie&.genres&.join(', ') if @movie.genres? %>
				<%= tag.span " · " if @movie.genres? %>
				<%= tag.span @movie.year&.to_i if @movie.year? %>
			</div>
			<%= tag.div do %>
				<span class="font-medium">Elenco:</span> <%= @movie&.cast&.join(', ') %>
			<% end if @movie&.cast? %>
		</div>
		<div class="text-sm">
			<%= @movie.description %>
		</div>
	</div>
</div>