<% content_for :meta_title, "Ver online #{@movie.details_title}" %>
<%= notice %>

<section id="<%= dom_id @movie %>" class="mx-auto mt-12 is-animated md:mt-40 md:overflow-hidden md:rounded-t-lg md:w-6/12">
	<div class="flex flex-col min-h-screen">
		<div class="flex items-end px-5 pt-10 space-x-5 bg-gray-50">
			<div class="relative w-32 -mb-5">
				<div class="absolute z-10 pl-1 pr-2 m-1 text-sm text-gray-800 bg-white rounded-full shadow-sm me-movie__vote">
					<%= @movie.details_vote_average %> ⭐
				</div>
				<%= image_tag(@movie.image[:medium].url(public: true), class: 'h-auto bg-white object-cover rounded-lg shadow-lg w-32', style: 'min-height: 195px') if @movie.image %>
			</div>
			<div class="pb-3 flex-1">
				<h1 class="inline-block my-3 text-xl font-semibold leading-tight text-gray-900">
					<%= @movie.details_title %>
				</h1>
				<div class="mb-3 -mt-3 text-sm antialiased  text-gray-600">
					<%= @movie.details_genres.join(", ") %>
				</div>
				<% if @movie.details_trailler %>
					<a href="<%= @movie.details_trailler %>">
						<div class="bg-white flex font-medium px-2 py-1 rounded-full text-gray-600 w-content">
							<svg class="w-5 mr-2 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
								<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 13.5v-7c0-.41.47-.65.8-.4l4.67 3.5c.27.2.27.6 0 .8l-4.67 3.5c-.33.25-.8.01-.8-.4z"/>
							</svg>
							Ver trailler
						</div>
					</a>
				<% end %>
			</div>
		</div>
		<div class="px-5 mt-10">
			<% if current_user %>
				<div class="border-b border-gray-100 flex justify-center mb-5 py-2 space-x-2">
					<%= render partial: 'components/taste_button',
										 locals:  {
												 user:            current_user,
												 resource:        @movie,
												 parent_id:       dom_id(@movie),
												 taste_type:      :save,
												 taste_sentiment: :positive,
												 html:            {
														 container: {
																 css: 'select-none tap-highlight-none bg-white w-content border border-gray-100 cursor-pointer duration-100 ease-linear flex font-medium group hover:scale-105 hover:shadow-md hover:text-gray-600 items-center mdc-ripple-upgraded--unbounded px-2 hover:px-3 py-2 rounded-full shadow-sm text-gray-600 text-sm transform transition-transform'
														 }
												 },
												 opts:            {
														 remove_on_action:            false,
														 update_collection_on_action: false
												 }
										 } %>
					<%= render partial: 'components/taste_button',
										 locals:  {
												 user:            current_user,
												 resource:        @movie,
												 parent_id:       dom_id(@movie),
												 taste_type:      :dislike,
												 taste_sentiment: :negative,
												 html:            {
														 container: {
																 css: 'select-none tap-highlight-none bg-white w-content border border-gray-100 cursor-pointer duration-100 ease-linear flex font-medium group hover:scale-105 hover:shadow-md hover:text-gray-600 items-center mdc-ripple-upgraded--unbounded px-2 hover:px-3 py-2 rounded-full shadow-sm text-gray-600 text-sm transform transition-transform'
														 }
												 },
												 opts:            {
														 remove_on_action:            false,
														 update_collection_on_action: false
												 }
										 } %>
				</div>
			<% end %>
			<h2 class="font-medium text-gray-600">
				Serviços de streaming
			</h2>
			<div class="flex flex-wrap my-3 space-x-2">
				<% @movie.streamings.each do |streaming| %>
					<a class="inline-block mb-2" href="<%= streaming.url %>">
						<div class="flex px-3 py-1 text-gray-600 border rounded-full w-content">
							<%= streaming.display_name %>
						</div>
					</a>
				<% end %>
			</div>
			<h2 class="mt-6 font-medium text-gray-600">
				Sinopse
			</h2>
			<div class="my-3 antialiased  leading-6 text-gray-600">
				<%= @movie.details_description %>
				<% if current_user&.admin? %>
					<%= link_to "Editar", edit_movie_path(@movie) %>
				<% end %>
			</div>
			<% if @movie.dates.any? { |date| date['date'] } %>
				<div class="me-movie__dates">
					<% @movie.dates.select { |date| date['date'].to_date >= Date.today }.each do |date| %>
						<div class="me-movie__date">
							<div class="me-movie__date-name">
								<%= "#{day_of_week(date['date']).upcase} - #{I18n.l(date['date'].to_date, format: :long)}" %>
							</div>
							<% if date['places'] %>
								<div class="me-movie__places">
									<% date['places'].each do |place| %>
										<div class="me-movie__place">
											<div class="me-movie__place-name">
												<%= link_to place['name'], place['address'] %>
											</div>
											<% if place['languages'] %>
												<div class="me-movie__languages">
													<% place['languages'].each do |language| %>
														<div class="me-movie__language">
															<div class="me-movie__language-name"><%= language['name'] %></div>
															<div class="me-movie__times">
																<% if language['times'] %>
																	<% language['times'].each do |time| %>
																				<span class="me-movie__time">
																					<%= time %>
																				</span>
																	<% end %>
																<% end %>
															</div>
														</div>
													<% end %>
												</div>
											<% end %>
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
				</div>
			<% end %>
			</div>

</section>
