<%

	raise ArgumentError unless collection

	collection = {
			identifier:        nil,
			events:            [],
			user:              nil,
			title:             {
					principal: nil,
					secondary: nil
			},
			custom_title:      nil,
			filters:           {
					categories: false,
					kinds:      false,
					ocurrences: false
			},
			limit:             16,
			disposition:       :vertical,
			infinite_scroll:   false,
			display_similar:   true,
			display_load_more: false,
			if_greater_than:   0,
			display_if_empty:  false,
			show_similar_to:   [],
			total_count:       0
	}.deep_merge!(collection)

%>

<%# if collection[:display_if_empty] || (collection[:events] && collection[:events].size > collection[:if_greater_than]) %>
<section class="me-collection <%= collection.size == 0 ? 'me-collection--empty' : '' %>"
				 data-controller="section"
				 data-target="section.section"
				 data-section-load-more-loading="false"
				 data-section-limit="<%= collection[:events].size %>"
				 data-section-total-count="<%= collection[:total_count] %>"
				 data-section-infinite-scroll="<%= collection[:infinite_scroll] %>"
				 data-section-disposition="<%= collection[:disposition] %>"
				 data-section-identifier="<%= collection[:identifier] %>"
				 data-section-continue-to-path="<%= collection[:continue_to] %>"
				 data-section-stimulus-session="<%= session[:stimulus].to_param %>"
				 id="<%= collection[:identifier] %>">
	<div class="me-collection__head">
		<h2>
			<%= collection[:title][:principal] %>
			<% if collection[:continue_to].present? && collection[:user] %>
          <span class="me-see-all is-hoverable"
								data-fixed="true"
								data-action="click->section#seeMoreInNewPage">
            Ver tudo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg>
          </span>
			<% end %>
			<%= render partial: 'components/follow/follow_button', locals: {
					identifier: collection[:identifier],
					user:       collection[:user],
					followable: collection[:followable]
			} if collection[:followable] %>
		</h2>
		<% if collection[:title][:tertiary] %>
			<div class="me-collection__title-tertiary">
				<%= collection[:title][:tertiary] %>
			</div>
		<% end %>
		<% if collection[:title][:secondary] %>
			<div class="me-collection__title-secondary">
				<%= collection[:title][:secondary] %>
			</div>
		<% end %>
		<% if collection[:custom_title] %>
			<div class="me-collection__title-custom"
					 data-fixed="true">
				<%= collection[:custom_title] %>
			</div>
		<% end %>
		<% unless collection[:title][:custom] %>
			<div data-reflex-permanent class="me-filter"
					 data-target="section.filter">
				<%= render(partial: 'feeds/filter',
									 locals:  {
											 data: {
													 filters:   collection[:categories],
													 icon_type: 'filter_list',
													 type:      'categories'
											 }
									 },
									 cached:  false) %>
				<%= render(partial: 'feeds/filter',
									 locals:  {
											 data: {
													 filters:   collection[:kinds],
													 icon_type: 'filter_list',
													 type:      'kinds'
											 }
									 },
									 cached:  false) %>
				<%= collection[:title][:ocurrences] %>
				<%= render(partial: 'feeds/filter',
									 locals:  {
											 data: {
													 filters:   collection[:ocurrences],
													 icon_type: '',
													 type:      'days'
											 }
									 },
									 cached:  false) %>
			</div>
		<% end %>
	</div>
	<% if collection.dig(:detail, :total_events_in_collection).try { |counter| counter == 0 } && collection[:empty_message] %>
		<div class="me-collection__empty-message">
			<%= collection[:empty_message] %>
		</div>
	<% end %>
	<div data-target="section.grid"
			 class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner"
				 data-section-turbolinks-persist-scroll="0"
				 data-target="section.scrollContainer">
			<% if collection[:events].present? %>
				<%= render(partial:    'components/collection/event',
									 collection: collection[:events],
									 as:         :event,
									 locals:     {
											 user:            collection[:user],
											 identifier:      collection[:identifier],
											 display_similar: collection[:display_similar],
											 disposition:     collection[:disposition],
											 show_similar_to: session[:stimulus][:show_similar_to]
									 },
									 cached:     false) %>
				<% if (collection[:infinite_scroll] || collection[:display_load_more]) && collection[:total_count] > collection[:events].size %>
					<div data-action="click->section#loadMoreHere"
							 data-target="section.loadMoreButton"
							 data-continue-to-path="<%= collection[:continue_to] %>"
							 class="me-collection__load-more me-collection__load-more--horizontal">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="none" d="M0 0h24v24H0V0z"/>
							<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/>
						</svg>
					</div>
					<div class="me-collection__load-more me-collection__load-more--horizontal is-loading">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
							<path fill="none" d="M0 0h24v24H0V0z"/>
							<path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
						</svg>
					</div>
				<% end %>
			<% else %>
				<% 4.times do %>
					<div class="mdc-layout-grid__cell" id="<%= "empty-events-#{rand 1000}" %>" style="order: 1;">
						<div class="me-card me-card--feed me-card--empty mdc-card mdc-card--outlined" id="event_6238">
							<div class="me-card__primary-section">
								<div class="me-card__date is-hoverable" data-target="event.date">
									<span>hoje 22:00</span>
									<span class="me-card__date-distance-in-words"> · Daqui 2 horas  </span>
								</div>
							</div>
							<div data-fixed="true" class="mdc-card__media mdc-card__media--16-9 lazy-bgimage" style="">
								<div class="me-card__like-button" data-action="click->event#like">
									<div data-target="event.like">
										<button data-target="event.likeButton" id="add-to-favorites" class="me-icon-button mdc-icon-button mdc-ripple-upgraded--unbounded mdc-ripple-upgraded" aria-label="Add to favorites" aria-hidden="true" aria-pressed="false" style="display: none; --mdc-ripple-fg-size:0px; --mdc-ripple-fg-scale:NaN; --mdc-ripple-left:0px; --mdc-ripple-top:0px;">
											<i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">
												<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.99165 15.4562C9.33798 16.0496 8.33168 16.0496 7.67801 15.4476L7.5834 15.3616C3.06793 11.2761 0.117822 8.60127 0.229634 5.26412C0.281239 3.80197 1.02952 2.40003 2.24224 1.57434C4.51288 0.0261801 7.31677 0.748655 8.83053 2.52044C10.3443 0.748655 13.1482 0.0175793 15.4188 1.57434C16.6315 2.40003 17.3798 3.80197 17.4314 5.26412C17.5518 8.60127 14.5931 11.2762 10.0777 15.3788L9.99165 15.4562Z"></path>
												</svg>
											</i>
											<i class="material-icons-sharp mdc-icon-button__icon">
												<svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9.99165 15.4562C9.33798 16.0496 8.33168 16.0496 7.67801 15.4476L7.5834 15.3616C3.06793 11.2761 0.117822 8.60127 0.229634 5.26412C0.281239 3.80197 1.02952 2.40003 2.24224 1.57434C4.51288 0.0261801 7.31677 0.748655 8.83053 2.52044C10.3443 0.748655 13.1482 0.0175793 15.4188 1.57434C16.6315 2.40003 17.3798 3.80197 17.4314 5.26412C17.5518 8.60127 14.5931 11.2762 10.0777 15.3788L9.99165 15.4562Z"></path>
												</svg>
											</i>
										</button>
									</div>
								</div>
								<a href="#">
									<div class="me-card__overlay mdc-ripple-surface mdc-ripple-upgraded" data-target="event.overlay"></div>
								</a>
							</div>
							<div class="me-card__quartenary-section">
								<div class="me-card__category" data-target="event.category">
									<a href="#">#Festa</a>
									<a href="#">#Margot</a>
								</div>
							</div>
							<div class="me-card__secondary-section">
								<div class="me-card__title" data-target="event.name" title="QNT #12 Merry Christmas :: 26.12 :: @Margot">
									<a href="#">Qnt #12 Merry Christmas / 26.12 / @Margot</a>
								</div>
							</div>
						</div>
					</div>
				<% end %>


			<% end %>
		</div>
		<% if (collection[:disposition] == :horizontal && mobile_device?) &&
				session[:stimulus][:in_this_section] == collection[:identifier] &&
				collection[:show_similar_to].present? %>
			<%= render partial: 'components/collection/similar',
								 locals:  {
										 data: {
												 user:  collection[:user],
												 event: Event.find(collection[:show_similar_to].last)
										 }
								 },
								 cached:  false %>
		<% end %>
		<% if (collection[:infinite_scroll] || collection[:display_load_more]) && collection[:total_count] > collection[:events].size %>
			<div class="me-collection__load-more me-collection__load-more--vertical is-hoverable"
					 data-action="click->section#loadMoreHere"
					 data-target="section.loadMoreButton">
				Mostrar mais
			</div>
		<% end %>
	</div>
</section>
<%# end %>