<%= component_controller do %>
	<% if !@user.friendship? @friend %>
		<%= reflex_tag :commit_edit,
									 :div,
									 class:                    'flex items-center w-content justify-center px-2 py-1 text-sm font-medium text-gray-600 border border-gray-100 rounded cursor-pointer select-none tap-highlight-none',
									 'data-friendship-action': 'request' do %>
			<svg class="w-5 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M8 10H5V7H3v3H0v2h3v3h2v-3h3v-2zm10 1c1.66 0 2.99-1.34 2.99-3S19.66 5 18 5c-.32 0-.63.05-.91.14.57.81.9 1.79.9 2.86s-.34 2.04-.9 2.86c.28.09.59.14.91.14zm-5 0c1.66 0 2.99-1.34 2.99-3S14.66 5 13 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm6.62 2.16c.83.73 1.38 1.66 1.38 2.84v2h3v-2c0-1.54-2.37-2.49-4.38-2.84zM13 13c-2 0-6 1-6 3v2h12v-2c0-2-4-3-6-3z"/>
			</svg>
			<span>Solicitar amizade</span>
		<% end %>
	<% elsif @user.friendship_request_received? @friend %>
		<%= reflex_tag :commit_edit,
									 :div,
									 class:                    'flex items-center w-content justify-center px-2 py-1 text-sm font-medium text-green-500 bg-white border border-green-500 rounded cursor-pointer select-none tap-highlight-none',
									 'data-friendship-action': 'accept' do %>
			<svg class="w-5 mr-1 text-green-400 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M8 10H5V7H3v3H0v2h3v3h2v-3h3v-2zm10 1c1.66 0 2.99-1.34 2.99-3S19.66 5 18 5c-.32 0-.63.05-.91.14.57.81.9 1.79.9 2.86s-.34 2.04-.9 2.86c.28.09.59.14.91.14zm-5 0c1.66 0 2.99-1.34 2.99-3S14.66 5 13 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm6.62 2.16c.83.73 1.38 1.66 1.38 2.84v2h3v-2c0-1.54-2.37-2.49-4.38-2.84zM13 13c-2 0-6 1-6 3v2h12v-2c0-2-4-3-6-3z"/>
			</svg>
			<span>Aceitar amizade</span>
		<% end %>
	<% elsif @user.friendship_requested? @friend %>
		<%= reflex_tag :commit_edit,
									 :div,
									 class:                    'flex items-center w-content justify-center px-2 py-1 text-sm font-medium text-gray-600 border-transparent rounded cursor-pointer select-none bg-gray-50 tap-highlight-none',
									 'data-friendship-action': 'cancel' do %>
			<svg class="w-5 mr-1 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
			</svg>
			<span>Amizade solicitada</span>
		<% end %>
	<% elsif @user.friendship_accepted? @friend %>
		<div class="flex items-center w-content justify-center px-2 py-1 text-sm font-medium text-green-500 bg-green-100 rounded-full cursor-pointer select-none tap-highlight-none">
			<svg class="w-5 mr-1 text-green-400 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
			</svg>
			<span class="text-green-600">Amigos</span>
			<%= reflex_tag :begin_edit,
										 :div do %>
				<svg class="h-4 ml-1 -mr-1 text-green-400 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
					<path d="M0 0h24v24H0z" fill="none"/>
					<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
				</svg>
			<% end %>
		</div>
	<% end %>

	<% if @editing %>
		<div id="sheet-content" data-sheet-target="content" class="fixed top-0 left-0 z-50 w-screen h-screen">
			<%= reflex_tag :end_edit, :div, nil, class: 'w-full h-full bg-black opacity-50' %>
			<div class="absolute bottom-0 flex flex-col w-screen p-5 pb-8 space-y-5 bg-white rounded-t-lg h-content">
				<div class="flex items-center space-x-5 font-medium">
					<svg class="<%= helpers.class_names('fill-current h-6',
																							{'text-gray-500':  @user.friendship_accepted?(@friend),
																							 'text-green-400': !@user.friendship_accepted?(@friend)}) %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<g>
							<rect fill="none" height="24" width="24"/>
						</g>
						<g>
							<path d="M14,8c0-2.21-1.79-4-4-4S6,5.79,6,8s1.79,4,4,4S14,10.21,14,8z M17,10v2h6v-2H17z M2,18v2h16v-2c0-2.66-5.33-4-8-4 S2,15.34,2,18z"/>
						</g>
					</svg>
					<% if @user.friendship_accepted?(@friend) %>
						<%= reflex_tag :commit_edit,
													 :div,
													 data: {
															 'friendship-action': 'cancel'
													 } do %>
							Cancelar amizade com <%= @friend.first_name %>
						<% end %>
					<% else %>
						<div class="text-green-500">
							Amizade com <%= @friend.first_name %> cancelada
						</div>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

<% end %>