<%= component_controller do %>
	<div id="<%= dom_id @event %>" class="bg-white shadow-sm md:rounded md:shadow"
			 data-event-favorited="<%= @user and @user.like?(@event) if @user and @user %>"
			 data-event-identifier="<%= @event.id %>"
			 data-event-description-open="false"
			 data-event-modifier="single">

		<div class="relative">
			<div class="aspect-ratio-16/9"></div>
			<img src="<%= @event.image[:original].try { |image| image.url(public: true) } %>" alt="<%= @event.details_name %>" class="absolute top-0 left-0 object-cover object-center w-full h-full min-w-full bg-gray-50">
			<div class="absolute top-0 right-0 hidden mt-2 mr-2 transition-all duration-150 opacity-0 w-content"
					 data-controller="share-button"
					 data-share-button-text="<%= helpers.strip_tags(helpers.limit_description_size(@event.details_description, 160)) %>"
					 data-share-button-title="<%= @event.details_name %>"
					 data-share-button-url="<%= event_url(@event, format: :html) %>">
				<div class="relative flex px-3 py-2 mx-auto overflow-hidden text-xs text-gray-700 bg-gray-50 rounded-full shadow cursor-pointer ripple ripple-black hover:bg-white hover:text-green-500 w-content"
						 data-action="click->share-button#share"
						 data-controller="ripple">
					<span>Compartilhar</span>
					<svg class="w-4 h-4 ml-1 fill-current" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/>
					</svg>
				</div>
			</div>
		</div>
		<div class="flex p-5">
			<div class="flex flex-col my-1 mr-1 space-y-2">
				<%= render partial: 'components/taste_button',
									 locals:  {
											 user:            @user,
											 resource:        @event,
											 taste_type:      :save,
											 taste_sentiment: :positive,
											 parent_id:       dom_id(@event),
											 opts:            {
													 partial: 'events/large_event'
											 }
									 } %>
				<%= render partial: 'components/taste_button',
									 locals:  {
											 user:            @user,
											 resource:        @event,
											 taste_type:      :dislike,
											 taste_sentiment: :negative,
											 parent_id:       dom_id(@event),
											 opts:            {
													 partial: 'events/large_event'
											 }
									 } %>
			</div>
			<h1 class="px-3 mb-5 text-2xl font-medium leading-tight text-gray-700 md:px-0 md:text-4xl">
				<%= @event.details_name %>
			</h1>
		</div>
		<div class="flex p-5 border-t border-b border-gray-100">
			<div class="flex flex-col justify-center px-3 py-2 my-auto mr-3 text-center text-green-500 bg-green-100 h-content rounded-xl w-content">
				<div class="font-bold leading-tight text-sm uppercase">
					<% if @event.day_of_week['date'] < Date.today + 7 %>
						<%= I18n.l(@event.day_of_week['date'], format: :week) %>
					<% else %>
						<%= I18n.l(@event.day_of_week['date'], format: :long) %>
					<% end %>
				</div>
				<div class="text-sm"><%= helpers.format_hour @event.first_day_time %></div>
			</div>
			<div class="my-auto text-xs leading-snug text-gray-800">
				O evento acontecerá
				<span class="font-semibold">daqui <%= helpers.distance_of_time_in_words @event.day_of_week['date'], DateTime.now %></span>
				em uma
				<span class="font-semibold"><%= I18n.l(@event.day_of_week['date'], format: :week) %></span>. <%= link_to('Ver minha agenda neste dia', my_agenda_path(start_date: @event.day_of_week['date']), class: 'text-green-500 font-semibold') %>
			</div>
		</div>
		<div class="px-5 py-5 border-b border-gray-100">
			<h2 class="font-bold text-gray-700 uppercase"><%= helpers.limit_place_name_size(@event.place_details_name, 40) %></h2>
			<div class="mt-2 text-xs font-light leading-tight text-gray-700">
				<%= helpers.limit_address_name_size @event.geographic['address'] %>
			</div>
			<div>

				<div class="flex justify-center h-16 mt-3 align-middle bg-cover" style="background-image: url('<%= asset_pack_path('media/images/open-google-maps.png') %>')">
					<div class="flex px-2 py-2 my-auto rounded shadow h-content" style="background: rgba(255, 255, 255, 0.9);">
						<svg class="h-5 mr-1 text-gray-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<path d="M0 0h24v24H0z" fill="none"/>
							<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
						</svg>
						<%= link_to 'Abrir no Google Maps', helpers.google_maps_url(@event.geographic['address']), class: 'text-gray-600 text-sm' %>
					</div>
				</div>

			</div>
		</div>
		<div class="px-5 py-5">
			<h2 class="font-bold text-gray-700 uppercase">Sobre o evento</h2>
			<div class="mt-2 text-sm font-light leading-relaxed text-gray-700 break-words text-with-html">
				<%= @event.details_description.html_safe %>
			</div>
		</div>
	</div>
<% end %>