<%= content_tag :div, id: dom_id(@event), data: { controller: 'large-event' } do %>
	<div class="overflow-hidden bg-white"
			 data-event-favorited="<%= @user and @user.like?(@event) if @user and @user %>"
			 data-event-identifier="<%= @event.id %>"
			 data-event-description-open="false"
			 data-event-modifier="single">
		<div class="hidden md:flex items-center justify-between px-5 md:px-0 mb-2">
			<div class="pr-3">
				<span class="text-sm font-light text-gray-400">
					<% if helpers.already_happened? @event %>
						O evento ocorreu <%= I18n.l(@event.end_time) %>
					<% else %>
						Atualizado há <%= time_ago_in_words @event&.updated_at %>
					<% end %>
				</span>
				<h1 class="mb-2 leading-tight c-h2 pr-5">
					<%= helpers.limit_name_size @event.name %>
				</h1>
			</div>
			<div class="flex">
				<div class="flex items-center mt-1 space-x-2">
					<% unless @user&.dislike?(@event) %>
						<%= content_tag :div,
														id:    dom_id(@event, :like),
														data:  {
															reflex:     'click->Event#like',
															'event-id': @event.id,
															component:  'large-event'
														},
														class: helpers.class_names('cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 items-center justify-center rounded-full select-none tap-highlight-none transform transition-transform',
																											 { 'text-brand-600 hover:text-brand-500 bg-brand-100 px-2 py-1 -mt-1': @user&.like?(@event),
																												 'text-gray-800 hover:text-brand-600':                               !@user&.like?(@event) }) do %>
							<svg class="<%= helpers.class_names 'group h-6 w-6 stroke-current',
																									{ 'fill-current': @user&.like?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
							</svg>
							<span class="ml-1">
							<%= @user&.like?(@event) ? 'Salvo' : 'Salvar' %>
						</span>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="">
			<img src="<%= @event.image[:original].try { |image| image.url(public: true) } %>"
					 alt="<%= @event.name %>"
					 class="object-cover object-center w-full h-60 bg-gray-50 md:h-80 md:rounded-lg">
		</div>
		<div class="md:hidden relative">
			<div class="border-b border-gray-100 flex items-center justify-between mt-5 pb-5 px-5">
				<div class="pr-3">
					<span class="text-sm font-light text-gray-600">
						<% if helpers.already_happened? @event %>
							O evento ocorreu <%= I18n.l(@event.end_time) %>
						<% else %>
							Atualizado há <%= time_ago_in_words @event&.updated_at %>
						<% end %>
					</span>
				</div>
				<div class="flex md:hidden">
					<div class="flex items-center mt-1 space-x-2">
						<% unless @user&.dislike?(@event) %>
							<%= content_tag :div,
															id:    dom_id(@event, :like),
															data:  {
																reflex:     'click->Event#like',
																'event-id': @event.id,
																component:  'large-event'
															},
															class: helpers.class_names('mr-2 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:text-gray-600 items-center justify-center rounded-full select-none tap-highlight-none transform transition-transform',
																												 { 'bg-brand-100 px-2 py-1 -mt-1': @user&.like?(@event) }) do %>
								<svg class="<%= helpers.class_names 'group h-6 w-6 stroke-current',
																										{ 'text-gray-800':               !@user&.like?(@event),
																											'text-brand-600 fill-current': @user&.like?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
								</svg>
								<span class="<%= helpers.class_names('ml-1', { 'text-gray-800':  !@user&.like?(@event),
																															 'text-brand-600': @user&.like?(@event) }) %>">
							<%= @user&.like?(@event) ? 'Salvo' : 'Salvar' %>
						</span>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<% unless helpers.already_happened? @event %>
			<div class="flex py-5 px-5 md:px-0 border-b border-gray-100 md:border-0">
				<div class="flex flex-col justify-center py-2 px-3 my-auto mr-5 text-center rounded-lg text-gray-800 border h-14 w-content">
					<div class="text-sm font-bold leading-tight uppercase">
						<% if @event.start_time < Date.today + 7 %>
							<%= I18n.l(@event&.start_time&.to_date, format: :week) %>
						<% else %>
							<%= I18n.l(@event&.start_time&.to_date, format: :long) %>
						<% end %>
					</div>
					<div class="text-sm"><%= helpers.format_hour @event.start_time unless @event.multiple_hours? %></div>
				</div>

				<div class="my-auto text-sm leading-snug text-gray-700 md:text-base">
					<% if @event.multiple_hours? %>
						<%= "#{I18n.l(@event.start_time, format: :day_month_year).capitalize}, em múltiplos horários#{'.' unless @event&.start_time > DateTime.now + 2}" %>
						<%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['minutes']}." if @event&.start_time > DateTime.now + 2 %>
						<%= link_to 'Confirmar horários', @event.source_url, class: 'text-brand-600', rel: 'nofollow noreferrer', target: '_blank' rescue nil %>
					<% else %>
						<%= "#{I18n.l(@event.start_time, format: :default).capitalize}#{'.' unless @event&.start_time > DateTime.now + 2}" %> <%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['minutes']}." if @event&.start_time > DateTime.now + 2 %>
					<% end %>
				</div>
			</div>
		<% end %>
		<div class="flex flex-col py-5 px-5 md:px-0 border-b border-gray-100 md:border-0 md:flex-row">
			<div class="flex-grow">
				<%= link_to place_path(@event&.place), class: 'inline items-center space-x-2', data: { 'turbo-preserve-scroll': true } do %>
					<h2 class="inline c-h3">
						<%= helpers.limit_place_name_size(@event.place_details_name, 40) %>
					</h2>
				<% end %>
				·
				<%= render(FollowButtonComponent.new(
					user:       @user,
					followable: @event&.place,
					type:       'text'
				)) %>
				<div class="mt-2 text-sm leading-tight">
					<%= helpers.limit_address_name_size @event.geographic['address'] %>
				</div>
			</div>
			<div class="flex items-center h-12 align-middle bg-cover group" style="">
				<%= link_to helpers.google_maps_url(@event.geographic['address']), class: 'flex group-hover:text-brand-600 h-content items-center justify-center md:justify-end md:mt-0 mt-3 text-brand-600 text-xs' do %>
					<svg class="mr-1 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
					</svg>
					<div>
						Google Maps
					</div>
				<% end %>
			</div>
		</div>
		<div class="py-5 px-5 md:px-0">
			<h2 class="c-h3">Sobre o evento</h2>
			<div class="mt-2 leading-relaxed break-words text-with-html">
				<%= @event.description.html_safe %>
			</div>
		</div>
	</div>
<% end %>