<%= content_tag :div, id: dom_id(@event), data: { controller: 'large-event' } do %>
	<div class="overflow-hidden bg-white md:border md:p-6 md:rounded-2xl md:shadow-2xl"
			 data-event-favorited="<%= @user and @user.like?(@event) if @user and @user %>"
			 data-event-identifier="<%= @event.id %>"
			 data-event-description-open="false"
			 data-event-modifier="single">
		<div class="hidden justify-between items-start px-5 mb-2 md:flex md:px-0">
			<div class="pr-3">
				<h1 class="pr-5 leading-8 c-h2">
					<%= helpers.limit_name_size @event.name %>
				</h1>
				<span class="text-xs font-light text-gray-400">
					<% if helpers.already_happened? @event %>
						O evento ocorreu <%= I18n.l(@event.end_time) %>
					<% else %>
						Atualizado há <%= time_ago_in_words @event&.updated_at %>
					<% end %>
				</span>
			</div>
			<div class="flex items-center mt-1 space-x-2">
				<% unless @user&.dislike?(@event) %>
					<%= content_tag :div,
													id:    dom_id(@event, :like),
													data:  {
														reflex:     'click->Event#like',
														'event-id': @event.id,
														component:  'large-event'
													},
													class: helpers.class_names('cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 items-center justify-center rounded-full select-none  transform transition-transform',
																										 { 'text-brand-600 hover:text-brand-500': @user&.like?(@event),
																											 'text-gray-300 hover:text-brand-600':  !@user&.like?(@event) }) do %>


						<svg class="<%= helpers.class_names 'group w-6 fill-current stroke-current', { 'fill-current': @user&.like?(@event) } %>" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 12.04 13.31">
							<path fill="currentColor" stroke="currentColor" d="M11.54 1v11.39a.42.42 0 01-.63.36l-4.7-2.69A.35.35 0 006 10a.31.31 0 00-.19.06l-4.7 2.69a.42.42 0 01-.63-.36V1A.47.47 0 011 .5h10.06a.48.48 0 01.48.5z"/>
						</svg>
					<% end %>
				<% end %>
			</div>
		</div>
		<%= helpers.webp_image_tag @event.image[helpers.mobile_device? ? :medium : :original].try { |image| image.url(public: true) },
															 @event.image[:original].try { |image| image.url(public: true) },
															 alt:   @event.name,
															 class: 'md:border border-gray-100 md:my-5 object-cover object-center w-full h-60 bg-gray-50 md:h-80 md:rounded-xl md:shadow-sm' %>
		<div class="relative md:hidden">
			<h1 class="c-h2 leading-8 pt-2 px-5">
				<%= helpers.limit_name_size @event.name %>
			</h1>
			<div class="flex justify-between items-center py-2 px-5 border-b border-gray-100">
				<div class="flex justify-between items-center mt-1 space-x-2 w-full md:hidden">
					<div class="text-xs font-light text-gray-600">
						<% if helpers.already_happened? @event %>
							O evento ocorreu <%= I18n.l(@event.end_time) %>
						<% else %>
							Atualizado há <%= distance_of_time_in_words_to_now @event&.updated_at, except: ['minutes'] %>
						<% end %>
					</div>
					<% unless @user&.dislike?(@event) %>
						<%= content_tag :div,
														id:    dom_id(@event, :like),
														data:  {
															reflex:     'click->Event#like',
															'event-id': @event.id,
															component:  'large-event'
														},
														class: helpers.class_names('cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 items-center justify-center rounded-full select-none  transform transition-transform',
																											 { 'text-brand-600': @user&.like?(@event),
																												 'text-gray-300':  !@user&.like?(@event) }) do %>
							<svg class="<%= helpers.class_names 'group w-5 fill-current stroke-current', { 'fill-current': @user&.like?(@event) } %>" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 12.04 13.31">
								<path fill="currentColor" stroke="currentColor" d="M11.54 1v11.39a.42.42 0 01-.63.36l-4.7-2.69A.35.35 0 006 10a.31.31 0 00-.19.06l-4.7 2.69a.42.42 0 01-.63-.36V1A.47.47 0 011 .5h10.06a.48.48 0 01.48.5z"/>
							</svg>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<% unless helpers.already_happened? @event %>
			<div class="flex py-5 px-5 border-b border-gray-100 md:px-0 text-brand-600">
				<div class="flex flex-col justify-center py-2 px-3 my-auto mr-5 text-center rounded-lg bg-brand-100 h-15 w-content">
					<div class="text-sm font-bold leading-tight uppercase">
						<% if @event.start_time < Date.today + 7 %>
							<%= I18n.l(@event&.start_time&.to_date, format: :week) %>
						<% else %>
							<%= I18n.l(@event&.start_time&.to_date, format: :long) %>
						<% end %>
					</div>
					<div class="text-sm"><%= helpers.format_hour @event.start_time unless @event.multiple_hours? %></div>
				</div>

				<div class="my-auto text-sm leading-snug md:text-base">
					<% if @event.multiple_hours? %>
						<%= "#{I18n.l(@event.start_time, format: :day_month_year).capitalize}, em múltiplos horários#{'.' unless @event&.start_time > DateTime.now + 2}" %>
						<%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['minutes']}." if @event&.start_time > DateTime.now + 2 %>
						<%= link_to 'Confirmar horários', @event.source_url, class: 'text-brand-600', rel: 'nofollow noreferrer', target: '_blank' rescue nil %>
					<% else %>
						<%= "#{I18n.l(@event.start_time, format: :default).capitalize}#{'.' unless @event&.start_time > DateTime.now + 2}" %> <%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['minutes']}." if @event&.start_time > DateTime.now + 2 %>
					<% end %>
				</div>
			</div>
		<% end %>
		<div class="flex flex-col py-6 px-5 border-b border-gray-100 md:px-0 md:border-0 md:flex-row">
			<div class="flex-grow">
				<%= link_to place_path(@event&.place), class: 'inline items-center space-x-2 group', data: { 'turbo-preserve-scroll': true } do %>
					<h2 class="inline uppercase c-h3 group-hover:text-brand-600">
						<%= helpers.limit_place_name_size(@event.place_name, 40) %>
					</h2>
				<% end %>
				·
				<%= render(FollowButtonComponent.new(
					user:       @user,
					followable: @event&.place,
					type:       'text'
				)) %>
				<div class="mt-2 text-sm leading-tight">
					<%= helpers.limit_address_name_size @event.place_address %>
				</div>
			</div>
			<div class="flex items-center h-12 align-middle bg-cover group" style="">
				<%= link_to helpers.google_maps_url(@event.place_address), class: 'flex group-hover:text-brand-600 h-content items-center justify-center md:justify-end md:mt-0 mt-3 text-brand-600 text-xs' do %>
					<svg class="mr-1 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0z" fill="none"/>
						<path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
					</svg>
					<div>
						Google Maps
					</div>
				<% end %>
			</div>
		</div>
		<div class="py-5 px-5 md:px-0">
			<h2 class="uppercase c-h3">Sobre o evento</h2>
			<div class="mt-2 leading-relaxed break-words text-with-html">
				<%= @event.description.html_safe %>
			</div>
		</div>
	</div>
<% end %>