<%= component_controller do %>
	<div class="border border-gray-100 relative flex items-center p-1 mb-2 mr-2 rounded-full w-content">
		<% begin %>
			<%= image_tag(@friend.picture, {class: "w-5 h-5 mr-2 bg-white bg-cover rounded-full", alt: @friend.name, onerror: "this.style.opacity='0'"}) %>
		<% rescue %>
			<div class="w-5 h-5 mr-2 bg-gray-50 rounded-full"></div>
		<% end %>

		<div class="text-sm font-medium text-gray-400">
			<%= link_to @friend.first_name, user_path(@friend), {id: dom_id(@friend, :friendship_accepted)} %>
		</div>

		<% if @editing %>
			<div id="sheet-content" data-target="sheet.content" class="fixed top-0 left-0 z-50 w-screen h-screen">
				<%= content_tag :div, nil, data: {action: 'click->user-chip#endEdit', key: key}, class: 'w-full h-full bg-black opacity-50' %>
				<div class="md:max-w-sm md:ml-6 absolute bottom-0 flex flex-col w-screen p-5 pb-8 space-y-5 bg-white rounded-t-lg h-content">
					<div class="flex items-center space-x-5 font-medium">
						<svg class="<%= helpers.class_names('fill-current h-6',
																								{'text-gray-400':  @user.friendship_accepted?(@friend),
																								 'text-green-400': !@user.friendship_accepted?(@friend)}) %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
							<g>
								<rect fill="none" height="24" width="24"/>
							</g>
							<g>
								<path d="M14,8c0-2.21-1.79-4-4-4S6,5.79,6,8s1.79,4,4,4S14,10.21,14,8z M17,10v2h6v-2H17z M2,18v2h16v-2c0-2.66-5.33-4-8-4 S2,15.34,2,18z"/>
							</g>
						</svg>
						<%= reflex_tag :commit_edit,
													 :div,
													 data: {
															 'friendship-action': 'cancel'
													 } do %>
							<% if @user.friendship_accepted?(@friend) %>
								<div class="text-gray-500">
									<% if @saving_edit %>
										Cancelando amizade...
									<% else %>
										Cancelar amizade com <%= @friend.first_name %>
									<% end %>
								</div>
							<% else %>
								<div class="text-green-500">
									Amizade com <%= @friend.first_name %> cancelada
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>

		<% if @friend&.liked_events&.size > 0 %>
		<span class="absolute right-0 inline-flex items-center justify-center w-4 h-4 mr-2 -mt-10 text-xs font-bold text-green-500 bg-white rounded-full">
			<%= @friend&.liked_events&.size %>
		</span>
		<% end %>
	</div>
<% end %>
