<%= content_tag :div, id: dom_id(@event, :left_sidebar), data: { controller: 'left-sidebar--horizontal-event' } do %>
	<div class="select-none tap-highlight-none pr-5 py-4 group relative">
		<div class="text-sm md:text-xs md:mt-1 text-gray-500">
			<%= helpers.day_of_week(@event.start_time).titlecase %> · <%= helpers.format_hour @event.first_day_time %>h
		</div>
		<div class="mb-1 leading-snug text-gray-800 font-semibold">
			<%= content_tag :a,
											href:  event_path(@event),
											data:  {
												action:     'click->left-sidebar--horizontal-event#openEvent',
												'event-id': @event.id
											},
											class: 'md:hover:underline' do %>
				<%= @event.details_name %>
			<% end %>
		</div>
		<%= content_tag :div, data: { reflex: 'click->LeftSidebar::Calendar#unlike', 'event-id': @event.id }, class: 'absolute bottom-0 mt-3 cursor-pointer group-hover:block hidden text-red-500 text-sm underline' do %>
			Remover
		<% end %>
	</div>
<% end %>