<%= content_tag :div, id: dom_id(@event, :left_sidebar), class: 'duration-300 transition-all bg-white', data: { controller: 'left-sidebar--horizontal-event', 'flip-key': dom_id(@event, :left_sidebar) } do %>
	<div class="flex relative py-4 pr-4 space-x-3 select-none group tap-highlight-none">
		<div class="<%= helpers.class_names 'flex flex-col flex-shrink-0 justify-items-center py-1 w-9 text-xs text-center rounded h-content',
																				{ 'bg-brand-100 text-brand-600': @event&.start_time.today?,
																					'bg-gray-100 text-gray-800':   !@event&.start_time.today? } %>">
			<div class="<%= helpers.class_names('font-semibold': @event&.start_time.today?) %>">
				<%= l(@event.start_time, format: "%-d") %>
			</div>
			<div class="-mt-1 text-xxs">
				<%= l(@event.start_time, format: "%^b") %>
			</div>
		</div>
		<div class="<%= helpers.class_names({ 'text-brand-600': @event&.start_time.today?,
																					'text-gray-800':  !@event&.start_time.today? }) %>">
			<div class="text-xs">
				<%= tag.span "#{helpers.format_hour(@event.start_time)}h" %>
				· <%= helpers.day_of_week @event.start_time %>
				· <%= "daqui #{distance_of_time_in_words(@event.start_time, DateTime.now)}" %>
			</div>
			<div class="mb-1 leading-snug">
				<%= content_tag :a,
												href:  event_path(@event),
												data:  {
													action:     'click->left-sidebar--horizontal-event#openEvent',
													'event-id': @event.id
												},
												class: 'md:hover:underline text-sm font-medium' do %>
					<%= @event.name %>
				<% end %>
			</div>
		</div>
		<%= content_tag :div, data: { action: 'click->left-sidebar--horizontal-event#unlike', 'event-id': @event.id }, class: 'absolute hidden bottom-0 cursor-pointer group-hover:block mt-3 pl-8 text-red-500 text-xxs underline' do %>
			Remover
		<% end %>
	</div>
<% end %>