<%= javascript_pack_tag 'text-field', 'select', 'data-turbolinks-track': 'reload', defer: true %>

<%= notice %>

<%= form_with(model: user, local: true, html: { enctype: "multipart/form-data" }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.picture %>
    <img class="me-user-profile__picture" src="<%= @user.picture %>">
  <% else %>
    Você não possui nenhuma foto, envie clicando ao lado.
  <% end %>

  <%= form.hidden_field :image, value: @user.cached_image_data %>
  <%= form.file_field :image, class: "me-file-button" %>

  <div class="me-text-field__container me-text-field--fullwidth">
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
      <%= form.text_field :name, class: 'mdc-text-field__input' %>
      <div class="mdc-notched-outline mdc-notched-outline--upgraded">
        <div class="mdc-notched-outline__leading"></div>
        <div class="mdc-notched-outline__notch" style="">
          <label class="mdc-floating-label" for="text-field-outlined" style="">Nome</label>
        </div>
        <div class="mdc-notched-outline__trailing"></div>
      </div>
    </div>
  </div>

  <button class="me-button mdc-button">
    <span class="me-button__label mdc-button__label">Salvar</span>
  </button>

<% end %>
