<%= notice %>

<%= form_with(model: user, local: true, html: {enctype: "multipart/form-data", data: { turbo: false }}, class: 'text-gray-800 text-sm space-y-5') do |form| %>
	<% if user.errors.any? %>
		<div id="error_explanation">
			<p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

			<ul>
				<% user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="flex flex-col items-center justify-center">
		<% if @user.picture %>
			<%= image_tag @user.picture, {class: "mb-1 bg-cover bg-gray-400 h-12 md:h-16 md:w-16 rounded-full w-12", alt: @user.name, onerror: "this.style.opacity='0'"} %>
			<%= form.hidden_field :image, value: @user.cached_image_data %>
			<%= form.file_field :image, class: "" %>
		<% else %>
			Você não possui nenhuma foto, envie clicando abaixo.
			<%= form.hidden_field :image, value: @user.cached_image_data %>
			<%= form.file_field :image, class: "" %>
		<% end %>
	</div>

	<div class="text-gray-600">
		<label class="font-medium">Nome</label>
		<%= form.text_field :name, class: 'border focus:border-green-500 focus:outline-none focus:ring focus:ring-green-500 px-2 py-2 rounded shadow-sm w-full' %>
	</div>

	<div class="text-gray-600">
		<label class="font-medium">Nome de usuário (username)</label>
		<%= form.text_field :slug, class: 'border focus:border-green-500 focus:outline-none focus:ring focus:ring-green-500 px-2 py-2 rounded shadow-sm w-full' %>
	</div>

	<button class="float-right px-5 py-2 antialiased font-semibold text-white bg-green-500 rounded-full">
		Salvar
	</button>

<% end %>
