<%= notice %>

<%= form_with(model: user, local: true, html: {enctype: "multipart/form-data"}, class: 'text-gray-800 text-sm space-y-5') do |form| %>
	<% if user.errors.any? %>
		<div id="error_explanation">
			<p><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</p>

			<ul>
				<% user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div>
		<% if @user.picture %>
			<%= image_tag @user.picture, {class: "mb-1 bg-cover bg-gray-400 h-12 md:h-16 md:w-16 rounded-full w-12", alt: @user.name, onerror: "this.style.opacity='0'"} %>
		<% else %>
			Você não possui nenhuma foto, envie clicando abaixo.
			<%= form.hidden_field :image, value: @user.cached_image_data %>
			<%= form.file_field :image, class: "" %>
		<% end %>
	</div>

	<div>
		<label>Nome</label>
		<%= form.text_field :name, class: 'border px-2 py-2 rounded w-full' %>
	</div>

	<button class="antialiased bg-chateau-green-500 float-right font-semibold px-5 py-2 rounded-full shadow-lg text-white">
		Salvar
	</button>

<% end %>
