<section class="with-section-constraints">

  <p id="notice"><%= notice %></p>

  <h1>Users</h1>

  <table class="me-table">
    <thead>
    <tr>
      <th>Foto</th>
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Criado em</th>
      <th>Acesso em</th>
      <th>Acessos</th>
      <th>Status</th>
      <th>Notificações</th>
      <th>Beta</th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag(user.picture, class: 'picture') if user.picture %></td>
        <td><%= user.id %></td>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= distance_of_time_in_words_to_now user.created_at %></td>
        <td><%= distance_of_time_in_words_to_now user.current_sign_in_at if user.current_sign_in_at %></td>
        <td><%= user.sign_in_count %></td>
        <td style="width: 15%">
          Beta requisitado: <%= user.beta_requested? ? 'Sim' : 'Não' %> <br>
          Beta ativado: <%= user.beta_activated? ? 'Sim' : 'Não' %> <br>
          Persona: <%= user.personas_assortment_finished? ? 'Sim' : 'Não' %> <br>
          Eventos salvos: <%= user.saved_events.size %> <br>
          Plataform Id: <%= user.social_plataform_id %>
        </td>
        <td>Notificações: <%= user.notifications_topics_all_active %></td>
<!--        <td><%#= link_to 'Show', user %></td>-->
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <td><%= link_to 'Ativar convite', send_invite_activation_link_path(user), remote: true, data: { confirm: "Ativar convite para #{user.first_name} (#{user.email})" } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</section>
