<section class="me-page me-page--profile is-animated">

  <%= notice %>

  <% content_for :meta_title, "#{@user.first_name} | Alegreme.com" %>

  <div class="me-user-profile me-section">
    <% if @user.picture %>
      <img class="me-user-profile__picture" src="<%= @user.picture %>" alt="<%= @user.first_name %>">
    <% end %>
    <h1 class="me-user-profile__name">
      <%= @user.first_name %>
    </h1>
  </div>

  <section class="me-section">
    <div class="me-section__inner">
      <h2>Tópicos que você segue</h2>
      <div class="me-chip-set__wrapper">
        <div class="me-chip-set mdc-chip-set">
          <% current_user.following_topics.sort_by { |topic| topic.events.active.size }.reverse!.each do |topic| %>
            <a href="<%= link_to_topic topic %>" class="me-chip mdc-chip <%= 'new' if topic.events.active.any? { |event| current_user.last_sign_in_at < event.created_at } %>">
              <%= topic.details_name.titleize %>
              <i class="me-chip__counter"><%= topic.events.active.size %></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="me-section">
    <div class="me-section__inner">
      <%= render partial: "components/collection/collection", locals: { data: @data } %>
    </div>
  </section>

</section>
