<section class="me-page me-page--profile__section is-animated">

  <%= notice %>

  <% content_for :meta_title, "#{@user.first_name} | Alegreme.com" %>

  <div class="me-user-profile me-feed__section me-feed__section--without-margin">
    <% if @user.picture %>
      <img class="me-user-profile__picture" src="<%= @user.picture %>" alt="<%= @user.first_name %>">
    <% end %>
    <h1 class="me-user-profile__name">
      <%= @user.first_name %>
    </h1>
  </div>


  <%# if @topics %>
<!--    <div class="me-card__topics">-->
      <%#= render partial: 'components/follow/follow', locals: {user: current_user, chips: @topics, event_id: ''} %>
<!--    </div>-->
  <%# end %>

  <%= render partial: "components/collection/collection", locals: @locals %>
</section>

