<%= content_tag :div,
								id:    dom_id(@event, :'main-sidebar'),
								data:  {
									controller:                                             'main-sidebar--horizontal-event',
									'main-sidebar--horizontal-event-open-in-sidebar-value': @open_in_sidebar,
									'main-sidebar--horizontal-event-open-value':            false },
								class: 'transition-opacity group' do %>
	<div class="flex bg-white select-none">
		<div class="relative flex-none w-32 h-20 bg-gray-100 rounded md:rounded-lg md:h-28 md:w-48">
			<%= link_to event_path(@event),
									title: "Preview: #{@event.name}",
									class: 'inline-block w-full h-full',
									data:  {
										'turbo-preserve-scroll': true,
										action:                  'click->main-sidebar--horizontal-event#openEvent',
										'event-id':              @event.id
									} do %>
				<%= image_tag helpers.shrine_image_url(@event, :feed), {
					loading: :lazy,
					alt:     "Cartaz do evento #{@event.name}",
					data:    {
						'event-id': @event.id
					},
					class:   'border cursor-pointer object-center object-cover h-full w-full rounded-md md:rounded-lg',
					onerror: "this.style.opacity='0'"
				} rescue nil %>
			<% end %>
			<% if helpers.is_new_event? @event %>
				<div title="Criado nas últimas 48 horas" class="absolute bg-white border border-brand-100 bottom-1 font-semibold left-1 md:bottom-2 md:left-2 md:shadow px-1 py-0.5 rounded text-brand-600 text-white text-xxs">NOVO</div>
			<% end %>
		</div>
		<div class="hidden pl-6 md:inline-block">
			<div class="hidden items-center text-sm md:flex md:space-x-2">
				<div class="hidden h-6 md:flex">
					<% @event.organizers[0...1].each do |organizer| %>
						<div data-controller="hovercard"
								 data-hovercard-active-value="true"
								 data-hovercard-preserve-value="false"
								 data-hovercard-hide-mouseenter-value="true"
								 data-hovercard-timer-value="600">
							<div class="relative" data-hovercard-target="card" data-action="mouseenter->hovercard#clearTimerHide mouseleave->hovercard#hide"></div>
							<%= link_to organizer_path(organizer), class: 'inline-block', data: { 'turbo-preserve-scroll': true,
																																										url:                     hovercard_organizer_path(organizer),
																																										action:                  "mouseenter->hovercard#show mouseleave->hovercard#hide" } do %>
								<%= image_tag helpers.shrine_image_url(organizer, :sm), {
									loading: :lazy,
									title:   organizer.details_name,
									alt:     "Organizador #{organizer.details_name}",
									class:   'border border-brand-100 bg-brand-100 h-6 object-center object-cover rounded-full w-6',
									onerror: "this.style.opacity='0'"
								} rescue nil %>
								<% unless organizer.image %>
									<img src="<%= "https://ui-avatars.com/api/?size=24&background=random&name=#{organizer.details_name}" %>" alt="<%= "Organizador #{organizer.details_name}" %>" class="object-cover object-center w-6 h-6 rounded-full border border-brand-100 bg-brand-100">
								<% end %>
							<% end %>
						</div>
					<% end %>
				</div>
				<span class="inline text-gray-700 md:inline-block">
							<% if @event.multiple_hours? %>
								<span title="Acontece em vários horários, verifique no site oficial">
									+1 horário
								</span>
							<% else %>
									<%= helpers.format_hour @event.start_time %>h
							<% end %>
						</span>
				<span class="text-gray-700 md:hidden">·</span>
				<span class="hidden md:inline">
							<span class="text-gray-700">·</span>
							<span class="text-gray-700">
								<%= link_to helpers.limit_place_name_size(@event.place_name, 30), place_path(@event.place), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
							</span>
						</span>
			</div>
			<%= link_to event_path(@event),
									title: "Preview: #{@event.name}",
									data:  {
										'turbo-preserve-scroll': true,
										action:                  'click->main-sidebar--horizontal-event#openEvent',
										'event-id':              @event.id
									},
									class: 'c-h3 inline md:hover:text-brand-600 mb-1' do %>
				<%= helpers.limit_name_size @event.name, 50 %>
			<% end %>
			<span class="text-gray-700 md:font-medium md:text-brand-600">
				· <%= link_to @event&.categories_display_name&.capitalize, category_events_path(@event.categories_url), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
			</span>
			<span>·</span>
			<% if @event.prices&.present? %>
				<span class="text-sm" title="Preço médio informado na descrição do evento">
					<%= number_to_currency helpers.prices_average(@event.prices), locale: 'pt-BR' %>
					·
				</span>
			<% end %>
			<!--			<span class="hidden text-sm font-light text-gray-700 md:inline">-->
			<%#= helpers.limit_description_size(@event.description, 80)&.capitalize %>
			<!--			</span>-->
			<div class="<%= helpers.class_names('flex transition-opacity duration-150',
																					{ 'mt-1 -ml-3 md:group-hover:opacity-100  md:opacity-0': !@user&.like_or_dislike?(@event),
																						'mt-2':                                                @user&.like_or_dislike?(@event) }) %>">
				<%= render partial: 'layouts/save_button', locals: { user: @user, event: @event } %>
				<div class="<%= helpers.class_names('hidden md:flex md:group-hover:opacity-100 md:opacity-0 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 text-gray-500 hover:text-brand-600 items-center justify-center rounded-full select-none text-sm transform transition-transform hover:bg-brand-100 px-2 py-1',
																						{ 'ml-2': !@user&.like?(@event) }) %>"
						 data-controller="share-button"
						 data-share-button-text="<%= strip_tags(helpers.limit_description_size(@event.description)) %>"
						 data-share-button-title="<%= @event.name %>"
						 data-share-button-url="<%= event_url(@event, format: :html) %>"
						 data-action="click->share-button#share">
					<input class="absolute opacity-0 hidden" style="bottom: -30px" data-share-button-target="input" type="text" value="<%= event_url(@event, format: :html) %>">
					<svg class="mr-1.5 h-4 stroke-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
					</svg>
					<div>Compartilhar</div>
				</div>
				<% if @user&.admin? %>
					<div class="flex-grow"></div>
					<%= link_to 'Editar', edit_admin_event_path(@event), class: 'md:flex md:group-hover:opacity-100 md:opacity-0 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 text-gray-500 hover:text-brand-600 items-center justify-center rounded-full select-none text-sm transform transition-transform hover:bg-brand-100 px-2 py-1 jus' %>
				<% end %>
			</div>
		</div>
		<div class="flex pl-6 -mt-1 md:hidden">
			<%= content_tag :a,
											href:  event_path(@event),
											data:  {
												'turbo-preserve-scroll': true,
												action:                  'click->main-sidebar--horizontal-event#openEvent',
												'event-id':              @event.id
											},
											class: 'inline-block' do %>
				<%= tag.div helpers.limit_name_size(@event.name, 40), class: 'c-h3 inline' %>

				<span>·</span>
				<div class="inline text-sm text-gray-700">
					<% if @event.multiple_hours? %>
					<span title="Acontece em vários horários, verifique no site oficial">
						+1 horário
					</span>
					<% else %>
						<%= helpers.format_hour @event.start_time %>h
					<% end %>
				</div>
				<span>·</span>
				<div class="inline text-sm text-brand-600 md:font-medium md:text-brand-600">
					<%= @event&.categories_display_name&.capitalize %>
				</div>
				<span>·</span>
				<div class="inline text-sm text-gray-700">
					<%= helpers.limit_place_name_size(@event.place_name, 20)&.titleize %>
				</div>
			<% end %>
			<%= render partial: 'layouts/save_button', locals: { user: @user, event: @event, text: false } %>
		</div>
	</div>
<% end %>