<%= content_tag :div,
								id:    dom_id(@event, :'main-sidebar'),
								data:  {
									controller:                                             'main-sidebar--horizontal-event',
									'main-sidebar--horizontal-event-open-in-sidebar-value': @open_in_sidebar,
									'main-sidebar--horizontal-event-open-value':            false },
								class: 'transition-opacity group' do %>
	<div class="flex bg-white select-none tap-highlight-none">
		<div>
			<div data-controller="ripple"
					 class="relative w-24 h-16 rounded-lg shadow bg-brand-100 md:h-28 md:w-48 ripple ripple-white"
					 style="background-color: <%= helpers.get_image_dominant_color(@event) %>">
				<%= link_to event_path(@event),
										data: {
											'turbo-preserve-scroll': true,
											action:                  'click->main-sidebar--horizontal-event#openEvent',
											'event-id':              @event.id
										} do %>
					<%= image_tag helpers.shrine_image_url(@event, :feed), {
						loading: :lazy,
						alt:     "Cartaz do evento #{@event.name}",
						data:    {
							'event-id': @event.id
						},
						class:   'border cursor-pointer object-center object-cover h-full w-full rounded md:rounded-lg',
						onerror: "this.style.opacity='0'"
					} rescue nil %>
				<% end %>
				<% if helpers.is_new_event? @event %>
					<div title="Criado nas últimas 48 horas" class="absolute left-1 -top-2 py-1 px-2 font-semibold bg-white rounded-full border border-gray-100 shadow md:left-3 text-brand-600 text-xxs">NOVO</div>
				<% end %>
			</div>
		</div>
		<div class="-mt-1.5 pl-6">
			<div class="inline items-center text-sm md:flex md:space-x-2">
				<span class="hidden -space-x-2 md:flex">
					<% @event.organizers[0...1].each do |organizer| %>
						<%= link_to organizer_path(organizer), class: 'inline-block' do %>
							<%= image_tag helpers.shrine_image_url(organizer, :sm), {
								loading: :lazy,
								title:   organizer.details_name,
								alt:     "Organizador #{organizer.details_name}",
								class:   'border border-brand-100 bg-brand-100 h-6 object-center object-cover rounded-full w-6',
								onerror: "this.style.opacity='0'"
							} rescue nil %>
						<% end %>
					<% end %>
				</span>
				<span class="hidden text-gray-700 md:inline">·</span>
				<span class="inline text-gray-700 md:inline-block">
							<%= helpers.format_hour @event.start_time %>h
				</span>
				<span class="text-gray-700 md:hidden">·</span>
				<div class="hidden md:inline">
					<span class="text-gray-700">·</span>
					<span class="text-gray-700">
  					<%= link_to helpers.limit_place_name_size(@event.place_details_name, 30), place_path(@event.place), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
  				</span>
				</div>
			</div>
			<%= content_tag :a,
											href:  event_path(@event),
											data:  {
												'turbo-preserve-scroll': true,
												action:                  'click->main-sidebar--horizontal-event#openEvent',
												'event-id':              @event.id
											},
											class: 'text-sm md:text-base c-h3 inline md:hover:text-brand-600 mb-1' do %>
				<%= @event.name %>
			<% end %>
			<div class="inline text-sm">
				<span class="hidden md:inline">
						·
				</span>
				<span class="hidden font-medium md:inline text-brand-600">
					<%= link_to @event&.categories_display_name&.titleize, category_events_path(@event.categories_url), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
				</span>
				<span>
						·
				</span>
				<span class="text-gray-500 md:hidden">
					<%= link_to helpers.limit_place_name_size(@event.place_details_name, 30), place_path(@event.place), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
				</span>
				<span class="hidden font-light text-gray-700 md:inline">
					<%= helpers.limit_description_size @event.description, 80 %>
				</span>
			</div>
			<!--			<div class="text-gray-500">-->
			<!--				<%#= helpers.format_hour @event.start_time %>h ·-->
			<%#= link_to @event&.categories_display_name&.titleize, category_events_path(@event.categories_url), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:text-brand-600' %>
			<!--			</div>-->
			<div class="<%= helpers.class_names('flex transition-opacity duration-150',
																					{ 'mt-1 -ml-3 md:group-hover:opacity-100  md:opacity-0': !@user&.like_or_dislike?(@event),
																						'mt-2':                                           @user&.like_or_dislike?(@event) }) %>">
				<% unless @user&.dislike?(@event) %>
					<%= content_tag :div,
													id:    dom_id(@event, :like),
													data:  {
														action:     'click->main-sidebar--horizontal-event#like',
														'event-id': @event.id,
														component:  'horizontal-event'
													},
													class: helpers.class_names('mr-1 cursor-pointer duration-100 ease-linear flex font-medium group hover:bg-brand-100 px-2 py-1 items-center justify-center rounded-full select-none tap-highlight-none text-sm transform transition-transform',
																										 { 'bg-brand-100 px-2 py-1': @user&.like?(@event) }) do %>
						<svg class="<%= helpers.class_names 'h-4 stroke-current group-hover:text-brand-600',
																								{ 'text-gray-500':               !@user&.like?(@event),
																									'text-brand-600 fill-current': @user&.like?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
						</svg>
						<span class="<%= helpers.class_names('ml-1 group-hover:text-brand-600', { 'text-gray-500':  !@user&.like?(@event),
																																											'text-brand-600': @user&.like?(@event) }) %>">
							<%= @user&.like?(@event) ? 'Salvo' : 'Salvar' %>
						</span>
					<% end %>
				<% end %>
				<%# unless @user&.like?(@event) %>
				<%#= content_tag :div,
													id:    dom_id(@event, :dislike),
													data:  {
														action:     'click->main-sidebar--horizontal-event#dislike',
														'event-id': @event.id,
														component:  'horizontal-event'
													},
													class: 'cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:text-gray-600 items-center justify-center rounded-full select-none tap-highlight-none text-sm transform transition-transform' do %>
				<!--						<svg class="<%#= helpers.class_names 'h-5 w-5 stroke-current',-->
																								{ 'text-gray-500 hover:text-gray-600': !@user&.dislike?(@event),
																									'text-red-500':                      @user&.dislike?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14H5.236a2 2 0 01-1.789-2.894l3.5-7A2 2 0 018.736 3h4.018a2 2 0 01.485.06l3.76.94m-7 10v5a2 2 0 002 2h.096c.5 0 .905-.405.905-.904 0-.715.211-1.413.608-2.008L17 13V4m-7 10h2m5-10h2a2 2 0 012 2v6a2 2 0 01-2 2h-2.5"/>
										</svg>-->
				<%# end %>
				<%# end %>
				<div class="<%= helpers.class_names('hidden md:flex md:group-hover:opacity-100 md:opacity-0 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 text-gray-500 hover:text-brand-600 items-center justify-center rounded-full select-none tap-highlight-none text-sm transform transition-transform hover:bg-brand-100 px-2 py-1',
																						{ 'ml-2': !@user&.like?(@event) }) %>"
						 data-controller="share-button"
						 data-share-button-text="<%= strip_tags(helpers.limit_description_size(@event.description)) %>"
						 data-share-button-title="<%= @event.name %>"
						 data-share-button-url="<%= event_url(@event, format: :html) %>"
						 data-action="click->share-button#share">
					<input class="absolute opacity-0" style="bottom: -30px" data-share-button-target="input" type="text" value="<%= event_url(@event, format: :html) %>">
					<svg class="mr-1.5 h-4 stroke-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
					</svg>
					<div>Compartilhar</div>
				</div>
			</div>
		</div>
	</div>
<% end %>