<%= content_tag :div,
								id:    'main-sidebar--large-event',
								data:  {
									controller: 'main-sidebar--large-event'
								},
								class: 'transition-all overflow-x-hidden transform duration-300' do %>
	<% if @event %>
		<div class="flex items-center transition-all duration-300 transform">
			<div class="overflow-hidden relative rounded-xl border h-screen-8/10">
				<% if helpers.already_happened? @event %>
					<div class="flex items-center p-3 mx-4 mb-3 space-x-2 max-w-screen-lg text-sm font-semibold rounded-lg bg-brand-100 border-brand-200 md:mb-0 md:mx-auto text-brand-600">
						<div class="flex flex-shrink-0 justify-center items-center mx-auto w-12 h-12 rounded-full bg-brand-100 sm:mx-0 sm:h-10 sm:w-10">
							<!-- Heroicon name: exclamation -->
							<svg class="w-6 h-6 text-brand-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
							</svg>
						</div>
						<div>
							Este evento já ocorreu <%= I18n.l(@event.end_time) if @event&.end_time %>.
						</div>
					</div>
				<% end %>
				<div data-action="click->main-sidebar--large-event#close" class="fixed absolute top-0 right-0 z-50 p-1 mt-2 mr-7 text-gray-600 bg-white rounded-full shadow transition-transform duration-300 transform cursor-pointer hover:scale-105">
					<svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M0 0h24v24H0V0z" fill="none"/>
						<path d="M18.3 5.71c-.39-.39-1.02-.39-1.41 0L12 10.59 7.11 5.7c-.39-.39-1.02-.39-1.41 0-.39.39-.39 1.02 0 1.41L10.59 12 5.7 16.89c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0L12 13.41l4.89 4.89c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"/>
					</svg>
				</div>
				<div data-main-sidebar--large-event-target="scrollContent" class="overflow-y-scroll overscroll-contain h-full">
					<div class="relative" style="background-color: <%= helpers.get_image_dominant_color(@event) %>">
						<img src="<%= @event.image[:feed].try { |image| image.url(public: true) } %>" alt="<%= @event.name %>" class="object-cover object-center h-56 w-full border-b">
					</div>
					<div class="flex relative z-20 flex-wrap items-center py-2 px-3 -mt-6">
						<a href="<%= @event.source_url %>" rel="nofollow" target="_blank" class="text-xs c-chip mr-3 mb-3 shadow group hover:shadow-md">
							<div class="font-semibold group-hover:text-brand-600">Site oficial</div>
							<svg class="ml-2 h-5 text-gray-700 stroke-current group-hover:text-brand-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
							</svg>
						</a>
						<% if @event.ticket_url %>
							<a href="<%= @event.ticket_url %>" rel="nofollow" target="_blank" class="text-xs c-chip mr-3 mb-3 shadow group hover:shadow-md">
								<div class="font-semibold group-hover:text-brand-600">Ingressos</div>
								<svg class="ml-2 h-5 text-gray-700 stroke-current group-hover:text-brand-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 5v2m0 4v2m0 4v2M5 5a2 2 0 00-2 2v3a2 2 0 110 4v3a2 2 0 002 2h14a2 2 0 002-2v-3a2 2 0 110-4V7a2 2 0 00-2-2H5z"/>
								</svg>
							</a>
						<% end %>
						<div class="text-xs c-chip shadow group hover:shadow-md mr-3 mb-3"
								 data-controller="share-button"
								 data-share-button-text="<%= strip_tags(helpers.limit_description_size(@event.description, 160)) %>"
								 data-share-button-title="<%= @event.name %>"
								 data-share-button-url="<%= event_url(@event, format: :html) %>"
								 data-action="click->share-button#share">
							<input class="absolute opacity-0" style="bottom: -30px" data-share-button-target="input" type="text" value="<%= event_url(@event, format: :html) %>">
							<div class="font-semibold group-hover:text-brand-600">Compartilhar</div>
							<svg class="ml-2 h-5 text-gray-700 stroke-current group-hover:text-brand-600" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z"/>
							</svg>
						</div>
					</div>
					<div class="py-3 px-5">
						<div class="text-xs font-light text-gray-400">
							Atualizado há <%= time_ago_in_words @event&.updated_at %>
						</div>
						<h1 class="c-h3">
							<%= @event.name %>
						</h1>
						<div class="flex items-center -ml-1">
							<%= content_for :div,
															id:    'main-sidebar--large-event-like',
															data:  {
																reflex: 'click->Event#open'
															},
															class: 'p-2 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:scale-105 hover:text-gray-600 items-center justify-center mdc-ripple-upgraded--unbounded rounded-full select-none tap-highlight-none text-gray-600 text-sm transform transition-transform' do %>
								<svg class="<%= helpers.class_names 'fill-current h-5 hover:scale-150 w-5',
																										{ 'text-gray-600':  !@user&.like?(@event),
																											'text-brand-500': @user&.like?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
									<path d="M13.12 2.06L7.58 7.6c-.37.37-.58.88-.58 1.41V19c0 1.1.9 2 2 2h9c.8 0 1.52-.48 1.84-1.21l3.26-7.61C23.94 10.2 22.49 8 20.34 8h-5.65l.95-4.58c.1-.5-.05-1.01-.41-1.37-.59-.58-1.53-.58-2.11.01zM3 21c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2s-2 .9-2 2v8c0 1.1.9 2 2 2z"/>
								</svg>
							<% end %>
							<%= content_for :div,
															id:    'main-sidebar--large-event-dislike',
															data:  {
																reflex: 'click->Event#open'
															},
															class: 'p-2 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:scale-105 hover:text-gray-600 items-center justify-center mdc-ripple-upgraded--unbounded rounded-full select-none tap-highlight-none text-gray-600 text-sm transform transition-transform' do %>
								<svg class="<%= helpers.class_names 'fill-current h-5 hover:scale-150 w-5',
																										{ 'text-gray-600': !@user&.dislike?(@event),
																											'text-red-500':  @user&.dislike?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
									<path d="M10.88 21.94l5.53-5.54c.37-.37.58-.88.58-1.41V5c0-1.1-.9-2-2-2H6c-.8 0-1.52.48-1.83 1.21L.91 11.82C.06 13.8 1.51 16 3.66 16h5.65l-.95 4.58c-.1.5.05 1.01.41 1.37.59.58 1.53.58 2.11-.01zM21 3c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2s2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
								</svg>
							<% end %>
						</div>
					</div>
					<div class="flex p-5 border-t border-b border-gray-100">
						<div class="bg-brand-100 flex flex-col h-content justify-items-center mr-5 my-auto px-1.5 py-1 rounded-md text-center text-xs w-content">
							<div class="font-bold font-display text-brand-700">
								<%= l(@event.start_time, format: "%-d") %>
							</div>
							<div class="font-semibold text-brand-600">
								<%= l(@event.start_time, format: "%^b") %>
							</div>
						</div>
						<div class="my-auto text-xs text-gray-800">
							<% if @event.multiple_hours? %>
								<%= "#{I18n.l(@event.start_time, format: :date).capitalize}, em múltiplos horários#{'.' unless @event&.start_time > DateTime.now + 2}" %>
								<%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['hours', 'minutes']}." if @event&.start_time > DateTime.now + 2 %>
								<%= link_to 'Confirmar horários', @event.source_url, class: 'text-brand-600', rel: 'nofollow', target: '_blank' rescue nil %>
							<% else %>
								<%= "#{I18n.l(@event.start_time, format: :default).capitalize}#{'.' unless @event&.start_time > DateTime.now + 2}" %> <%= ", daqui #{helpers.distance_of_time_in_words @event&.start_time, DateTime.now, false, except: ['hours']}." if @event&.start_time > DateTime.now + 2 %>
							<% end %>
						</div>
					</div>
					<div class="py-5 px-5 border-b border-gray-100">
						<%= link_to place_path(@event&.place), title: @event.place_details_name, class: 'c-h3 inline items-center space-x-2', data: { 'turbo-preserve-scroll': true } do %>
							<%= helpers.limit_place_name_size(@event.place_details_name, 26) %>
						<% end %>
						·
						<%= render(FollowButtonComponent.new(
							user:       @user,
							followable: @event&.place,
							type:       'text'
						)) %>
						<div class="mt-2 text-sm leading-tight text-gray-600">
							<%= helpers.limit_address_name_size @event.geographic['address'] %> ·
							<%= link_to 'Abrir no Google Maps', helpers.google_maps_url(@event.geographic['address']), class: 'inline text-brand-600 underline text-xs', target: '_blank' %>
						</div>
					</div>
					<div class="py-5 px-5">
						<h2 class="c-h3">Sobre o evento</h2>
						<div class="mt-2 text-sm leading-relaxed text-gray-600 break-words text-with-html">
							<%= @event.description.html_safe %>
						</div>
					</div>
					<% if @event&.organizers.present? %>
						<div class="px-5 mt-6 mb-5">
							<h2 class="c-h3">Organizadores</h2>
							<div class="grid grid-cols-1 mt-2 space-y-2">
								<% @event.organizers.each do |organizer| %>
									<%= link_to organizer_path(organizer), class: 'flex text-sm items-center space-x-3' do %>
										<%= image_tag organizer.image[:sm].try { |image| image.url(public: true) },
																	loading: :lazy,
																	class:   'w-6 h-6 rounded-full shadow-sm border border-gray-100',
																	onerror: "this.style.opacity='0'" rescue nil %>
										<div class="text-sm text-gray-800">
											<%= organizer.details_name %>
										</div>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>
					<% if @similar_events.present? %>
						<div class="mt-10 mb-5">
							<h2 class="px-5 c-h3">Similares</h2>
							<div class="grid grid-cols-1 space-y-4 mt-2">
								<% @similar_events.each do |similar_event| %>
									<div data-controller="main-sidebar--horizontal-event"
											 data-main-sidebar--horizontal-event-open-in-sidebar-value="false"
											 class="flex px-5">
										<%= link_to event_path(similar_event),
																data:     {
																	'turbo-preserve-scroll': true,
																	action:                  'click->main-sidebar--horizontal-event#openEvent',
																	'event-id':              similar_event.id
																}, class: 'flex-shrink-0 h-16 mr-4 overflow-hidden w-16' do %>
											<%= image_tag helpers.shrine_image_url(similar_event, :feed), {
												loading: :lazy,
												class:   'h-full object-center object-cover rounded-lg w-full border',
												onerror: "this.style.opacity='0'"
											} rescue nil %>
										<% end %>
										<%= content_tag :a,
																		href:  event_path(similar_event),
																		data:  {
																			'turbo-preserve-scroll': true,
																			action:                  'click->main-sidebar--horizontal-event#openEvent',
																			'event-id':              similar_event.id
																		},
																		class: 'text-sm inline text-sm leading-snug md:hover:text-brand-500 text-gray-800' do %>
											<%= similar_event.name %>
										<% end %>
									</div>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
			<!--			<div data-action="click->main-sidebar--large-event#close" class="fixed z-10 w-screen h-screen"></div>-->
		</div>
	<% end %>
<% end %>
