<div id="<%= dom_id friend, :friendship_request %>"
		 class="flex items-center rounded">
	<% begin %>
		<%= image_tag(friend.picture, {class: "bg-cover bg-gray-100 h-8 rounded-full w-8", alt: user.name, onerror: "this.style.opacity='0'"}) %>
	<% rescue %>
		<div class="bg-cover bg-gray-100 h-8 rounded-full w-8"></div>
	<% end %>
	<div class="flex-1 font-medium px-2 text-green-500 text-sm">
		<%= link_to friend.first_name, user_path(friend) %>
	</div>
	<div class="flex space-x-1">
		<% if user.friendship_request_received? friend %>
			<div class="p-1 rounded text-gray-300 text-sm"
					 data-reflex="click->Friendship#friendship"
					 data-reflex-root="#page"
					 data-friend-id="<%= user.id %>"
					 data-user-id="<%= friend.id %>"
					 data-friendship-action="refuse">
				Recusar
			</div>
			<div class="bg-green-50 text-green-600 text-sm p-1 font-medium rounded"
					 data-reflex="click->Friendship#friendship"
					 data-reflex-root="#page"
					 data-friend-id="<%= user.id %>"
					 data-user-id="<%= friend.id %>"
					 data-friendship-action="accept">
				Aceitar
			</div>
		<% elsif user.friendship_accepted? friend %>
			<div class="p-1 rounded text-green-400 text-sm">
				Aceito
			</div>
		<% else %>
			<div class="p-1 text-red-400 text-sm">
				Recusado
			</div>
		<% end %>
	</div>
</div>
