<%= content_tag :div, id: dom_id(@event), data: { controller: 'calendar--horizontal-event', 'calendar--horizontal-event-open-in-sidebar': @open_in_sidebar }, class: 'relative last:z-10' do %>
	<div class="bg-white border-gray-100 flex justify-between md:border mt-2 mx-2 md:mx-0 px-3 md:px-5 py-3 rounded-lg">
		<div class="pr-6">
			<div class="mb-1 text-sm md:text-xs text-gray-500">
				<%= helpers.day_of_week(@event.start_time).titlecase %> às <%= helpers.format_hour @event.first_day_time %>h
			</div>
			<%= content_tag :a,
											href:  event_path(@event),
											data:  {
												'turbo-preserve-scroll': true,
												action:                  'click->calendar--horizontal-event#openEvent',
												'event-id':              @event.id
											},
											class: 'font-bold md:hover:underline mb-1 inline-block leading-snug text-gray-700' do %>
				<%= @event.details_name %>
			<% end %>
			<div class="text-sm md:text-xs md:mt-2 text-gray-500">
				<%= link_to helpers.limit_place_name_size(@event.place_details_name, 24), place_path(@event.place), data: { 'turbo-preserve-scroll': true }, class: 'md:hover:underline' %>
			</div>
			<div class="flex mt-1 -ml-2">
				<%= content_tag :div,
												id:    dom_id(@event, :like),
												data:  {
													action:     'click->calendar--horizontal-event#like',
													'event-id': @event.id,
													component:  'horizontal-event'
												},
												class: 'p-2 cursor-pointer duration-100 ease-linear flex font-medium group hover:px-3 hover:scale-105 hover:text-gray-600 items-center justify-center rounded-full select-none tap-highlight-none text-sm transform transition-transform' do %>
					<svg class="<%= helpers.class_names 'fill-current h-5 hover:scale-150 w-5',
																							{ 'text-gray-300 hover:text-gray-400': !@user&.like?(@event),
																								'text-green-500':                    @user&.like?(@event) } %>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
						<path d="M13.12 2.06L7.58 7.6c-.37.37-.58.88-.58 1.41V19c0 1.1.9 2 2 2h9c.8 0 1.52-.48 1.84-1.21l3.26-7.61C23.94 10.2 22.49 8 20.34 8h-5.65l.95-4.58c.1-.5-.05-1.01-.41-1.37-.59-.58-1.53-.58-2.11.01zM3 21c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2s-2 .9-2 2v8c0 1.1.9 2 2 2z"/>
					</svg>
				<% end %>
			</div>
		</div>
		<div>
			<div data-controller="ripple" class="h-20 md:h-24 md:w-40 mt-3 overflow-hidden relative ripple ripple-white rounded-lg shadow w-32">
				<%= link_to event_path(@event),
										data: {
											'turbo-preserve-scroll': true,
											action:                  'click->calendar--horizontal-event#openEvent',
											'event-id':              @event.id
										} do %>
					<%= image_tag helpers.shrine_image_url(@event, :feed), {
						loading: :lazy,
						alt:     "Cartaz do evento #{@event.details_name}",
						data:    {
							'event-id': @event.id
						},
						class:   'cursor-pointer object-center object-cover h-full w-full',
						onerror: "this.style.opacity='0'"
					} rescue nil %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>