
<p>
	<%= "#{@events_to_train[:total_count]} eventos para treinamento" %>
</p>


<tr style="font-weight: bold">
	<td>Cover</td>
	<td>Nome</td>
	<td>Local</td>
	<td>Descrição</td>
	<td>Tema</td>
	<td>Categoria</td>
	<td>Persona</td>
	<td>Tipo</td>
	<td>Tags</td>
</tr>
<% cache @events_to_train[:events] do %>
	<% @events_to_train[:events].each do |event| %>
		<% cache(event) do %>
			<tr>
				<td><img src="<%= get_image_url event, :"list-mobile" %>"></td>
				<td> <a href="<%= event.url %>"> <%= limit_name_size event.details_name %> </a> </td>
				<td><%= event.place_details_name %></td>
				<td>
					<%= limit_description_size event.details_description, 565 %> <br/>
				</td>
				<td id="<%= dom_id event, 'chip_themes' %>">
					<%= render partial: 'layouts/classifier/chips', locals: {event: event, feature: 'themes'} %>
				</td>
				<td id="<%= dom_id event, 'chip_categories' %>">
					<%= render partial: 'layouts/classifier/chips', locals: {event: event, feature: 'categories'} %>
				</td>
				<td id="<%= dom_id event, 'chip_personas' %>">
					<%= render partial: 'layouts/classifier/chips', locals: {event: event, feature: 'personas'} %>
				</td>
				<td id="<%= dom_id event, 'kinds' %>">
					<%= render partial: 'layouts/classifier/kinds', locals: {event: event} %>
				</td>
				<td>
					<div id="<%= dom_id event, 'things' %>">
						<%= render partial: 'layouts/classifier/tags', locals: {
							event: event, 
							type: 'things',
							tags_to_select: whitelist_tags_by_type(event, 'things')
						} %>
					</div>
					<div id="<%= dom_id event, 'activities' %>">
						<%= 
						render partial: 'layouts/classifier/tags', locals: {
							event: event, 
							type: 'activities', 
							tags_to_select: whitelist_tags_by_type(event, 'activities')
						} 
						%>
					</div>
					<div id="<%= dom_id event, 'features' %>">
						<%= render partial: 'layouts/classifier/tags', locals: {
							event: event, 
							type: 'features',
							tags_to_select: whitelist_tags_by_type(event, 'features')
							} %>
					</div>
				</td>
			</tr>
		<% end %>
	<% end %>
<% end %>
