<%= form_with(model: event, local: true) do |form| %>
	<% if event.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

			<ul>
				<% event.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="max-w-md w-full space-y-10 mx-auto mb-10">

		<div class="">
			<div class="" style="<%= get_image_style_attr @event, { preload: true } %>">
			</div>
		</div>

		<h3 class="font-bold text-xl">Detalhes</h3>

		<div class="">
			<label class="font-semibold" for="" style="">Nome</label>
			<%= form.text_field :details_name, class: 'w-full p-2 border' %>
		</div>

		<div class="">
			<label class="font-semibold">Descrição</label>
			<%= form.text_area :details_description, { class: "w-full p-2 border", rows: "8", cols: "40" } %>
		</div>

		<div class="">
			<%= form.fields_for :ocurrences, event.ocurrences do |occur| %>
				<label class="font-semibold" for="" style="">Data</label>
				<%= occur.datetime_field :dates, { value: datetime_local(event.ocurrences['dates'][0]), class: 'w-full p-2 border', multiple: true } %>
			<% end %>
		</div>

		<div>
			<label class="font-semibold" for="" style="">Preço</label>
			<%= form.text_field :details_prices, class: 'w-full p-2 border' %>
		</div>

		<h3 class="font-bold text-xl">Personas</h3>

		<div class="">
			<label for="" class="font-semibold" style="">Persona primária</label>
			<%= form.select(:personas_primary_name, Event::PERSONAS, {}, { class: "w-full p-2 border" }) %>
		</div>

		<div class="">
			<label class="font-semibold" for="" style="">Score</label>
			<%= form.text_field :personas_primary_score, class: 'w-full p-2 border' %>
		</div>

		<div class="">
			<label for="" class="font-semibold" style="">Persona secundária</label>
			<%= form.select(:personas_secondary_name, Event::PERSONAS, {}, { class: "w-full p-2 border" }) %>
		</div>

		<div>
			<label class="font-semibold" for="" style="">Score</label>
			<%= form.text_field :personas_secondary_score, class: 'w-full p-2 border' %>
		</div>

		<h3 class="font-bold text-xl">Categorias</h3>

		<div class="">
			<label for="" class="font-semibold" style="">Categoria primária</label>
			<%= form.select(:categories_primary_name, Event::CATEGORIES, {}, { class: "w-full p-2 border" }) %>
		</div>

		<div>
			<label class="font-semibold" for="" style="">Score</label>
			<%= form.text_field :categories_primary_score, class: 'w-full p-2 border' %>
		</div>

		<div class="">
			<label for="" class=" " style="">Categoria secundária</label>
			<%= form.select(:categories_secondary_name, Event::CATEGORIES, {}, { class: "w-full p-2 border" }) %>
		</div>

		<div>
			<label class="font-semibold" for="" style="">Score</label>
			<%= form.text_field :categories_secondary_score, class: 'w-full p-2 border' %>
		</div>

		<div class="">
			<label class="font-semibold" for="">Outlier</label>
			<%= form.check_box :personas_outlier, { class: '' }, 'true', 'false' %>
		</div>

		<div class="flex gap-2 inline-block justify-end w-full">
			<%= link_to 'Exluir', @event, method: :delete, data: { confirm: 'Destruir evento' }, class: 'bg-gray-100 font-semibold px-5 py-2 rounded text-gray-500' %>
			<button class="bg-brand-500 font-semibold px-5 py-2 rounded text-white">
				Salvar
			</button>
		</div>

	</div>

<% end %>
