<p id="notice"><%= notice %></p>

<div class="me-single">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">


        <div class="me-card mdc-card event-<%= @event.id %>" data-controller="event" data-target="event.event" data-event-favorited="<%= current_user.favorited?(@event, scope: ['favorite']) if current_user %>" data-event-identifier="<%= @event.id %>">
          <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('<%= @event.cover_url %>')">
          </div>

          <div class="me-card__primary">
            <h2 class="mdc-card__title mdc-typography--headline6">
              <%= @event.name[0..50] %>
            </h2>
          </div>

          <div class="me-card__secondary">
            <h3 class="mdc-card__subtitle mdc-typography--subtitle1">
            </h3>

            <div class="mdc-typography--body2">
              <b>Quando:</b> <%= @event.day_of_week %><br>
              <% if @event.place %>
              <b>Local:</b> <%= @event.place.name[0..40] %><br>
              <b>Endereço:</b> <%= @event.place.address %><br>
              <% end %>
              <b>Descrição:</b> <%= @event.description.html_safe %><br>
            </div>
          </div>

          <div class="me-card__like-button" data-action="click->event#like">
            <div data-target="event.like">
              <button data-target="event.likeButton" id="add-to-favorites" class="me-icon-button mdc-icon-button <%= 'mdc-icon-button--on' if favorited(@event) %>" aria-label="Add to favorites" aria-hidden="true" aria-pressed="false">
                <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">star</i>
                <i class="material-icons mdc-icon-button__icon">star_border</i>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
