<%= notice %>

<% content_for :meta_title, "Evento #{@event.details_name.gsub(/[^[$][-]\p{L}\p{M}*+ ]|[+]/i, '')} em Porto Alegre | Alegreme.com" %>
<% content_for :meta_description, strip_tags(limit_description_size(@event.details_description, 160)) %>
<% content_for :meta_image, @event.image[:original].try { |image| image.url(public: true) } %>
<% content_for :canonical_url, event_url(@event, format: :html) %>
<% content_for :amp_url, event_url(@event, format: :amp) %>

<% content_for :back_button, true %>
<% content_for :top_app_bar_title, truncate(@event.details_name, length: 30) %>

<%= content_for :preload_image, @event.image[:original].try { |image| image.url(public: true) } %>

<script type="application/ld+json">
{
 "@context": "http://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
  {
   "@type": "ListItem",
   "position": 1,
   "item":
   {
    "@id": "<%= city_events_url %>",
    "name": "Eventos em Porto Alegre"
    }
  },
  {
   "@type": "ListItem",
  "position": 2,
  "item":
   {
     "@id": "<%= category_events_url(@event.categories_primary_name) %>",
     "name": "<%= "Eventos em Porto Alegre na categoria #{@event.categories_primary_name.try(:capitalize)}" %>"
   }
  },
  {
    "@type": "ListItem",
    "position": 3,
    "item":
     {
       "@id": "<%= day_events_url(@event.day_of_week['date'].strftime('%d-%m-%Y')) %>",
       "name": "<%= "Eventos em Porto Alegre dia #{I18n.l(@event.day_of_week['date'], format: :long)}" %>"
     }
  },
  {
    "@type": "ListItem",
    "position": 4,
    "item":
     {
       "@id": "<%= place_path(@event.place) %>",
       "name": "<%= "Eventos em #{limit_place_name_size(@event.place_details_name, 30)}" %>"
     }
  }
 ]
}

</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "<%= @event.details_name.gsub(/[^[$][-]\p{L}\p{M}*+ ]/i, '') %>",
  "startDate": "<%= @event.ld_json.start_date %>",
  "endDate": "<%= @event.ld_json.end_date %>",
  "image": [
    "<%= @event.image[:original].try { |image| image.url(public: true) } %>"
   ],
  "description": "<%= strip_tags(@event.details_description).gsub(/[^[$][-]\p{L}\p{M}*+ ]/i, '') %>",
  "url": "<%= event_path(@event, format: :html) %>",
  "location": {
    "@type": "Place",
    "name": "<%= @event.place_details_name %>",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "<%= @event.geographic['address'] %>",
      "addressLocality": "<%= @event.geographic['city'] %>",
      "postalCode": "<%= @event.geographic['cep'] %>",
      "addressRegion": "RS",
      "addressCountry": {
        "@type": "Country",
        "name": "BR"
       }
    },
    "url": "<%= place_path @event.place %>"
  },
  "offers": {
    "@type": "AggregateOffer",
    "price": "<%= @event.ld_json.price %>",
    "lowPrice": "<%= @event.ld_json.low_price %>",
    "highPrice": "<%= @event.ld_json.high_price %>",
    "priceCurrency": "BRL",
    "url": "<%= event_path(@event, format: :html) %>",
    "availability": "<%= @event.ld_json.availability %>",
    "validFrom": "<%= @event.ld_json.valid_from %>"
  }
}

</script>

<section class="relative w-full mx-auto is-animated md:mt-24 md:w-6/12">
	<%= render partial: 'events/large_event', locals: {
			event: @event,
			user:  current_user
	} %>
</section>

<section class="relative w-9/12 w-full px-2 mt-12 mb-12 md:w-9/12">
	<h2 class="px-4 mb-3 font-bold text-gray-700 uppercase">Eventos similares</h2>
	<div id="horizontal-similar-events" class="bg-white shadow-xs">
		<%= render partial: 'feeds/horizontal_event', collection: @similar_events, as: :event, locals: {user: current_user} %>
	</div>
</section>


