<section class="mt-32 min-h-screen is-animated">
	<% content_for :canonical_url, organizer_url(@organizer, format: :html) %>

	<%= notice %>

	<% content_for :meta_title, "Eventos por #{@organizer.details_name} em Porto Alegre | Alegreme.com" %>

	<script type="application/ld+json">
  [
    <%= render partial: 'layouts/json_ld', collection: @events, as: :event %>
  ]



	</script>

	<div class="is-animated md:w-9/12 mx-auto sm:container space-y-16">
		<% custom_title = capture do %>
			<div class="bg-gray-100 flex p-5 rounded-lg">
				<div class="flex-1">
					<div class="flex-1 font-bold group-hover:text-chateau-green-500 leading-6 md:leading-normal md:pl-0 md:text-5xl pl-5 text-gray-800 text-xl">
						<%= @organizer.details_name %>
					</div>
				</div>
				<div class="flex flex-no-wrap items-center px-5">
					<%= render partial: 'components/follow/follow_button', locals: {
							identifier: @organizer.details['name'].parameterize,
							user:       current_user,
							followable: @organizer
					} %>
				</div>
			</div>
		<% end %>
		<%= render partial: "components/collection/events/collection",
							 layout: "components/stimulus_container",
							 locals:  {
									 identifier:               @organizer.details['name'].parameterize,
									 user:                     current_user,
									 items:                    @events.limit(session[:stimulus][:limit]),
									 total_count:              @events.size,
									 followable:               @organizer,
									 infinite_scroll_vertical: true,
									 display_if_empty:         true,
									 show_similar_to:          session[:stimulus][:show_similar_to],
									 custom_title:             custom_title
							 } %>
	</div>

</section>
