<%= render ModalComponent.new(action: 'create-account', title: 'Você precisa estar logado', text: 'Crie uma conta para salvar seus eventos favoritos e receber recomendações únicas 🤙') %>

<section class="mb-24 min-h-screen is-animated md:mt-16">

	<% content_for :canonical_url, organizer_url(@organizer, format: :html) %>
	<% content_for :meta_title, "Eventos por #{@organizer.details_name} em Porto Alegre | Alegreme.com" %>
	<% content_for :back_button, true %>
	<% content_for :top_app_bar_title, truncate(@organizer.details_name, length: 30) %>

	<%= notice %>

	<script type="application/ld+json">
  [
    <%= render partial: 'layouts/json_ld', collection: @events, as: :event %>
  ]
	</script>

	<div class="grid grid-cols-12 gap-0 mx-auto max-w-screen-lg md:gap-10">
		<div class="col-span-12 md:col-span-4">
			<div class="overflow-hidden sticky top-28 mx-auto space-y-3 is-animated md:border md:rounded-lg md:max-w-screen-sm sm:container">
				<div class="mb-10 md:mb-0 p-6 space-y-5 bg-white rounded-md">
					<div class="flex items-center space-x-5">
						<%= image_tag shrine_image_url(@organizer, :sm), {
							loading: :lazy,
							alt:     @organizer.details_name,
							class:   'border border-gray-100 flex-shrink-0 h-12 max-w-xs mx-auto rounded-full shadow-sm w-12',
							onerror: "this.style.opacity='0'"
						} if @organizer.image_data? %>
						<div class="flex-grow">
							<h1 class="mb-3 c-h3">
								<%= @organizer.details_name %>
							</h1>
							<%= render(FollowButtonComponent.new(
								user:       current_user,
								followable: @organizer
							)) %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-12 space-y-12 md:col-span-8">
			<div class="px-5 md:px-0 pb-5 border-b md:border-0 overflow-hidden mx-auto space-y-3 is-animated md:max-w-screen-sm sm:container">
				<h2 class="md:pb-2 c-h2">Próximos eventos</h2>
				<% if @upcoming_events.present? %>
					<%= render MainSidebar::GroupByDayListComponent.new events: @upcoming_events, user: current_user, pagy: @pagy %>
				<% else %>
					Sem eventos para os próximos dias
				<% end %>
			</div>

			<% if @past_events.present? %>
				<div class="mx-auto space-y-3 is-animate md:max-w-screen-sm sm:container">
					<h2 class="px-5 md:px-0 md:pb-2 c-h2">Eventos passados</h2>
					<div class="grid grid-cols-12 gap-6 px-5 md:px-0">
						<% @past_events.each do |event| %>
							<div class="flex col-span-12 justify-between py-3 md:col-span-6 md:border-0">
								<div class="pr-6">
									<%= content_tag :a,
																	href:  event_path(event),
																	data:  {
																		action:     'click->main-sidebar--horizontal-event#openEvent',
																		url:        event_path(event),
																		'event-id': event.id
																	},
																	class: 'md:hover:underline inline-block text-sm md:font-medium mb-1 leading-snug text-gray-600' do %>
										<%= event.name %>
									<% end %>
								</div>
								<%= link_to event_path(event),
														data:         {
															action:     'click->main-sidebar--horizontal-event#openEvent',
															'event-id': event.id
														},
														'aria-label': event.details_name,
														class:        'inline-block flex-shrink-0 cursor-pointer w-12 h-12 md:h-16 md:w-16' do %>
									<%= image_tag shrine_image_url(event, :feed), {
										loading: :lazy,
										alt:     @organizer.details_name,
										class:   'h-full object-center object-cover overflow-hidden rounded-lg w-full',
										onerror: "this.style.opacity='0'"
									} rescue nil %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>
