<%= content_tag :div, id: dom_id(@event, :hero), class: helpers.class_names('relative mr-1 mt-6 transition-opacity duration-300'), data: { controller: 'hero--horizontal-event', 'hero--horizontal-event-open-in-sidebar': @open_in_sidebar, 'flip-key': dom_id(@event, :hero) } do %>
	<div data-hero--horizontal-event-target="currentItem"
			 class="transition-opacity select-none">
		<div class="flex justify-between">
			<div class="h-24 md:h-36 md:w-5/12 relative w-5/12">
				<div style="background-color: <%= @event.image_dominant_color %>"
						 class="<%= helpers.class_names('z-10 w-full h-full border-2 border-white overflow-hidden relative rounded-xl',
																						{}) %>">
					<%= link_to event_path(@event),
											id:           dom_id(@event, 'hero--horizontal-event__image'),
											'aria-label': "Ver evento #{@event&.name}",
											data:         {
												action:     'click->hero--horizontal-event#openEvent',
												'event-id': @event.id
											} do %>
						<%= image_tag helpers.shrine_image_url(@event, :medium), {
							class:   'cursor-pointer h-full object-center object-cover w-full overflow-hidden',
							alt:     @event&.name,
							onerror: "this.style.opacity='0'"
						} rescue nil %>
					<% end %>
				</div>
				<div data-hero--horizontal-event-target="shadowItem" class="-right-6 absolute bg-gray-400 h-full md:-right-10 overflow-hidden rounded-xl scale-75 top-0 transform transition-all w-full z-0">
				</div>
			</div>
			<div class="<%= helpers.class_names('pl-5 md:pl-8 flex-1', {}) %>">
				<%= content_tag :a,
												dom_id(@event, 'hero--horizontal-event__link'),
												href:  event_path(@event),
												data:  {
													action:     'click->hero--horizontal-event#openEvent',
													'event-id': @event.id
												},
												class: 'c-h3 inline leading-snug' do %>
					<%= helpers.limit_name_size @event.name, 40 %>
				<% end %>
				<div class="inline text-sm text-gray-700">
					<%= helpers.day_of_week(@event.start_time)&.capitalize %>
					· <%= @event.multiple_hours? ? '+1 horário' : "#{helpers.format_hour(@event.start_time)}h" %> ·
					<span class="text-brand-600"><%= @event&.categories_display_name&.capitalize %> ·</span>
					<%= link_to helpers.limit_place_name_size(@event.place_name, 24)&.titleize, place_path(@event.place), class: 'md:hover:underline capitalize' %>
				</div>
				<div class="hidden mt-2 text-sm font-light text-gray-700 md:inline-block">
					<%= helpers.limit_description_size @event.description, 150 %>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap md:float-right md:pl-8 md:w-7/12 mt-5 md:mt-2 space-x-3">
			<%= content_tag :div, data: { action: 'click->hero--horizontal-event#like', 'event-id': @event.id }, class: 'c-chip' do %>
				<svg class="h-4 stroke-current" fill="none" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"/>
				</svg>
				<span class="ml-1">
						Salvar
				</span>
			<% end %>
			<%= content_tag :div, data: { action: 'click->hero--horizontal-event#dislike', 'event-id': @event.id }, class: 'c-chip' do %>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 stroke-current" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.933 12.8a1 1 0 000-1.6L6.6 7.2A1 1 0 005 8v8a1 1 0 001.6.8l5.333-4zM19.933 12.8a1 1 0 000-1.6l-5.333-4A1 1 0 0013 8v8a1 1 0 001.6.8l5.333-4z"/>
				</svg>
				<span class="ml-1">
						Pular
					</span>
			<% end %>
		</div>
	</div>
<% end %>